<!-- Start Related Posts -->
<div class="related">
	{{#get "posts" limit="3" filter="tag:{{primary_tag.slug}}+slug:-{{slug}}" include="tags,authors" as |related|}}
		{{#foreach related}}
				<p>ayyy lmao</p>
				{{> article-preview}}
			{{/foreach}}
		{{/get}}
</div>
<!-- End Related Posts -->
