<!-- start prev next wrap -->
<div class="prev-next-wrap">
	{{#get "posts" limit="3" include="tags,authors" filter="slug:-{{slug}}+tag:{{primary_tag.slug}}"}}
		{{#foreach posts}}
				{{> article-preview}}
			{{/foreach}}
		{{/get}}
</div>
