<!-- Start Roundup Blurb -->
{{#has tag="Roundup"}}
    <div class="post-roundup-blurb">
        <i class="fas fa-flask"></i>
        <p>Resident Scientist Snkia works tirelessly towards robot utopia. These are his findings.</p>
    </div>
{{/has}}
<!-- End Roundup Blurb -->
