.post-archive {
  .postlist {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;

    .post-preview {
      width: auto;
      padding: 15px;
      margin-bottom: 0;

      .post-head .post-title {
        font-size: 1.5em;
      }

      .author,
      .date {
        display: none !important;
      }
    }
  }

  .pagination {
    margin: 30px auto 15px;
  }
}
