
@import "../global/variables.less";

.post-archive {
  .postlist {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin: 30px auto;
    @media(max-width: @tablet-breakpoint) {
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width: @mobile-breakpoint) {
        grid-template-columns: 1fr;
        margin: 20px auto;
    }

    .post-preview {
      width: auto;
      padding: 10px;
      margin-bottom: 0;
      @media(max-width: @tablet-breakpoint) {
          padding: 10px;
      }

      .post-title {
        font-size: 1.4em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
      }

      .post-excerpt {
        font-size: 1em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
      }

      .post-head .post-title {
        font-size: 1.4em;

        @media(max-width: @tablet-breakpoint) {
            font-size: 1.4em;
        }
      }

      .btn {
        padding: 12px 18px;
      }

      .author,
      .date {
        display: none !important;
      }
    }
  }

  .pagination {
    margin: 30px auto 15px;
    width: 80%;
  }
}
