.container {
  background: white;
  padding: 20px 40px;
  margin: 40px auto;
  box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
  width: 80% !important;
}

h1 {
  font-family: 'ProductSans-Regular', sans-serif !important;
}

a,
p {
  font-family: 'AvenirNextLTPro-Light', sans-serif !important;
}