<div class="article-preview" style="height: 280px;">
  <a href="{{url}}">
    <div class="img-wrapper " style="background-image: url({{img_url feature_image absolute="true"}});"></div>
    <div class="description">
      <h5 class="related-title">{{title}}</h5>
      <p>{{excerpt}}</p>
    </div>
</div>
</a>
