	{{#author}}
	<div class="sidebar">

		{{> widget-authortwitter}}
	</div>
	<!--<script type="text/javascript" src="{{asset "/js/includes/stitch.min.js"}}"></script>-->
	<!--<script type="text/javascript" src="{{asset "/js/includes/linkedin.js"}}"></script>-->

	{{/author}}
