{{#author}}
<div class="sidebar" class="{{author.slug}}">
	{{#if website}}
		{{> widget-authorwebsite}}
	{{/if}}
	{{> widget-github}}
	{{> widget-medium}}
	{{> widget-meetup}}
	{{#has slug="todd"}}
		<iframe src="https://feed.mikle.com/widget/v2/99948/" height="1100px" width="100%" class="fw-iframe" scrolling="no" frameborder="0" style="order:10;"></iframe>
	{{else}}
		{{> widget-authortwitter}}
	{{/has}}

</div>
{{/author}}
