<div class="sidebar" class="{{author.slug}}">
	{{> widgets/widget-github}}
	{{> widgets/widget-medium}}
	{{> widgets/widget-meetup}}
	{{> widgets/widget-authorrss}}
	{{#has slug="todd"}}
		{{> widgets/wudget-authortwitter}}
	{{else}}
        {{! Placeholder }}
	{{/has}}
</div>
