{{#author}}
<div class="sidebar" class="{{author.slug}}">
	{{#if website}}
		{{> widget-authorwebsite}}
	{{/if}}
	{{> widget-github}}
	{{> widget-medium}}
	{{> widget-meetup}}
	{{> widget-authorrss}}
	{{#has slug="todd"}}
	<div class="widget author-twitter">
		<h4 class="title">Twitter</h4>
		<iframe src="https://feed.mikle.com/widget/v2/78832/" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
	</div>
	{{else}}
		{{> widget-authortwitter}}
	{{/has}}

</div>
{{/author}}
