<div class="sidebar" class="{{author.slug}}">
    {{> widgets/widget-authorwebsite}}
	{{> widgets/widget-github}}
	{{> widgets/widget-medium}}
	{{> widgets/widget-meetup}}
	{{> widgets/widget-rss}}
	{{#has slug="todd"}}
		{{> widgets/widget-authortwitter}}
	{{else}}
        {{! Placeholder }}
	{{/has}}
</div>
