<div class="sidebar" class="{{author.slug}}">
	{{> widgets/widget-github}}
	{{> widgets/widget-medium}}
	{{> widgets/widget-meetup}}
	{{> widgets/widget-authorrss}}
	{{#has slug="todd"}}
	<div class="widget author-twitter">
		<h4 class="title">Twitter</h4>
		<iframe src="https://feed.mikle.com/widget/v2/103096/" height="740px" width="100%" class="fw-iframe" frameborder="0"></iframe>
	</div>
	{{else}}
		{{> widgets/widget-authortwitter}}
	{{/has}}
</div>
