<!-- start copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span>{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="{{@blog.url}}">{{@blog.title}}</a></span><br>
				<span class="rights">All rights Reserved.</span>
			</div>
		</div>
	</div>
</div>
<!-- end copyright section -->
