<!-- start main-footer -->
<footer class="main-footer">
	<div class="footer-container">
		{{> widget-about}}
		{{> widget-links}}
		{{> widget-authors}}
		{{> widget-footertags}}
	</div>
</footer>
<!-- end main-footer -->
