<!-- start main-footer -->
<footer class="main-footer">
	<div class="footer-container">
		{{> widget-footernewsletter}}
		{{> widget-authors}}
		{{> widget-tagcloud}}
	</div>
</footer>
<!-- end main-footer -->

{{> scripts}}

{{ghost_foot}}
