<div class="card">
  <h5>{{title}}</h5>
  <p>{{description}}</p>
  <div class="issuetype"><img src="https://cdn.pixabay.com/photo/2016/09/05/10/50/app-1646212__340.png"></div>
  <div class="info">
    <div class="left">
      <div class="avatar"><img src="https://www.gravatar.com/avatar/9eb3868db428fb602e03b3059608199b?s=250&d=mm&r=x"></div>
      <div class="priority"><i class="fas fa-arrow-up"></i></div>
    </div>
    <div class="epic"><span>epic name</span></div>
  </div>
</div>
