<div class="kanban">
  <div class="column" id="backlog">
    <h2>Backlog</h2>
    <div class="cards">
    </div>
  </div>
  <div class="column" id="todo">
    <h2>To Do</h2>
    <div class="cards"></div>
  </div>
  <div class="column" id="progress">
    <h2>In Progess</h2>
    <div class="cards"></div>
  </div>
  <div class="column" id="done">
    <h2>Done</h2>
    <div class="cards"></div>
  </div>
</div>

<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.0/stitch.js"></script>
<script>

const {
  Stitch,
  RemoteMongoClient,
  UserPasswordCredential
} = stitch;

const stitchClient = Stitch.initializeDefaultAppClient("hackerjira-bzmfe");
stitchClient.auth
  .loginWithCredential(new AnonymousCredential())
  .then(display)
  .catch(console.error);


  // Get a hook to the card collection
  const card = mongodb.db("jira").collection("hackersandslackers");

  function getCards() {
  return stitchClient
    .callFunction("populateCards", ["Backlog"])
    .then(({ body }) => JSON.parse(body.toString()));
}

const backlogColumn = document.getElementById("backlog");
const todoColumn = document.getElementById("todo");
const progressColumn = document.getElementById("inprogress");
const doneColumn = document.getElementById("done");




</script>
