<div class="kanban">
  <div class="column" id="backlog">
    <h2>Backlog</h2>
    <div class="cards">
    </div>
  </div>
  <div class="column" id="todo">
    <h2>To Do</h2>
    <div class="cards"></div>
  </div>
  <div class="column" id="progress">
    <h2>In Progess</h2>
    <div class="cards"></div>
  </div>
  <div class="column" id="done">
    <h2>Done</h2>
    <div class="cards"></div>
  </div>
</div>
<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.0/stitch.js"></script>
<script>
  const client = stitch.Stitch.initializeDefaultAppClient('hackerjira-bzmfe');
  const db = client.getServiceClient(stitch.RemoteMongoClient.factory, 'mongodb-atlas').db('jira');


client.authenticate("anon").then(user =>{
    client.callFunction("populateCards", ["Backlog"]).then( result =>
        result.forEach((document) => {
          $('#' + document['status'] + ' .cards').append('<div class="card"> \n' +
            '<h5>' + document.summary + '</h5> \n' +
            '<p>' + document.description + '</p> \n' +
            '<div style="background-color:' + document.issuetype_color + ';" class="issuetype ' + document.issuetype + '"><img src="' + document.issuetype_url + '"></div> \n' +
            '<div class="info"> \n' +
              '<div class="left"> \n' +
                '<div class="avatar"><img src="https://www.gravatar.com/avatar/9eb3868db428fb602e03b3059608199b?s=250&d=mm&r=x"></div> \n' +
                '<div class="priority ' + document.priority + '"><i class="fas fa-arrow-up"></i></div> \n' +
              '</div> \n' +
              '<div class="epic ' + document.epic_name + '"><i class="fas fa-bolt" style=color:' + document.epic_color + ';"></i> <span>' + document.epic_name + '</span></div> \n' +
            '</div> \n' +
          '</div>');
        })
        console.log(result);
        $('#' + status).append('<span class="count">' + document.length + ' issues total</span>');
        );
    });
</script>
