<ul class="menu">
	<li><a href="/">Home</a></li>
	<li><a href="">Features</a>
		<ul>
			<li><a href="#">Typography</a></li>
			<li><a href="#">Code Highlighting</a></li>
			<li><a href="#">Sample Page</a></li>
		</ul>

	</li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
</ul>