<ul class="menu">
	{{#foreach navigation}}
		<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
	{{/foreach}}
	<li class="acount">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
		<ul id="login-dp" class="dropdown-menu">
			<div id="create-a-user" hidden>
				<h4>Sign in</h4>
				<label for="create-a-user-email">Email:</label>
				<div class="input-group mb-1">
					<input type="text" class="form-control" id="create-a-user-email" aria-label="create-a-user-email" />
      </div>

					<label for="create-a-user-password">Password:</label>
					<div class="input-group mb-2">
						<input type="password" class="form-control" id="create-a-user-password" aria-label="create-a-user-password" />
      </div>
						<button class="btn btn-success createnew" onclick="handleSignup()">
			        Create a New Account
			      </button>
					</div>
					<!--<form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
						<div id="create-a-user" class="form-group">
							<label for="create-a-user-email">Email:</label>
							<input type="text" class="form-control" id="create-a-user-email" aria-label="create-a-user-email" />
										</div>
							<div class="form-group">
								<label for="create-a-user-password">Password:</label>
								<input type="password" class="form-control" id="create-a-user-password" aria-label="create-a-user-password" />
										 </div>
								<div class="buttons">
									<button type="submit" class="btn signin" onclick="handleLogin()">Sign in</button>
									<button class="btn btn-success" onclick="handleSignup()">Create Account</button>
								</div>
								<div class="forgot"><a href="">Forget password?</a></div>
					</form>-->
		</ul>
	</li>
</ul>
