<ul class="menu">
	{{#foreach navigation}}
		<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
	{{/foreach}}
	<li class="acount">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
		<ul id="login-dp" class="dropdown-menu">
			<!-- <div id="login" hidden>
      <h4>Log In to Email/Password Account</h4>
      <label for="login-email">Email:</label>
      <input type="text" class="form-control" id="login-email" aria-label="login-email" />
      <label for="login-password">Password:</label>
      <input type="password" class="form-control" id="login-password" aria-label="login-password" />
      <button class="btn btn-success" onclick="handleLogin()">
        Log In
      </button>-->
					<form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
							<label for="create-a-user-email">Email:</label>
							<input type="text" class="form-control" id="create-a-user-email" aria-label="create-a-user-email" />
								<label for="create-a-user-password">Password:</label>
								<input type="password" class="form-control" id="create-a-user-password" aria-label="create-a-user-password" />
									<button class="btn btn-success" onclick="handleSignup()">Create Account</button>
								<div class="forgot"><a href="">Forget password?</a></div>
					</form>
		</ul>
	</li>
</ul>
