<header>
  <div class="banner">
    <a class="logo" href="{{@blog.url}}"><img src="https://res.cloudinary.com/hackers-and-slackers/image/upload/v1544107494/images/logowhite_long.png" alt="{{@blog.title}}" data-rjs="3"></a>
    <!--<div class="rightnav">
      <div class="flexbox">
        <div class="search">
          <div>
            <input id="nav-search" type="text" placeholder=" Search all Posts" onfocus="this.placeholder=''" onblur="this.placeholder='     Search all Posts'" required>
            <div id="nav-search-results"></div>
          </div>
        </div>
      </div>
      <div class="account">
      </div>
    </div>-->
  </div>
  <nav class="navigation">
  		{{navigation}}
  </nav>

</header>
