<header>
  <div class="banner">
    <a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
    <div class="rightnav">
      <div class="flexbox">
        <div class="search">
          <div>
            <input id="nav-search" type="text" placeholder="     Search all Posts" onfocus="this.placeholder=''" onblur="this.placeholder='     Search all Posts'" required>
          </div>
          <div id="nav-search-results"></div>
        </div>
      </div>
      <div class="account">

      </div>
    </div>
  </div>
  <nav class="navigation">
  		{{navigation}}
  </nav>

</header>
