<!-- start header -->
<header class="post-header" style="overflow:hidden">
	<!-- start logo -->
	<div class="navcontain">
		<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
		<a class="mobile-branding" href="{{@blog.url}}"><img src="https://hackers.nyc3.digitaloceanspaces.com/logowhite.png"></a>
		<!-- start navigation -->
		<nav class="post-navigation">
			{{navigation}}
		</nav>
</div>
	<!-- end navigation -->
</header>
<!-- end header -->
