<!-- start postfooter -->
<section class="after-post">
  {{> nextprev}}
  {{> about-author}}
  {{#foreach authors include="count.posts"}}
    {{> author-card}}
  {{/foreach}}
  {{> relatedposts}}
  {{> widget-newsletter}}
</section>
 <!-- end postfooter -->
