<!-- start header -->
<header class="post-header">
	<!-- start logo -->
	<a class="mobile-branding" href="{{@blog.url}}"><img src="https://hackers.nyc3.digitaloceanspaces.com/logowhite.png"></a>
	<!-- start navigation -->
	<nav class="main-navigation">
		<div id="main-menu">
			{{! insert navigation partial}}
			{{navigation}}
		</div>
	</nav>
</header>
<!-- end header -->

<!-- end navigation -->
