<!-- start header -->
<header class="post-header">
	<!-- start logo -->
	<a class="mobile-branding" href="{{@blog.url}}"><img src="https://hackers.nyc3.digitaloceanspaces.com/logowhite.png"></a>
	<!-- start navigation -->
	<nav class="post-navigation">
			{{! insert navigation partial}}
			{{navigation}}
	</nav>
</header>
<!-- end header -->

<!-- end navigation -->
