<!-- start prev next wrap -->
<div class="prev-next-wrap clearfix">
		{{#next_post}}
		<a class="btn btn-default" style="float:left;" href="{{url}}"><i class="fa fa-angle-left fa-fw"></i> {{title}}</a>
		{{/next_post}}
		&nbsp;
        {{#prev_post}}
        <a class="btn btn-default" style="float:right;" href="{{url}}">{{title}} <i class="fa fa-angle-right fa-fw"></i></a>
        {{/prev_post}}
</div>
