<div class="repos">
</div>
<script>
  /*===========================
     1. function declaretion
     ==========================*/
  const repoClient = stitch.Stitch.initializeDefaultAppClient('githubrepos-bhnhv');
  const repoDB = repoClient.getServiceClient(stitch.RemoteMongoClient.factory, 'mongodb-atlas').db('github');


      repoClient.auth.loginWithCredential(new stitch.AnonymousCredential()).then(() =>
        repoDB.collection('repos').find({}).asArray()
      ).then(docs => {
        console.log("Found docs", docs)
        for (var i = 0; i < docs.length; i++) {
          $('.repos').append('<a class="repo" href="' + docs.repo + '">' + docs.repo + '</a>');
        }
      }).then(() => {
        var api_url = 'https://api.linkpreview.net/';
        $(".repo").each(function(index, element) {
          console.log('this = ' + this);
          $.ajax({
            url: api_url + '?key=' + linkpreview_key + '&q=' + $(this).text(),
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
              $(element).append('<a href="' + result.repo + '">' + result.repo + '</a>');
            }
          });
        });
      }).catch(err => {
        console.error(err)
      });



  /*===========================
  2. Initialization
  ==========================*/

</script>
