<!-- start tag cloud widget -->
<div class="widget">
	<h3 class="title">Series'</h3>
	<div class="content series">
		{{#get "tags" limit="15" filter="feature_image:-null" include="count.posts,meta_title" order="count.posts DESC"}}{{tags separator="" }}
    {{#foreach tags}}
        <a href="{{url}}" class="post-title">{{meta_title}}</a>
            {{!--{{#if description}}
              <p class="description">{{description}}</p>
            {{/if}}--}}
    {{/foreach}}
    {{/get}}
	</div>
</div>
<!-- end tag cloud widget -->
