<!-- start sidebar -->
<div class="col-md-4 sidebar">
	{{#is "author"}}
		{{> widget-authorwebsite}}
		{{> widget-upcoming}}
		{{> widget-authortwitter}}
	{{/is}}
	{{#is "post"}}
		{{> widget-author}}
	{{/is}}
	{{#is "home"}}
		{{> widget-text}}
	{{/is}}
	{{^is "author"}}
		{{> widget-social}}
		{{> widget-sendgrid}}
		{{> widget-recentpost}}
		{{> widget-tagcloud}}
	{{/is}}
	{{^is "page,author"}}
		{{> widget-twitter}}
	{{/is}}
	{{!-- {{> widget-facebook}} --}}
	{{!-- {{> widget-google-plus}} --}}
</div>
<!-- end sidebar -->
