<!-- start sidebar -->
<div class="col-md-4 sidebar">
	{{> widget-text}}
	{{> widget-social}}
	{{> widget-newsletter}}
	{{> widget-recentpost}}
	{{> widget-tagcloud}}
	{{!-- {{> widget-facebook}} --}}
	{{> widget-twitter}}
	{{> widget-google-plus}}

</div>
<!-- end sidebar -->
