<!-- start sidebar -->
<div class="col-md-4 sidebar">
	{{#is "post"}}
		{{> widget-author}}
	{{/is}}
	{{#is "home"}}
		{{> widget-text}}
	{{/is}}
	{{> widget-social}}
	{{> widget-newsletter}}
	{{> widget-recentpost}}
	{{> widget-tagcloud}}
	{{^is "page"}}
		{{> widget-twitter}}
	{{/is}}
	{{!-- {{> widget-facebook}} --}}
	{{!-- {{> widget-google-plus}} --}}

</div>
<!-- end sidebar -->
