<!--<script src="https://cdn.firebase.com/libs/firebaseui/3.5.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.0/firebaseui.css" />
<script type="text/javascript">
  // FirebaseUI config.
  var uiConfig = {
    signInSuccessUrl: 'https://hackersandslackers.com/account-signup',
    signInOptions: [
      // Leave the lines as is for the providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.TwitterAuthProvider.PROVIDER_ID,
      firebase.auth.GithubAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID,
      firebaseui.auth.AnonymousAuthProvider.PROVIDER_ID
    ],
    // tosUrl and privacyPolicyUrl accept either url string or a callback
    // function.
    // Terms of service url/callback.
    tosUrl: 'https://hackersandslackers.com/terms-of-service',
    // Privacy policy url/callback.
    privacyPolicyUrl: function() {
      window.location.assign('https://hackersandslackers.com/privacy-policy');
    }
  };

  // Initialize the FirebaseUI Widget using Firebase.
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded.
  ui.start('#firebaseui-auth-container', uiConfig);
</script>

<script>
function createAccount(){
  var email_field_signup = document.getElementById('signup-email');
  var pass_field_signup = document.getElementById('signup-password');

  var email = email_field_signup.value
  var password = pass_field_signup.value

  firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
    // Handle Errors here.
    var errorCode = error.code;
    var errorMessage = error.message;
    // ...
});
}
</script>-->

<div id="signup" style="visibility:hidden;">
  <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 700">
    <g id="logoGroup" transform="translate(120 232)">
      <path id="halfCircle" d="M-103.4-218.4c-15.2 16.7-14.7 42.5 1.4 58.6 16.6 16.6 43.5 16.6 60.1 0 16.1-16.1 16.6-42 1.4-58.6" fill="none" stroke="#fff" stroke-width="10" />
      <div id="thunder"></div>
    </g>
  </svg>
  <h2 class="signup-head" style="visibility:hidden;">SIGNUP</h2>
  <p class="description" style="visibility: hidden;">Automation is inevitable. Join the winning side.</p>
  <p class="text_max" style="visibility: hidden;">Step up your shitposting game.</p>
  <form id="signup-form" action="https://getform.io/f/f475106e-c578-418d-b299-48f97233c840" method="POST" enctype="multipart/form-data" class="signup-form" style="visibility:hidden;">
  <input id="signup-username" type="text" name="username" placeholder="username" required>
    <input id="signup-email" type="email" name="email" autocomplete="email" placeholder="youremail@example.com" required>
    <input id="signup-gravatar" type="text" name="gravatar" visibility="hidden">
    <!--<input id="signup-subscription" type="checkbox" name="subscribe">-->
    <!--<input id="signup-checkbox" type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">-->
    <!--<input type="password" id="signup-password" class="form-control tr" placeholder="Password"  autocomplete="new-password" minlength="6" required>
    <input type="password" id="confirm_password" class="form-control tr" placeholder="Confirm Password" autocomplete="new-password" minlength="6" required>-->
    <button id="submit-account" type="submit">Send</button>
  </form>

  <div class="options" style="visibility:hidden;">
    <!--<a class="float-left">Need help?</a>-->
    <a class="float-right">Sign In</a>
  </div>

  <!-- confirmation -->
  <h2 class="confirm-head" style="visibility:hidden;">CONGRATS</h2>
  <p class="confirm-description" style="visibility: hidden;">Check your email. Welcome to your new life.</p>
</div>
