<div class="signup un" style="visibility:hidden;">
  <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 700">
    <g id="logoGroup" transform="translate(120 232)">
    <path id="halfCircle" d="M-103.4-218.4c-15.2 16.7-14.7 42.5 1.4 58.6 16.6 16.6 43.5 16.6 60.1 0 16.1-16.1 16.6-42 1.4-58.6" fill="none" stroke="#fff" stroke-width="10"/>
    <div id="thunder"></div>
  </g>
</svg>
  <h2 class="signup-head" style="visibility:hidden;">SIGNUP</h2>
  <p class="description" style="visibility: hidden;">Automation is inevitable. Join the winning side.</p>
  <p class="text_max un" style="visibility: hidden;">Step up your shitposting game.</p>

  <form class="signup-form un" style="visibility:hidden;">
    <!--<input id="username" class="form-control tr" placeholder="Username" type="text">-->
    <input id="signup-email" class="form-control tr" placeholder="Email" type="text" autocomplete="email">
    <input id="signup-password" class="form-control tr" placeholder="Password" type="password" autocomplete="new-password">
    <button type="button" id="signup-button" class="form-control button-control tr">CREATE ACCOUNT</button>
  </form>

  <div class="options un" style="visibility:hidden;">
    <!--<a class="float-left">Need help?</a>-->
    <a class="float-right">Sign In</a>
  </div>

  <!-- confirmation -->
  <h2 class="confirm-head" style="visibility:hidden;">CONGRATS</h2>
  <p class="confirm-description" style="visibility: hidden;">Check your email. Welcome to your new life.</p>
</div>
