<!-- start widget -->
<!--<div class="widget">
	<h4 class="title">{{t "Follow"}}</h4>
	<div class="content">
		<ul class="social">-->
<!-- start social links -->
<!-- replace the # with your own profile link address -->
<!-- <li><a href="https://hackingandslacking.com"><i class="fab fa-medium-m"></i></a></li>-->
<!-- <li><a href="https://twitter.com/hackersslackers"><i class="fab fa-twitter"></i></a></li>-->
<!-- <li><a href="https://www.facebook.com/hackersandslackers/"><i class="fab fa-facebook-f"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-skype"></i></a></li>-->
<!--<li><a href="#"><i class="fa  fa-pinterest"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-flickr"></i></a></li>-->
<!-- <li><a href="https://hackersandslackers.tumblr.com/"><i class="fab fa-tumblr"></i></a></li>-->
<!-- <li><a href="https://github.com/hackersandslackers"><i class="fab fa-github"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
<!--<li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-stack-exchange"></i></a></li>
			<li><a href="#"><i class="fa fa-xing"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-envelope"></i></a></li>-->
<!--<li><a href="{{@blog.url}}/rss/"><i class="fas fa-rss"></i></a></li>-->
<!-- end social links -->
<!--</ul>
	</div>
</div>-->
<!-- end widget -->
<div class="widget">
	<h4 class="title">{{t "Follow"}}</h4>
	<div class="social-btns">
		<a class="btn medium" href="https://hackingandslacking.com"><i class="fab fa-medium"></i></a>
		<a class="btn facebook" href="https://www.facebook.com/hackersandslackers/"><i class="fab fa-facebook-f"></i>
		<a class="btn twitter" href="https://twitter.com/hackersslackers"><i class="fab fa-twitter"></i></a>
		<a class="btn tumblr" href="https://hackersandslackers.tumblr.com/"><i class="fab fa-tumblr"></i></a>
		<a class="btn google" href="https://plus.google.com/communities/106724509785464667119"><i class="fab fa-google"></i></a>
		<a class="btn github" href="https://github.com/hackersandslackers"><i class="fab fa-github"></i></a>
		<a class="btn rss" href="{{@blog.url}}/rss/"><i class="fas fa-rss"></i></a>
	</div>
</div>
