 <!-- start feedwind code -->
  <div class="widget" style="order:10">
  	<div class="twitter">
  		<h3 class="title">Twitter</h3>
<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="96505/"></script> <!-- end feedwind code -->    </div>
  </div>
 <!-- end feedwind code -->
