<!-- start widget -->
{{#get "posts" filter="tags:hash-upcoming+author:todd" }}
	{{#foreach posts}}
		<div class="widget upcoming">
			<h4 class="title">Upcoming Posts</h4>
			<div class="content">
				{{content}}
			</div>
		</div>
	{{/foreach}}
{{/get}}
<!-- end widget -->
