<!-- start widget -->
<div class="widget text">
	<!--<h4 class="title">Search</h4>-->
		<div class="form-group">
    	<input id="my-custom-input" placeholder="Search">
		</div>
    <div id="ghost-search-results"></div>
</div>
<!-- end widget -->
