<!-- start tag cloud widget -->
<div class="widget tags">
	<h4 class="footer-title">Tags</h4>
	<div class="tag-cloud">
		{{#get "tags" filter="slug:-[roundup,excel,machine-learning,graph-databases,science-news,cybersecurity,blockchain,aws-api,kanban,codesnippetcorner,statistics,tableau-hacks]" limit="28" include="count.posts" order="count.posts DESC" }}
			{{#foreach tags}}
				<a href="{{url}}" name="{{slug}}">{{name}}</a>
			{{/foreach}}
		{{/get}}
	</div>
</div>
<!-- end tag cloud widget -->
