<!-- Include the library. -->

<!-- Prepare a container for your calendar. -->
<div class="calendar">
    <!-- Loading stuff -->
    Loading the data just for you.
</div>

<script>
    GitHubCalendar(".calendar", "toddbirchard");
    // or enable responsive functionality
    GitHubCalendar(".calendar", "toddbirchard", { responsive: true });
</script>
