<div class="widget" style="background:white;" id="medium" style="display:none;">
  <div class ="content">
    <h3 class="title" style="margin-bottom:0;">Medium</h3>
    <div id="medium-widget"></div>
  </div>
</div>

<script src="https://medium-widget.pixelpoint.io/widget.js"></script>

<script>
function createMediumCard(medium){
  console.log('medium= ' + medium);
  MediumWidget.Init({
    renderTo: '#medium-widget',
    params: {
      "resource": 'https://medium.com/' + medium,
      "postsPerLine": 1,
      "limit": 3,
      "picture": "small",
      "fields": ["description","claps"],
      "ratio": "square"
    }
  })
  $('#medium').css('display', 'block');
}

</script>
