<!-- start authors widget -->
<div class="widget contributors">
	<h4 class="footer-title">Contributors</h4>
	<ul>
		{{#get "users" include="count.posts"}}
			{{#foreach users}}
					<li>
						<a href="{{url}}" class="single-author-name">{{name}}</a>
					</li>
			{{/foreach}}
		{{/get}}
		</ul>
</div>
<!-- end authors widget -->
