<script>

authorsClient.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user => {
  console.log('logged in anonymously as user')
});

authorsClient.callFunction("getGithubUsers", ["{{slug}}"]).then(result => {
  console.log(JSON.stringify(result))
  console.log(result.meetup)
  if (result.meetup) {createMeetupCard(result.meetup)}
});



function createMeetupCard(meetup) {
  $.ajax({
    url: 'https://api.meetup.com/members/' + meetup + '?key=' + meetup_key,
    contentType: "application/json",
    dataType: 'jsonp',
    success: function(ajaxResult) {
      $('.sidebar').append('<div class="widget meetup"><div class="content"><h4 class="title">Meetup</h4> \n ' +
        '<div class="userprofile"> \n ' +
        '<img class="avatar" src="' + ajaxResult['data']['photo']['thumb_link'] + '"> \n' +
        '<div class="info">' +
        '<span class="name">' + ajaxResult['data']['name'] + '</span> \n ' +
        '<span class="location">' + ajaxResult['data']['city'] + ', ' + ajaxResult['data']['state'] + '</span></a> \n ' +
        '<a href="https://www.meetup.com/members/' + ajaxResult['data']['id'] + '/"><span class="country">View profile</span></a></div></div></div> \n ' +
        '<div class="events"></div>');
    }
  });

  $.ajax({
    url: 'https://api.meetup.com/2/events?key=' + meetup_key + '&member_id=' + meetup + '&offset=0&format=json&limited_events=False&rsvp=yes,maybe&photo-host=public&page=500&fields=&order=time&desc=false&status=upcoming',
    contentType: "application/json",
    dataType: 'jsonp',
    success: function(ajaxResult2) {
      var rsvps = ajaxResult2.meta.count;
      console.log('rsvps = ' + rsvps);
      if (rsvps == 0) {
        $('.events').append('<span class="noevents">No upcoming events :(</span>');
      } else {
        var events = ajaxResult2.results;

        for (var i = 0; i < events.length; i++) {
          var date = new Date(events[i].time);
          var eventimage = '<time class="date"><span class="day"><span>' + date.getDate() + '</span></span><span class="month"><span>' + date.toLocaleString("en-us", {
            month: "short"
          }) + '</span></span></time>';
          if (events[i].photo_url == null) {
            //eventimage = "https://hackers.nyc3.digitaloceanspaces.com/meetup.png"
            eventimage = '<time class="date"><span class="day"><span>' + date.getDate() + '</span></span><span class="month"><span>' + date.toLocaleString("en-us", { month: "short" }) + '</span></span></time>';
          }
          $('.events').append(
            '<a href="' + events[i].event_url + '"> \n' +
            '<div class="event"> \n' +
            '<div class="eventheader">' + eventimage + ' \n ' +
            '<span class="eventname">' + events[i].name + '</span></div> \n ' +
            '<div class="eventinfo"> \n ' +
            '<span class="eventhost"><i class="fal fa-users"></i> ' + events[i].group.name + '</span> \n ' +
            '<span class="venuename"><i class="fal fa-building"></i> ' + events[i].venue.name + '</span> \n ' +
            '<span class="venueaddress"><i class="fal fa-map-pin"></i> ' + events[i].venue.address_1 + '</span> \n ' +
            //'<span class="date"><i class="fas fa-calendar"></i> ' + date.toString("MMM dd") + '</span> \n ' +
            '</div></div></a>');
        }
      }
    }
  });
}
</script>
