<!-- start widget -->
<div class="widget">
	<h4 class="title">{{t "Advertisement"}}</h4>
	<div class="content ad">
		<img src="{{asset "images/ad-placeholder.png"}}" alt="">
	</div>
</div>
<!-- end widget -->