<!-- start widget -->
<div class="widget">
	<h4 class="title">Welcome</h4>
	<div class="content">
Hackers and Slackers is a community of of people who code dope shit as a means to an end. While we may not all be developers per se, we like to blow stuff up and make an impact. </div>
</div>
<!-- end widget -->
