<!-- start tag cloud widget -->
<div class="widget">
	<h3 class="title">{{t "Newsletter"}}</h3>
	<div class="content newsletter">
		<div id="newsletter_signup">
			<p>Are you into data science and engineering to the point where it's almost embarrasing? Considering tossing your name in for occasional not-annoying updates!</p>
			<form action="#" method="post" id="newsletter-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
				<div class="input-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email...">
				</div>
				<div class="input-group">
					<input type="submit" value="{{t "Subscribe"}}" name="subscribe" id="newsletter-subscribe" class="btn btn-default">
				</div>
			</form>
		</div>
		<div id="message"></div>
	</div>
</div>
<!-- end tag cloud widget -->
