<!-- start widget -->
<div class="widget">
	<h4 class="title">Text Widget</h4>
	<div class="content">
		Here you can add any text or html snippet. All widgets are reorderable. Also if you want to remove any widget from sidebar or footer then that is very simple.
	</div>
</div>
<!-- end widget -->