
<!-- start widget -->
<div class="widget twitter">
	<div class="content twitter">
		<h4 class="title">Twitter</h4>
			<a class="twitter-timeline" data-chrome="nofooter noheader noscrollbar" data-tweet-limit="3" data-link-color="#26a2c7" href="{{twitter_url}}"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>
<!-- end widget -->
