<!-- start widget -->
<div class="widget">
	<h4 class="title">Welcome</h4>
	<div class="content">
Hackers and Slackers is a community of friends who like to build cool things... programming is simply a means to that end. Our passion for creating is matching only by our appreciation for life. </div>
</div>
<!-- end widget -->
