<!-- start widget -->
<div class="widget text">
		<div class="form-group">
    	<input placeholder="Search" id="ghost-search-field" value="" name="search">
			<i class="far fa-search"></i>
		</div>
    <div id="ghost-search-results"></div>
</div>
<!-- end widget -->
