<!-- start links widget -->
<div class="widget links">
    <h3 class="footer-title">Links</h3>
       <ul>
         <li><a href="https://hackersandslackers.com/about/">About Us</a></li>
         <li><a href="https://hackersandslackers.com/series/">Series</a></li>
         <li><a href="https://hackersandslackers.com/projects/">Projects</a></li>
         <li><a href="https://hackersandslackers.com/resources/">Resources</a></li>
         <li><a href="https://hackersandslackers.com/become-a-contributor/">Join The Club</a></li>
       </ul>
</div>
<!-- end links widget -->
