<!-- start tag cloud widget -->
<div class="widget tag">
	<h4 class="footer-title">Tags</h4>
	<div class="tag-cloud tag">
		{{#get "tags" limit="all" include="count.posts" order="count.posts DESC" }}
			{{#foreach tags}}
				<a href="{{url}}" class="">{{name}}</a>
			{{/foreach}}
		{{/get}}
	</div>
</div>
<!-- end tag cloud widget -->
