<div class="widget newsletter">
    <h3 class="title">{{t "Newsletter"}}</h3>
	 <div class="newsletter input-group">
    <p class="news-description">Are you into data to the point where it's almost embarrasing? Toss your email in for occasional, not-annoying updates!</p>
    {{#if @labs.subscribers}}
      <section class="gh-subscribe">
        {{subscribe_form
          placeholder="Your email address"
           button_class="btn"
        }}
        {{!--<span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/"><i class="fas fa-rss"></i></a></span>--}}
      </section>
    {{/if}}
  </div>
</div>
