<!-- start widget -->
<div class="widget text">
		<div class="form-group">
    	<input placeholder="Search" id="my-custom-input"  value="" name="search">
			<i class="far fa-search"></i>
		</div>
    <div id="my-custom-results"></div>
</div>
<!-- end widget -->
