<!-- start widget -->

<a href="{{website}}">
  <div class="widget author-website" style="0">

  </div>
</a>

<script>
  $(document).ready(function() {
    function websiteCard(website) {

    }
    websiteCard('{{website}}');
  })
</script>
<!-- end widget -->
