<div class="widget" id="medium" style="display:none;">
  <div class ="content">
    <h3 class="title" style="margin-bottom:0;">Medium</h3>
    <div id="medium-widget"></div>
  </div>
</div>

<script src="https://medium-widget.pixelpoint.io/widget.js"></script>

<script>
function createMediumCard(medium){
  console.log('medium= ' + medium);
  MediumWidget.Init({
    renderTo: '#medium-widget',
    params: {
      "resource": 'https://medium.com/' + medium,
      "postsPerLine": 1,
      "limit": 3,
      "picture": "small",
      "fields": ["description", "publishAt"],
      "ratio": "square"
    }
  })
  $('#medium').css('display', 'block');
}


client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user => {
  client.callFunction("getGithubUsers", ["{{slug}}"]).then(result => {
    createMediumCard(result.medium)
    console.log(JSON.stringify(result))
    if (result.medium) {createMediumCard(result.medium)}
  });
});



/*
MediumWidget.Init({
  renderTo: '#medium-widget',
  params: {
    "resource": result.medium,
    "postsPerLine": 1,
    "limit": 3,
    "picture": "small",
    "fields": ["description", "publishAt"],
    "ratio": "square"
  }
})

$( document ).ready(function() {

});*/

</script>
