<!-- start widget -->
<div class="widget">
	<h3 class="title">Facebook</h3>
	<div class="fb-page" data-href="https://www.facebook.com/hackersandslackers/" data-width="340px" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/hackersandslackers/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hackersandslackers/">Hackers And Slackers</a></blockquote></div>
</div>
<!-- end widget -->
