<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">Tags</h4>
	<div class="content tag-cloud">
		{{#get "tags" limit="10" filter="feature_image:null" include="count.posts" order="count.posts desc"}}{{tags separator="" }}{{/get}}
	</div>
</div>
<!-- end tag cloud widget -->
