<!-- start widget -->
<div class="widget">
	<h4 class="title">Welcome</h4>
	<div class="content">
This is our a community of friends who like to build things, with programming is being the means to that end. Our passion for creating is matching only by an appreciation for the small moments we call life. </div>
</div>
<!-- end widget -->
