<!-- start search widget -->
<div class="widget search">
		<div class="form-group">
    	<input id="my-custom-input" placeholder="Search all posts">
		</div>
    <div id="my-custom-results"></div>
</div>
<!-- end search widget -->
