<!-- start widget -->
<div class="widget text">
	<h2 class="title" style="font-size: 1.5em;">Search</h4>
    <input id="my-custom-input">
    <div id="my-custom-results"></div>
</div>
<!-- end widget -->
