.author-template{
  .sidebar{
    .author-website,
		.website {
			content {
				overflow: hidden;
				padding: 0;
			}

			& > a {
				display: block;
				overflow: hidden;
				margin: 5px 0 0;
			}

			.link-preview {
				height: 167px;
				background-size: cover !important;
				color: white;
				position: relative;
				margin: 0;
				border: 0;
				border-radius: 0;

				h4 {
					position: absolute;
					bottom: 12px;
					left: 15px;
					color: white;
					z-index: 10;
					width: 79%;
					line-height: 1;
					overflow: hidden;
					text-overflow: ellipsis;
					display: block;
					white-space: nowrap;
					font-size: 15px;
					font-family: @body-font;
					margin: 0;
				}

				a {}

				i {
					position: absolute;
					right: 12px;
					bottom: 12px;
					z-index: 100;
					font-size: 14px;
					color: white;
				}

				&::after {
					display: block;
					position: absolute;
					background-image: linear-gradient(to bottom, transparent 0%, @theme-color 100%);
					height: 100%;
					width: 105%;
					top: 0;
					left: 0;
					content: '';
				}
			}
		}
  }
}
