<!-- start main-footer -->
<footer class="main-footer">
	<div class="footer-container">
		{{> widgets/widget-about}}
		{{> widgets/widget-links}}
		{{> widgets/widget-authors}}
		{{> widgets/widget-footertags}}
	</div>
</footer>
<div class="copyright">
	{{t "Copyright"}}
</div>
<!-- end main-footer -->
