<!-- Start Mobile Nav -->
<div class="mobile-navigation">
  <a href="{{@site.url}}//about">About</a>
  <a href="{{@site.url}}//projects">Projects</a>
  <a href="{{@site.url}}//series">Series'</a>
</div>
<!-- End Mobile Nav -->
