@import "../global/variables.less";

.page-about {
  margin-bottom: 0;
  font-weight: 500;

  .page {
    padding: 40px;
    @media(max-width: @mobile-breakpoint) {
      padding: 0 30px 30px;
    }
  }

  .about-content {
    margin-bottom: 40px !important;
  }

  .author-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-flow: row wrap;

    .author-card-small {
      width: 48.5%;
      margin: 0 0 15px;
      @media(max-width: @mobile-breakpoint) {
        width: 100%;
      }
    }
  }

  figure {
    margin: 0 0 30px;
    overflow: hidden;
    @media(max-width: @mobile-breakpoint) {
      max-height: 312px;
      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;
    }
  }

  iframe {
    margin: 0;
    width: 100%;
  }

  .page-title {
    margin: 0 0 20px;
    @media(max-width: 1100px) {
      display: none;
    }
  }

  .about-content {
    @media(max-width: @tablet-breakpoint) {
      display: flex;
      flex-direction: column;
      margin: -14px 0 20px !important;
    }
  }

  .post-image {
    display: none !important;
  }

  .welcomevideo,
  iframe {
    display: block;
    position: relative;
    @media(max-width: @tablet-breakpoint) {
      height: 451px;
    }
    @media(max-width: @mobile-breakpoint) {
      width: 100%;
      height: 360px;
    }
    @media(max-width: 470px) {
      height: 250px !important;
      min-height: auto !important;
    }
  }

  .fluid-width-video-wrapper {
    height: 50px;
    @media(max-width: @mobile-breakpoint) {
      margin: 0 40px 30px;
    }
  }

  .fluid-width-video-wrapper {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0;
  }
}
