@import "../global/variables.less";
@import "../global/mixin.less";

.page-template {
  h1 {
    font-weight: 100;
  }

  .main-content {
    box-shadow: 0 0 5px rgba(65,67,144,.15);
    background: white;
  }
}
