.page-python-packages {
  table {
    td {
      text-align: left;
    }

    tbody {
      tr {
        td:first-of-type {
          text-align: center;
        }

        &.Epic {
          display: none;
        }
      }
    }
  }
}
