.page-resources {

  h1 {
    margin: 40px 40px 30px;
  }

  section {
        width: -webkit-fill-available;
  }

  #tablewrapper{
    margin: auto 40px 40px;
    width: -webkit-fill-available;
  }

  #resources-table {
    width:100%;
    td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
    }

    tbody {
      tr {
        td:first-of-type {
          text-align: center;
        }

        .icon {
          text-align: center !important;
        }

        .summmary {
          font-weight: 600 !important;
          font-size: .85em !important;
        }

        .description {
          max-width: none;
        }

        .issuetype-name {
          font-size: .7em !important;
          min-width: 100px;
        }

        &.Epic {
          display: none !important;
        }
      }
    }
  }
}
