.page-resources h1 {
  margin: 40px 40px 30px;
}
.page-resources section {
  width: -webkit-fill-available;
}
.page-resources table td {
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.page-resources table tbody tr td:first-of-type {
  text-align: center;
}
.page-resources table tbody tr .summmary {
  font-weight: 600 !important;
  font-size: 0.85em !important;
}
.page-resources table tbody tr .issuetype-name {
  font-size: 0.7em !important;
  min-width: 100px;
}
.page-resources table tbody tr.Epic {
  display: none !important;
}
