@import "../global/variables.less";

.series-template {
  .postlist {
    @media (max-width: 800px) {
      width: 100%;
      margin: 0px 6% 20px;
      padding: 0;
    }
  }

  .main-content {
    @media (max-width: 800px) {
      width: 90%;
    }
  }

  .sorted-series {
    display: flex;
    flex-direction: column;
    background: white;
  }

  .descending {
    flex-direction: column-reverse;
  }

  .series-article-preview {
    position: relative;
    background: white;
    max-width: -webkit-fill-available;
    @media(max-width:800px) {
      height: fit-content;
      width: 100%;
    }

    &:hover {
      background: #b4d4e6;
      cursor: pointer;
    }
  }

  i {
    height: 15px !important;
    font-size: 15px !important;
  }

  .fa-arrow-to-bottom {
    transition: all 0.3s ease-out;
  }

  .sort-toggle {
    .desc {
      display: inline !important;
    }

    .asc {
      display: none !important;
    }

    i {
      transform: rotate(180deg) !important;
    }
  }
  /* Bar which sorts articles */
  .sort-container {
    display: block;
    width: 97%;
    height: 29px;
    margin-bottom: 15px;
    background: #dde1ea;
    padding: 5px 3% 5px 0;

    .sort {
      float: right;

      &:hover {
        cursor: pointer;

        * {
          color: @hover-color;
        }
      }

      .desc {
        display: none;
      }

      .asc {
        display: inline;
      }

      .sort-title {
        font-family: 'AvenirNextLTPro-Medium';
      }

      .sort-method {
        font-family: 'AvenirNextLTPro-Medium';
      }
    }
  }

  .series-article-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 1px #dadada;
    transition: all 0.2s ease-out;

    @media(max-width: 600px) {
      padding: 15px;
    }

    &:last-child {
      border-bottom: none;
    }

    .featured-media {
      margin: 0;
      height: auto;
      width: auto;
      position: relative;
      @media(max-width: 600px) {
        max-width: 115px;
        height: 100% !important;
      }
    }

    .post-count {
      margin: 0 0 3px 0;
      font-family: 'ProductSans-Regular', serif;
      font-weight: 100;
      color: #7792a3;
      font-size: .9em;
      line-height: 1;
    }

    .mobile-date,
    .mobile-name {
      display: none;
    }

    .details {
      width: -webkit-fill-available;
      padding: 0 20px;
      @media(max-width: 800px) {
        max-width: -webkit-fill-available;
        padding: 0 0 0 15px;
      }

      .meta {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          margin-right: 5px;
        }

        .info {
          display: none;
        }
      }

      .post-head {
        width: 100%;
        @media(max-width: 600px) {
          width: -webkit-fill-available;
          overflow: hidden;
        }

        .post-title {
          font-weight: 900;
          width: 100%;
          margin: 0 0 5px;
          font-size: 1.3em;

          a {
            font-family: 'ProductSans-Regular',sans-serif;
            font-size: 1em;
            line-height: 1.2;
            color: @text-color-heading;
            transition: all 0.2s ease-out;
            @media(max-width: 600px) {
              font-family: 'ProductSans-Regular',sans-serif;
              font-size: 0.75em;
            }

            &:hover {
              color: @secondary-color;
            }
          }
          @media(max-width: 600px) {
            width: -webkit-fill-available;
            overflow: hidden;
            line-height: 1;
          }
        }

        .post-excerpt {
          color: #153b52;
          font-family: 'ProductSans-Regular','AvenirNextLTPro-Medium',serif;
          font-size: 1em;
          font-weight: 100;
          line-height: 1.21;
          text-align: left;
          display: block;
          white-space: pre-wrap;
          @media(max-width: 600px) {
            display: none;
          }
        }

        .postcount {
          font-family: 'AvenirNextLTPro-Medium',serif;
          font-size: 1.3em;
        }
      }

      .meta {
        padding: 0;
        @media(max-width: 600px) {
          display: none;
        }

        .meta-item span {
          font-family: 'AvenirNextLTPro-Medium';
        }

        .tags {
          padding: 2px 8px;

          i {
            margin-right: 8px;
          }
        }

        .author {
          img {
            width: 30px;
            margin-right: 8px;
          }

          span {
            text-transform: capitalize;
            color: #505050;
          }
        }

        .author-mobile {
          display: none !important;
        }
      }
    }

    .imagewrapper {
      height: fit-content;
      display: block;

      .post-card-image {
        max-width: 220px;
        height: auto;
        margin: 0;
        @media(max-width: 600px) {
            max-width: 200px;
        }
        @media(max-width: 600px) {
          max-width: 120px;
          height: auto;
          margin: 0;
        }
      }
    }
  }
}
