@import "../global/variables.less";

.tag-template {
  .postlist {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    margin: auto;
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    @media(max-width: @mobile-breakpoint) {
      grid-template-columns: 1fr;
      grid-template-columns: 100%;
    }

    article {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      &:hover {
        .post-image,
        img {
          border: unset !important;
        }
      }

      .content {
        position: relative;
        margin: 5px 15px 15px;
        padding: 0;
        height: auto;
        display: block;
        @media(max-width: @mobile-breakpoint) {
          height: auto;
          margin: 5px 15px 15px;
        }
      }

      .preview-content {
        display: none;
      }

      .read-link {
        display: none;
      }
    }

    article {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px !important;
      @media(max-width: @mobile-breakpoint) {
        width: 100%;
        height: auto;
      }
      .post-preview-body {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        @media(max-width: @mobile-breakpoint) {
            padding-bottom: 0;
            margin-bottom: 0;
        }
      }

      .tags {
        @media(max-width: @tablet-breakpoint) {
          display: none !important;
        }
      }

      .post-head {
        margin: 0;
        order: 1;
        @media(max-width: @mobile-breakpoint) {
          min-height: unset;
        }
      }

      .post-title {
        font-size: 1.2em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .post-excerpt {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: .95em;
        line-height: 1.25;
      }

      .post-image {
        display: block;
        margin: 0 15px 0 0;
        background-size: cover;
        width: 105px;
        min-width: 106px;
        height: 101px;
        order: 0;
        margin-right: 15px;
        overflow: hidden;
        @media(max-width: 600px) {
          margin: 0 0 20px;
          background-size: cover;
          order: 0;
          overflow: hidden;
          width: 100%;
          min-width: unset;
          height: 170px;
        }

        .featured-image {
          width: 160px;
          margin: 0;
          @media(max-width: 600px) {
            width: 100%;
          }
        }
      }



      .post-preview-side {
        display: none;
      }

      .date {
        display: none;
      }
    }
  }

  .pagination {
        margin: 40px auto;
  }
}

.tag-template {
  .tag-image {
    width: 100%;
    height: 370px;
    background-size: cover !important;
  }

  .post-title a {
    font-size: 1em !important;
    font-family: @header-font;
  }
}

.tag-template .post-preview {
  padding: 0 !important;
}

.page-series {
  .page-head {
    margin: 0;
    padding: 0;

    .page-title {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .main-content {
    padding: 40px 30px;
  }

  .post-title {
    margin: 27px 28px 20px;
    @media(max-width: @mobile-breakpoint) {
      font-size: 3em;
    }

    .post-content {
      @media(max-width: 900px) {
        margin: 25px 50px 0;
      }
    }

    .page-title {
      @media(max-width: 900px) {
        margin: 40px 50px 0;
      }
    }

    .container {
      @media(max-width: 900px) {
        width: 90% !important;
      }
      @media(max-width: @mobile-breakpoint) {
        width: 100% !important;
      }
    }
  }

  p {
    color: #505050;
    margin: -20px 0 30px;
    font-weight: 300;
  }

  .tag-container {
    display: grid;
    grid-template-columns: [first] 1fr [last] 1fr;
    grid-template-rows: 324px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 30px 0 0;
    @media(max-width: @mobile-breakpoint) {
      grid-template-columns: [first] 1fr;
      grid-template-rows: 342px;
      grid-column-gap: 15px;
    }

    .tag-wrapper {
      background: #f4fcff;
      margin: 0;
      border: 1px solid #dadada;
      transition: all 0.3s ease-out;
      grid-template-rows: 291px;
      border-radius: 5px;
      overflow: hidden;

      .tag-title {
        margin: 0;
        width: auto;
        background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #001b2f 100%);
        height: 204px;
        padding: 20px 20px 0;

        span {
          font-size: 1.1em;
          margin: 0;
          font-weight: 600;
        }
      }
      @media(max-width: 900px) {
        margin: 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
      @media(max-width: @mobile-breakpoint) {
        width: 100%;
      }

      &:hover {
        background-color: @theme-color;
        border: 1px solid @theme-color;
        cursor: pointer !important;

        .tag-title {
          background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #007ad4 100%);
        }

        h2,
        p,
        span {
          color: #1e608a!important;
        }

        .img-wrapper {
          opacity: 0.7;
        }
      }

      .img-wrapper {
        text-align: center;
        width: 100%;
        max-height: 189px;
        height: auto;
        position: relative;
        display: block;
        transition: all 0.3s ease-out;
        overflow: hidden;
        @media(max-width: @tablet-breakpoint) {
          max-height: 206px;
        }
        @media(max-width: @mobile-breakpoint) {
          max-height: 186px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .description {
        padding: 15px;
        background: rgba(246, 252, 255, 1);
        margin: 0;
        position: relative;
        bottom: 0;
        color: #162c52;
        width: auto;
        display: block;
        text-align: left;
        height: 129px;
        margin-top: -10px;
        @media(max-width: 1000px) {
          height: 156px;
        }
        @media(max-width: 900px) {
          height: 151px;

          p {
            font-size: 0.8em;
          }
        }
        @media(max-width: @tablet-breakpoint) {
          height: 125px;
        }
        @media(max-width: 700px) {
          height: 140px;
        }
        @media(max-width: @mobile-breakpoint) {
          height: 116px;
        }

        h2 {
          color: #3f4856;
          font-family: @header-font;
          margin-bottom: 7px;
          margin-top: 0;
          font-size: 1.2em;
          line-height: 1.2;
          font-weight: 600;
          @media(max-width: 900px) {
            font-size: 1.2em;
          }
        }

        p {
          font-size: 0.9em;
          font-weight: 300;
          color: @text-color;
          margin: 5px 0;
          line-height: 1.5;
          text-align: left;
          font-family: @body-font;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: auto;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @media(max-width: @mobile-breakpoint) {
            margin: 10px 0 25px;
            min-height: 0;
          }
        }

        .postcount {
          color: #4d4a5e;
          text-align: right;
          line-height: 1;
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 0.8em;
          font-family: @bold-font;
        }
      }
    }
  }
}

.tag-title {
  color: white;
}

.tag-image {
  margin-top: 30px;
  @media(max-width: @mobile-breakpoint) {
    display: none;
  }
}
