<!-- Start Footer -->
<footer class="main-footer">
	<div class="footer-container">
		{{> footer/footer-about}}
		{{> footer/footer-links}}
		{{> footer/footer-authors}}
		{{> footer/footer-tags}}
	</div>
</footer>
<!-- End Footer -->
