<!-- Start Links Widget -->
<div class="widget links">
  <h4 class="footer-title">Links</h4>
  <ul>
    <li><a href="{{@site.url}}/about/">About Us</a></li>
    <li><a href="{{@site.url}}/series/">Series</a></li>
    <li><a href="{{@site.url}}/projects/">Projects</a></li>
  </ul>
</div>
<!-- End Links Widget -->
