<!-- Start Links Widget -->
<div class="widget links">
  <h4 class="footer-title">Links</h4>
  <ul>
    <li><a href="https://hackersandslackers.com/about/">About Us</a></li>
    <li><a href="https://hackersandslackers.com/series/">Series</a></li>
    <li><a href="https://hackersandslackers.com/projects/">Projects</a></li>
    <li><a href="https://hackersandslackers.com/resources/">Resources</a></li>
    <li><a href="https://hackersandslackers.com/become-a-contributor/">Join The Club</a></li>
  </ul>
</div>
<!-- End Links Widget -->
