{{!< default}}

<section class="content-wrap">
	<div class="page-container sidebar-layout">
		<div>
			{{#author}}
				{{> author/cover-author}}
			{{/author}}
			<main class="postlist">
				{{> loop}}
				{{pagination}}
			</main>
		</div>
		{{#author}}
			{{> author/author-sidebar}}
		{{/author}}
	</div>
</section>

{{#contentFor "scripts"}}
	<script src="{{asset "js/includes/gh-profile-card.min.js"}}"></script>
	<script src="{{asset "js/includes/jquery.rss.min.js"}}"></script>
	<script async src="{{asset "js/author.js"}}"></script>
{{/contentFor}}
