{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="page-container">
		{{! insert sidebar partial}}
		{{#author}}
			{{> author/author-sidebar}}
		{{/author}}
		<!-- start main post area -->
		{{#author}}
			{{> author/cover-author}}
		{{/author}}
		<main class="postlist">
			{{#author}}
				{{> loop}} {{pagination}}
			{{/author}}
		</main>
		<!-- end main post area -->
	</div>
</section>
{{#contentFor "scripts"}}
	<script src="{{asset "js/includes/gh-profile-card.min.js"}}"></script>
	<script async src="{{asset "js/author.js"}}"></script>
	<script src="https://medium-widget.pixelpoint.io/widget.js"></script>
	<!--<script src="{{asset "js/previews.js"}}"></script>-->
{{/contentFor}}

<!-- end sites main content area -->