{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
		<div class="row">
			{{! insert sidebar partial}}
			{{> author-sidebar}}
			<!-- start main post area -->
			<div class="col-md-8 main-content">
				{{> cover-author}}
				<div class="postlist">
				{{> loop}}
			</div>
				{{pagination}}
			</div>
			<!-- end main post area -->
		</div>
	</div>
</section>

<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.0/stitch.js"></script>
<script>
  const client = stitch.Stitch.initializeDefaultAppClient('hackerjira-bzmfe');

  const db = client.getServiceClient(stitch.RemoteMongoClient.factory, 'mongodb-atlas').db('authors');

  client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user =>
    db.collection('social').find({}, { limit: 100}).asArray()
  ).then(docs => {
      console.log("Found docs", docs)
      console.log("[MongoDB Stitch] Connected to Stitch")
  }).catch(err => {
    console.error(err)
  });
</script>
<!-- end sites main content area -->
