{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<script src="{{asset "js/resources.js"}}"></script>

<section class="content-wrap archive page-resources">
  <div class="container">
    <!-- start post -->
    {{#post}}
      <div class="main-content" style="width:100%;">
        {{#if feature_image}}
          <div class="featured-media" style="background-image: url({{feature_image}});">
          </div>
        {{/if}}
        <h1>{{{title}}}</h1>
        <p>{{content}}</p>
        <div id="tablewrapper">
        <table id="resources-table">
          <thead>

          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
  </div>
  {{/post}}
  </div>
  <!-- end main post area -->
</section>
