{{!< default}}

<section class="content-wrap archive">
	<div class="page-container">
		{{#post}}
			<main class="main-content">
				<div class="intro">
					{{#if feature_image}}
						<div class="post-image" style="background-image: url({{feature_image}});">
						</div>
					{{/if}}
					<h1>{{{title}}}</h1>
					<p>{{content}}</p>
				</div>
				<h3>Our Github Repos</h3>
				<div class="github-cards">
					<a href="https://github.com/toddbirchard/ghosttheme-stockholm" class="github-card" data-github="toddbirchard/ghosttheme-stockholm">
						<h3 class="repo-title">ghosttheme-stockholm</h3>
						<p class="repo-description">Clean Ghost theme with advanced features & customization.</p>
						<span class="github-card__meta">
							<span class="github-card__language-icon" style="color: #F1E05A;">●</span> Javascript
						</span>
						<span class="github-card__meta">
							<i class="fas fa-star"></i>
							<span data-stars>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
						<span class="github-card__meta">
							<i class="fas fa-code-branch" aria-hidden="true"></i>
							<span data-forks>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
					</a>

					<a href="https://github.com/toddbirchard/ghosttheme-tokyo" class="github-card" data-github="toddbirchard/ghosttheme-tokyo">
						<h3 class="repo-title">ghosttheme-tokyo</h3>
						<p class="repo-description">No-nonsense Ghost theme emphasizing content.</p>
						<span class="github-card__meta">
							<span class="github-card__language-icon" style="color: #F1E05A;">●</span> Javascript
						</span>
						<span class="github-card__meta">
							<i class="fas fa-star"></i>
							<span data-stars>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
						<span class="github-card__meta">
							<i class="fas fa-code-branch" aria-hidden="true"></i>
							<span data-forks>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
					</a>

					<a href="https://github.com/toddbirchard/linkbox-api" class="github-card" data-github="toddbirchard/linkbox-api">
						<h3 class="repo-title">linkbox-api</h3>
						<p class="repo-description">Generate a preview for any link by passing a URL parameter.</p>
						<span class="github-card__meta">
							<span class="github-card__language-icon" style="color: #3572A5;">●</span> Python
						</span>
						<span class="github-card__meta">
							<i class="fas fa-star"></i>
							<span data-stars>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
						<span class="github-card__meta">
							<i class="fas fa-code-branch" aria-hidden="true"></i>
							<span data-forks>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
					</a>

					<a href="https://github.com/toddbirchard/hackers-graphql-server" class="github-card" data-github="toddbirchard/hackers-graphql-server">
						<h3 class="repo-title">hackers-graphql-server</h3>
						<p class="repo-description">Standalone API to handle account creation, auto-publish to medium, and site-wide link embeds.</p>
						<span class="github-card__meta">
							<span class="github-card__language-icon" style="color: #2b7489;">●</span> Typescript
						</span>
						<span class="github-card__meta">
							<i class="fas fa-star"></i>
							<span data-stars>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
						<span class="github-card__meta">
							<i class="fas fa-code-branch" aria-hidden="true"></i>
							<span data-forks>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
					</a>

					<a href="https://github.com/toddbirchard/jira-database-etl" class="github-card" data-github="toddbirchard/jira-database-etl">
						<h3 class="repo-title">jira-database-etl</h3>
						<p class="repo-description">Utilize Google Cloud Functions to import issues from a JIRA instance into a database.</p>
						<span class="github-card__meta">
							<span class="github-card__language-icon" style="color: #3572A5;">●</span> Python
						</span>
						<span class="github-card__meta">
							<i class="fas fa-star"></i>
							<span data-stars>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
						<span class="github-card__meta">
							<i class="fas fa-code-branch" aria-hidden="true"></i>
							<span data-forks>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
					</a>

					<a href="https://github.com/toddbirchard/tableau-extraction" class="github-card" data-github="toddbirchard/tableau-extraction">
						<h3 class="repo-title">tableau-extract</h3>
						<p class="repo-description">A Flask application which extends Tableau to be used as an ETL tool.</p>
						<span class="github-card__meta">
							<span class="github-card__language-icon" style="color: #3572A5;">●</span> Python
						</span>
						<span class="github-card__meta">
							<i class="fas fa-star"></i>
							<span data-stars>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
						<span class="github-card__meta">
							<i class="fas fa-code-branch" aria-hidden="true"></i>
							<span data-forks>
								<i class="fa fa-spinner" aria-hidden="true"></i>
							</span>
						</span>
					</a>
				</div>
			</main>
			{{> projects/projects-dropdown }}
			{{> projects/projects-kanban }}
		{{/post}}
	</div>
</section>
<div class="overlay"></div>

{{#contentFor "scripts"}}
	<script src="{{asset "js/projects.js"}}"></script>
{{/contentFor}}
