{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap archive">
	<div class="container">
				<!-- start post -->
				{{#post}}
					{{> kanban}}
				{{/post}}
				<!-- end post -->
			</div>
			<!-- end main post area -->
		</div>
	</div>
</section>

<!--<script src="{{asset "/js/repos.js"}}"></script>-->
<!-- end site's main content area -->
