{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->


<section class="content-wrap archive page-resources">
  <div class="projects-container">
    <!-- start post -->
    {{#post}}
      <div class="main-content" style="width:100%; padding: 10px 0">
        {{#if feature_image}}
          <div class="post-image" style="background-image: url({{feature_image}});">
          </div>
        {{/if}}
        <h1>{{{title}}}</h1>
        <p>{{content}}</p>
        <div id="tablewrapper">
          <table id="resources-table">
            <thead>
              <tr>
                <th></th>
                <th>Summary</th>
                <th>Link</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  {{/post}}
  </div>
  <!-- end main post area -->
</section>
{{#contentFor "scripts"}}
  <script src="{{asset "js/resources.js"}}"></script>
{{/contentFor}}
