{{!< default}}

<section class="error-message">
	<div style="height: -webkit-fill-available; padding: 100px 50px !important;">
		<h1>404</h1>
		<h2>Oops, the page you're looking for does not exist.</h2>
		<a class="error-button" href="/">RETURN HOME</a>
	</div>
</section>

{{#contentFor "scripts"}}
	<script src="{{asset "js/error.js"}}"></script>
{{/contentFor}}
