{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="page-container sidebar-layout">
		<!-- end main post area -->
		{{! insert sidebar partial}}
		{{> sidebar}}
		<!-- start main post area -->
			{{#is "tag"}}
				{{> cover-tag}}
			{{/is}}
			<main class="postlist">
				{{> loop}}
				{{#is 'home'}}
					{{pagination}}
				{{/is}}
			</main>
	</div>
</section>
<!-- end site's main content area -->
