{{!< default}}

<div class="page-container home sidebar-layout">

	{{#is "tag"}}
		{{> cover-tag}}
	{{/is}}
	<main class="postlist">
		{{> loop}}
		{{#is 'home, paged'}}
			{{pagination}}
		{{/is}}
	</main>
	{{> sidebar}}
</div>
