{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
		<!-- start main post area -->
		<main class="main-content">
			<div class="postlist">
				{{#foreach posts}}
					{{> postpreview}}
				{{/foreach}}
			</div>
		</main>
		<!-- end main post area -->
	</div>
</section>
{{#contentFor "scripts"}}
	<script async src="{{asset "js/postarchive.js"}}"></script>
{{/contentFor}}
<!-- end site's main content area -->
