{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap series-template {{body_class}}">
	<div class="container">
			<!-- end main post area -->
			{{! insert sidebar partial}}
			{{> sidebar}}
				<!-- start main post area -->
				<div class=" main-content">
					<div class="postlist">
						<div class="sort-container">
							<div class="sort">
								<span class="sort-title">Sort</span> <span class="asc">asc</span> <span class="desc">desc</span> <i class="fal fa-arrow-to-bottom"></i>
							</div>
							</div>
							<div class="sorted-series">
								{{#seriesdata}}
								{{> cover-tag}}
								{{#foreach posts}}
										{{> seriespreview}}
								{{/foreach}}
								{{/seriesdata}}
							</div>
						</div>
						</div>
					</div>
</section>

<script>
$(document).ready(function() {
  $('.sort').on('click', function(){
		$('.sorted-series').toggleClass('descending');
	});


	$('.sort').on('click', function(e) {
		$('.sort').toggleClass('sort-toggle');
	});
});


</script>
<!-- end site's main content area -->
