{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap series-template {{body_class}}">
	<div class="container">
			<!-- end main post area -->
			{{! insert sidebar partial}}
			{{> sidebar}}
				<!-- start main post area -->
				<div class=" main-content">
					<div class="postlist">
						{{> cover-tag}}
						<div class="sort-container">
							<div class="sort">
								<span class="sort-title">Sort</span> <span class="sort-method">desc</span> <i class="fal fa-arrow-to-bottom"></i>
							</div>
							</div>
							{{#foreach posts include="tags"}}
	            		{{> seriespreview}}
	            {{/foreach}}
							{{pagination}}
						</div>
						</div>
					</div>
				</div>
	</div>
</section>
<!-- end site's main content area -->
