{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->



<section class="content-wrap archive">
	{{> postheader}}
	<div class="container">
		<!-- start post -->
		{{#post}}

			<div class="intro">
				{{#if feature_image}}
					<div class="featured-media" style="background-image: url({{feature_image}});">
					</div>
				{{/if}}
				<h1></h1>
				<p>{{content}}</p>
				{{!--{{> repos}}--}}
			</div>
		{{/post}}
	</div>


  <div class="ui middle aligned center aligned grid">
      <h2 class="ui teal image header">
        <img src="assets/images/logo.png" class="image">
        <div class="content">
          {{{title}}}
        </div>
      </h2>
      <form class="ui large form" onsubmit="login()">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button">Login</div>
        </div>

        <div class="ui error message"></div>

      </form>

      <div class="ui message">
        New to us? <a href="#">Sign Up</a>
      </div>
    </div>
	<!-- end main post area -->
</section>
<!-- end site's main content area -->
<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.8/stitch.js"></script>
