{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
			{{! insert sidebar partial}}
			{{> sidebar}}
			<!-- start main post area -->
			<div class=" main-content">
				<div class="postlist">
				{{> cover-tag}}
				{{> loop}}
				{{pagination}}
			</div>
		</div>
			<!-- end main post area -->
		</div>
</section>
<!-- end site's main content area -->
