  <div id="newsletter-sidebar" class="widget newsletter">
    <div class="gh-subscribe">
      <h4 class="sidebar-title">{{t "Newsletter"}}</h4>
      <form data-members-form="subscribe">
        <div class="form-group">
          <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
          <button class="button primary" type="submit">
            <span class="button-content">Subscribe</span>
          </button>
        </div>
        <div class="message-success">
          <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error">
          Please enter a valid email address!
        </div>
      </form>
    </div>
  </div>
