<!-- Start Twitter Widget -->
<div class="widget twitter">
  <a class="twitter-timeline" href="https://twitter.com/{{@site.twitter}}?ref_src=twsrc%5Etfw" data-link-color="#5eb9d7" data-chrome="noheader nofooter noborders noscrollbar transparent">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- End Twitter Widget -->
