<!-- Start Github Widget -->
<div class="widget github" style="display:none;">
  <h4 class="title">Github</h4>
  <div class="widget-body">
    <div id="github-card-author"></div>
  </div>
</div>
<!-- End Github Widget -->
