<!-- Start Newsletter Widget -->
{{#if @labs.subscribers}}
  <div id="newsletter-sidebar" class="widget newsletter">
    <div class="gh-subscribe">
      <h4 class="sidebar-title">{{t "Newsletter"}}</h4>
      <div class="newsletter input-group">
        <p class="newsletter-description">Are you into data to the point where it's almost embarrasing? Toss us your email and we'll promise to only give you the good stuff.</p>
        {{subscribe_form
          placeholder="Your email address"
          input_class="subscribe-input-class"
          button_class="btn"
          form_class="newsletter-form"
          form_id="sidebar-newsletter-form"
          input_id="sidebar-newsletter-input"
          button_id="sidebar-newsletter-button"
        }}
      </div>
    </div>
  </div>
{{/if}}
<!-- End Newsletter Widget -->
