<!-- Start Text Widget -->
<div class="widget text">
	<a href="{{@site.url}}" class="logo">
		<img data-src="{{@site.logo}}" class="lazy">
	</a>
	<div>
		<p>{{@site.description}}</p>
	</div>
</div>
<!-- End Text Widget -->
