<!-- Start Facebook Widget -->
<div class="widget">
	<h4 class="title">Facebook</h4>
	<div class="fb-page" data-href="{{@site.facebook}}" data-width="340px" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/hackersandslackers/" class="fb-xfbml-parse-ignore"><a href="{{@site.facebook}}">{{@site.title}}</a></blockquote></div>
</div>
<!-- End Facebook Widget -->
