<!-- start website widget -->
{{#has "website"}}
      <div class="widget author-website" style="0">
          <a href="{{website}}">{{website}}</a>
      </div>
{{/has}}
<!-- <script>
  $(document).ready(function() {
    function websiteCard(website) {
    }
    websiteCard('{{website}}');
  })
</script>-->
<!-- end website widget -->
