<!-- start website widget -->
{{#if "website"}}
      <div class="widget author-website">
          <h4 class="title" style="margin-bottom:0;">Website</h4>
          <a class="previewimage" href="{{website}}">{{website}}</a>
      </div>
{{/if}}
<!-- <script>
  $(document).ready(function() {
    function websiteCard(website) {
    }
    websiteCard('{{website}}');
  })
</script>-->
<!-- end website widget -->
