<!-- Start Tag Widget -->
<div class="widget tag">
	<div class="tag-cloud tag">
		{{#get "tags" limit="all" filter="slug:-[roundup,machine-learning,django,graph-databases,science-news,cybersecurity,blockchain,aws-api,kanban,codesnippetcorner,statistics,tableau-hacks]" include="count.posts" order="count.posts DESC" }}
			{{#foreach tags}}
				<a href="{{url}}">{{name}}</a>
			{{/foreach}}
		{{/get}}
	</div>
</div>
<!-- End Tag Widget -->
