<!-- Start Series Widget -->
<div class="widget series">
  <h4 class="title">Series'</h4>
  <div>
    {{#get "tags" filter="feature_image:-null+slug:-[starting-django,plotly-dash]" include="count.posts,meta_title,slug" order="count.posts DESC" limit="all"}}
      {{#foreach tags visibility="internal"}}
        <div class="seriesitem {{slug}}">
          <div class="series-info">
            <a href="/series/{{slug}}/" class="post-title"><span style="display:inline-block; line-height:1;">{{meta_title}}</span></a>
          </div>
        </div>
      {{/foreach}}
    {{/get}}
  </div>
</div>
<!-- End Series Widget -->
