@import 'variables.less';

.article-preview {
  background: white;
  max-width: 32%;
  transition: all .3s ease-out;
  position: relative;
  height:300px;
  box-shadow: 0 0 5px rgba(80,82,204,.1)!important;

  @media(max-width: 800px){
    margin: 5px 30px;
    width: -webkit-fill-available;
    max-width: none;
    height: 150px !important;
    border-right: 2px solid #dcdcdc!important;
    border-bottom: 2px solid #dcdcdc!important;

    a {
      display:flex;
      justify-content: space-between;
      flex-direction: row;
      height: 100%;
    }
	}

  &:hover{
    cursor: pointer !important;
    background: #c3dbea;
  }

  .img-wrapper {
    width:100%;
    height:50%;
    background-size: cover;
    background-position: center;

    @media(max-width: 800px){
      width:35%;
      height:100%;
    }
  }

  .related-title {
    line-height: 1.3 !important;
    font-size: 1.2em !important;
    margin-top: 0 !important;
  }

  .description {
    padding: 20px;
    color:@text-color;

    p {
      font-size: .9em;
      line-height: 1.5;
      text-align: left;
      font-weight: 600;
      position: absolute;
      bottom: 10px;

      @media(max-width: 800px){
        font-size: .8em;
        margin: 5px 0 5px;
      }
    }
  }
}
