@import 'fonts.less';
@import 'nord.less';

blockquote pre {
   width: 92% !important;
   margin:auto;
}

blockquote p {
  margin-bottom: 0 !important;
}

blockquote .language-python {

  &::before {
    background: rgba(29, 37, 56, 0.42) !important;
    font-size: 14px !important;
    }

  background: rgba(41, 61, 76, 0.84) !important;
}


.post-content {
  pre {
    white-space: pre-wrap;
    transition: all 0.5s ease-out;
    position: relative;
    overflow-y: hidden;
    padding: 0 ;
    margin: 30px auto;
    border-radius: 5px;
    max-width: 100%;
    @media(max-width: 600px) {
      max-width: none;
      width: auto ;
      white-space: pre-line ;
      max-height: 400px;
      overflow-x: visible;
    }

    code {
      overflow-y: hidden;
      transition: all 0.5s ease-out;
    }

    span {
      display: inline;
    }
  }

  &post-content > .hljs,
  pre > code {
    white-space: pre-wrap ;
    padding: 45px 25px 15px ;
    @media(max-width: 600px) {
      overflow-y: hidden ;
    }
  }

  li > code,
  p > code {
    display: inline;
    overflow-y: visible ;
    width: fit-content;
    background: rgba(197, 205, 245, 0.30196078431372547);
    padding: 2px 6px;
    border-radius: 2px;
    color: #0e9bb5;
    font-weight: 500;
  }

  code {
    margin: 0;
    height: 100%;
    font-size: .9em;
    /*font-family: 'DroidSansMonoSlashed', "anonymous-pro", monospace, serif;*/
    @media(max-width: 600px) {
      font-size: 12px;
    }
  }

  .hljs {
    display: block;
    overflow-x: hidden;
    background: #262633;
    overflow-wrap: break-word;
    margin: 0;
    font-weight: 200;
    line-height: 1.7;
    padding: 0 25px 20px;
    white-space: pre-wrap;
    color: #d3dce0;
    font-family: 'dm';
    @media(max-width: 600px) {
      padding: 0 20px 20px;
    }

    &::before {
      margin-bottom: 15px;
      font-size: 1.2em;
      font-family: 'CompassSans-Regular';
      width: 104%;
      height: auto;
      background: #181d25;
      content: "Code Snippet";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      padding: 8px 40px;
      margin-left: -6%;
      opacity: 0.8;
      font-weight: 600 ;
      @media(max-width: 600px) {
        padding: 8px 20px;
        font-size: 1em;
      }
    }

    * {
      font-size: 14px;
      margin: 0;
      @media(max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  .language-python,
  .python.hljs {
    color: #e4f8fd ;
    background: #2a3552;

    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #1d2538;
      content: "Python";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }

    .addition,
    .addition,
    .meta-string,
    .meta-string,
    .regexp,
    .regexp,
    .string,
    .string {
      color: #93DCB8;
    }

    .params {
      color: #ecb357;
    }

    .comment {
      color: #656d82;
    }

    .attribute,
    .attribute {
      color: #d8b061;
    }

    .class,
    .class,
    .title,
    .title {
      color: #ffd712;
      font-weight: 700;
    }

    .attr,
    .attr,
    .number,
    .number,
    .selector-attr,
    .selector-attr,
    .selector-pseudo,
    .selector-pseudo,
    .template-variable,
    .template-variable,
    .type,
    .type,
    .variable,
    .variable {
      color: #bc82d8;
    }

    .keyword {
      color: #00b1d5;
      font-weight: 600;
    }

    .function,
    .function {
      .keyword {
        color: #00b1d5;
      }
    }
  }

  code {
    padding: 4px 5px;
    color: #2e9eb7;
    margin: 0;
  }

  .json,
  .language-json {
    .attr {
      color: #e471a6;
    }

    .string {
      color: #c39dea;
    }

    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #121925;
      content: "JSON";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }

  .fullscreenbtn {
    position: absolute;
    bottom: 13px;
    right: 23px;
    margin: auto;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    color: #6c8699;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
    z-index: 1;

    &:hover {
      opacity: 0.7;
    }

    i {
      position: relative;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 22px;
      opacity: 0.6;
    }
    @media(max-width: 600px) {
      display: block;
    }
  }

  .fullscreen {
    height: 100%;
    width: 110%;
  }

  .hljs.sql {
    background-color: #22202f ;
    /*selection color*/
    .hljs span::selection,
    .hljs::selection {
      background: #373b41;
    }

    .string {
      color: #5C9AF4;
    }

    .hljs span::-moz-selection,
    .hljs::-moz-selection {
      background: #373b41;
    }
    /*foreground color*/
    .hljs {
      color: #c5c8c6;
    }
    /*color: fg_yellow*/
    .name,
    .title {
      color: #f0c674;
    }
    /*color: fg_comment*/
    .comment,
    .meta,
    .meta .keyword {
      color: #707880;
    }
    /*color: fg_red*/
    .deletion,
    .link,
    .literal,
    .number,
    .symbol {
      color: #cc6666;
    }
    /*color: fg_green*/
    .addition,
    .doctag,
    .regexp,
    .selector-attr,
    .selector-pseudo,
    .string {
      color: #87e8db;
    }
    /*color: fg_purple*/
    .attribute,
    .code,
    .selector-id {
      color: #b294bb;
    }
    /*color: fg_blue*/
    .bullet,
    .keyword,
    .selector-tag,
    .tag {
      color: #79bbf3;
    }
    /*color: fg_aqua*/
    .subst,
    .template-tag,
    .template-variable,
    .variable {
      color: #8abeb7;
    }
    /*color: fg_orange*/
    .built_in,
    .builtin-name,
    .quote,
    .section,
    .selector-class,
    .type {
      color: #de935f;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #191729;
      content: "SQL";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .hljs.vim {
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }

    .comment,
    .quote {
      color: #5c6370;
      font-style: italic;
    }

    .doctag,
    .formula,
    .keyword {
      color: #c678dd;
    }

    .deletion,
    .name,
    .section,
    .selector-tag,
    .subst {
      color: #e06c75;
    }

    .literal {
      color: #56b6c2;
    }

    .addition,
    .attribute,
    .meta-string,
    .regexp,
    .string {
      color: #98c379;
    }

    .built_in,
    .class .title {
      color: #e6c07b;
    }

    .attr,
    .number,
    .selector-attr,
    .selector-class,
    .selector-pseudo,
    .template-variable,
    .type,
    .variable {
      color: #d19a66;
    }

    .bullet,
    .link,
    .meta,
    .selector-id,
    .symbol,
    .title {
      color: #61aeee;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    .link {
      text-decoration: underline;
    }

    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #121925;
      content: "Vim";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }
  /*
  pre > .hljs.css,
  pre > .language-css {
    &::before {
      margin-bottom: 15px;

      width: 110%;
      height: auto;
      background: #121925;
      content: "CSS";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }
*/
  .hljs.ini,
  .language-ini {
    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #121925;
      content: "ini";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .handlebars,
  .hljs.html,
  .hljs.xml,
  .language-handlebars {
    .tag {
      color: #98bfd4;
    }

    .attr {
      color: #a9a7d4;
    }

    .string {
      color: #9ebfa5;
    }

    .name {
      color: #2aaed0;
    }
    background: #272738 ;

    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #14141f;
      content: "HTML";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  pre > .javascript,
  pre > .language-javascript {
    font-size: 14px;
    line-height: 1.6;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #2a2d2a;
    color: #779477;

    &::-moz-selection {
      text-shadow: none;
      background: #435643;
    }

    .inserted {
      border-bottom: 1px dotted #f0fff0;
      text-decoration: none;
    }

    .italic {
      font-style: italic;
    }

    .bold,
    .important {
      font-weight: bold;
    }

    .important {
      color: #b3d6b3;
    }

    .entity {
      cursor: help;
    }

    .highlight {
      outline: 0.4em solid #5c705c;
      outline-offset: 0.4em;
    }

    .cdata,
    .doctype,
    .prolog {
      color: #535f53;
    }

    .comment {
      color: #5e5e6f;
    }

    .built_in {
      font-weight: 700;
    }

    .punctuation {
      color: #535f53;
    }

    .namespace {
      opacity: 0.7;
    }

    .number,
    .operator,
    .tag {
      color: #a2b34d;
    }

    .function,
    .property {
      color: #687d68;
    }

    .atrule-id,
    .selector,
    .tag-id {
      color: #f0fff0;
    }

    .attr-name {
      color: #b3d6b3;
    }

    .params {
      color: #bec155;
    }

    .attr {
      color: #787793;
    }

    &::before {
      margin-bottom: 15px;
      width: 110%;
      height: auto;
      background: #1a1a23;
      content: "Javascript" ;
      color: white;
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }
}
