@import "variables.less";
@import "mixin.less";
/*====================================================
	footer
====================================================*/
.main-footer {
	background: rgb(39, 118, 206) !important;
	background-size: cover;
	/*background: #0089b7;*/
	padding: 35px 10%;
	color: #fff;
	margin-top: 30px;
	box-shadow: inset 0 1px 6px 0 rgba(44,50,63,0.41);
	background-repeat-y: repeat;
	@media(max-width: 1040px) {
		background-size: contain;
	}

	.footer-container {
		max-width: 1000px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		@media(max-width: 600px) {
			flex-direction: column;
		}
	}
	@media(max-width: 1000px) {
		padding: 30px;
	}
	@media(max-width: 600px) {
		margin-top: 10px;
		display: block;
		padding: 30px;
	}

	.newsletter {
		padding: 13px 40px 0 0;
		input::placeholder {
			color: grey;
		}

		.news-description {
			margin-bottom: 15px;
			font-size: .9em;
			line-height: 1.8;
			text-align: justify;
			margin-top: 0;
			color:white;
			font-weight: 600;

			@media(max-width: 600px) {
				margin-bottom: 15px;
				text-align: left;
			}
		}

		.btn {
			width: 100%;
			background: #27c6b5;
			padding: 13px 20px;
			font-size: 17px;
			color: #fff;
			border: 0;
			text-transform: Uppercase;
			transition: all .3s easeout;
		}

		.form-group {
			position: relative;

			&::after {
				content: '\f0e0';
				font-family: "Font Awesome 5 Pro";
				font-weight: 100;
				display: inline-block;
				font-style: normal;
				-webkit-font-feature-settings: normal;
				font-feature-settings: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				right: 17px;
				top: 11px;
				position: absolute;
				color: #9aa1bd;
				font-size: 1.1em;
			}
		}

		button {
			width: 100%;
			background: linear-gradient(165deg,#40a2a2,#1f68a7);
			padding: 13px 20px;
			font-size: 16px;
			color: white;
			border: 0;
			text-transform: Uppercase;
			transition: all 0.3s easeout;

			span {
				font-size: 14px;
			}

			&:hover {
				background: @hover-color;
			}
		}

		input {
			font-weight: 100;
			border: 1px solid #d5dbe6;
			transition: all 0.3s all;

			&::placeholder {
				opacity: 0.7;
			}

			&:hover {
				background: #e5f9ff;
				border-color: #bbd8e2;

				&::placeholder {
					opacity: 0.1;
				}
			}

			&:focus {
				background: white;
			}
		}

		.gh-subscribe-rss {
			padding-top: 10px;
			display: block;
			text-align: right;
		}
	}

	.contributors {
		.single-author-name {
			font-size: 0.9em !important;

			font-family: Gordita-Medium, sans-serif !important;
		}

		.role {
			color: #cae4f3;
		}
	}

	.widget {
		padding: 10px 0;
		width: 28%;
		margin: 0;

		.about-title {
			margin: 0;
		}
		@media(max-width: 800px) {
			padding: 0;
			margin: 10px 10px 60px;
		}
		@media(max-width: 600px) {
			width: 100%;
			margin: 10px 0 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.title {
			color: @white;
			font-weight: 800;
			margin: 10px 0 15px !important;
			font-size: 1.5em;
			@media(max-width: 600px) {
				margin: 10px 0 30px!important !important;
				font-size: 1.3em;
			}
		}

		& > div > div:last-child {
			border-bottom: 0 !important;
		}



		.tag-cloud {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			a {
				border: 0;
				color: #fff;
				background: #325e90;
				padding: 4px 12px;
				font-size: 0.85em;
				display: inline-block;
				height: fit-content;
				width: fit-content;
				margin: 0 8px 8px 0;
				flex-grow: 1;
				text-align: center;
				font-family: Gordita-Regular;
				transition: all 0.3s easeout;
				border-bottom: 1px solid #2d5f84;
				border-right: 1px solid #2d5f84;

				&:hover {
					background: @white;
					color: @theme-color;
				}
			}
		}


		.recent-post {
			.single-author {
				font-size: 18px;
				font-weight: 200;
				font-family: 'CompassSans-Medium', serif;
				transition: all 0.2s ease;
				border-bottom: 1px dashed rgba(53, 37, 68, 0.29) !important;

				&:last-child {
					border-bottom: none !important;
				}
			}

			.recent-single-post {
				background: rgba(29, 29, 29, 0.2);
				padding: 15px;
				border-bottom: none;
				margin-bottom: 10px;
			}

			.single-author {
				display: flex;
				align-items: center;
				padding-bottom: 10px;

				.avi {
					height: 40px;
					width: 40px;
					border-radius: 0;
					margin-right: 15px;
					border-bottom: 2px solid #002686;
					border-right: 2px solid #002686;
				}
			}



			.widget .newsletterbtn-footer {
			    width: 100%;
			    background: linear-gradient(165deg,#40a2a2,#1f68a7);
			    padding: 13px 20px;
			    font-size: 16px;
			    color: #fff;
			    border: 0;
			    text-transform: Uppercase;
			    transition: all .3s easeout;
			}

			.newsletter {
				input::placeholder {
					color: grey;
				}

				.form-group {
					position: relative;

					&::after {
						content: '\f0e0';
						font-family: "Font Awesome 5 Pro";
						font-weight: 100;
						display: inline-block;
						font-style: normal;
						-webkit-font-feature-settings: normal;
						font-feature-settings: normal;
						font-variant: normal;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						right: 17px;
						top: 11px;
						position: absolute;
						color: #9aa1bd;
						font-size: 1.1em;
					}
				}

				button {
					width: 100%;
					background: #27c6b5;
					padding: 13px 20px;
					font-size: 16px;
					color: white;
					border: 0;
					text-transform: Uppercase;
					transition: all 0.3s easeout;

					span {
						font-size: 14px;
					}

					&:hover {
						background: @hover-color;
					}
				}

				input {
					font-weight: 100;
					border: 1px solid #d5dbe6;
					transition: all 0.3s all;

					&::placeholder {
						opacity: 0.7;
					}

					&:hover {
						background: #e5f9ff;
						border-color: #bbd8e2;

						&::placeholder {
							opacity: 0.1;
						}
					}

					&:focus {
						background: white;
					}
				}

				.gh-subscribe-rss {
					padding-top: 10px;
					display: block;
					text-align: right;
				}
			}

			.recent-single-post,
			.single-author {
				a {
					margin: 0;
					text-align: left !important;
					line-height: 1.5;
				}

				.post-title,
				.single-author-name {
					color: @white;
					font-size: 0.95em;
					margin: 0;
					line-height: 1.4;
					font-family: Gordita-Medium,sans-serif !important;
					font-weight: 700;
					display: block;

					&:hover {
						color: @theme-color;
					}
				}

				.info {
					display: flex;
					flex-direction: column;

					.role {
						color: #cae4f3;
						font-size: 0.8em;
						margin-top: 2px;
						font-weight: 200;
						font-family: Gordita-Regular,sans-serif;
					}
				}

				.single-author-name {
					font-size: 18px;
				}

				.date,
				.tags {
					color: #cae4f3;
					font-size: 0.8em;
					margin-top: 9px;
					font-weight: 200;
					font-family: 'Gordita-Regular', sans-serif;

					a {
						color: @white;
					}
				}
			}
		}
	}
	@media(max-width:600px) {
		.widget.recent {
			display: none;
		}
	}

	.related{
		@media(max-width: 800px) {
			display: none;
		}
	}

	.widget.tag{
		 min-width: 34%;
	}

}
