pre{

& > .hljs.javascript,
& > .javascript {
  display: block;
  overflow-x: auto;
  background: #282B2D !important;

  .keyword,
  .literal,
  .selector-id,
  .selector-tag {
    color: #93c763;
  }

  .number {
    color: #ffcd22;
  }

  .hljs {
    color: #e0e2e4;
  }

  .attribute {
    color: #668bb0;
  }

  .class .title,
  .code,
  .section {
    color: white;
  }

  .link,
  .regexp {
    color: #d39745;
  }

  .meta {
    color: #557182;
  }

  .addition,
  .built_in,
  .bullet,
  .emphasis,
  .name,
  .selector-attr,
  .selector-pseudo,
  .subst,
  .tag,
  .template-tag,
  .template-variable,
  .type,
  .variable {
    color: #8cbbad;
  }

  .string,
  .symbol {
    color: #8cbdc5;
  }

  .comment,
  .deletion,
  .quote {
    color: #818e96;
  }

  .selector-class {
    color: #a082bd;
  }

  .doctag,
  .keyword,
  .literal,
  .name,
  .section,
  .selector-tag,
  .strong,
  .title,
  .type {
    font-weight: bold;
  }

  .title{
    color: #ecae3c;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #1d1e1f;
    content: "Javascript" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-left: -40px;

    font-weight: 700;
  }
}
}
