@import "variables.less";
.menu-wrapper {
  position: absolute;
  right: 40px;
    top: 73px;
  box-shadow: 0 0 5px rgba(65,67,144,.15);
  overflow-x: hidden;
  width: 250px;
  height: fit-content;
  z-index: 3;
  opacity: 0;
  transition: all .5s easeout;


  .active {
    background:white;
  }

.dropdown-menu {
    height: 330px;

  #info {
    z-index: auto;
    bottom: -11px;
    position: absolute;
    line-height: 1.2;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    height: 53px;
    margin: auto;
    padding: 0;
    opacity: 0;
    width: 100%;
    display: none;

    #error {
      background: #efd0d5;
      color: #672727;
      line-height: 1.3;
      height: auto;
      display: none;
      padding: 10px 15%
    }

    #success{
      background: #e7f9ef;
      color: #27674d;
      line-height: 1.3;
      height: auto;
      display: none;
      padding: 10px 15%
    }
  }


  #signup,
  #login {
    width: 210px;
    top: 0;
    position: absolute;
    padding: 20px;
    background: #fff;
    -webkit-transition: all .6s easeout;
    transition: all .6s easeout;
    height:100%
  }

  form {
    text-align: left;
  }

  .secondarylink {
    font-size: 12px !important;
    letter-spacing: 1px;
    color: #000 !important;
    text-align: center;
    Width: 100%;
    display: block;
    margin-top: 12px;

    &:hover {
      cursor:pointer;
    }
  }

  * {
    text-shadow: none;
  }

  #create-a-user {
    display: block;
  }

  a {
    color: white !important;
  }

  label {
    font-size: 0.8em;
  }

  h4 {
    font-size: 1.2em;
    text-shadow: none;
    margin: 0;
    color: #53586b;
    line-height: 1.2;
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #53586b;
    text-align: left;
  }

  input {
    box-shadow: 0 0 5px rgba(65,67,144,.15);
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 4%;
    width: 90%;
    font-size: 0.9em;
    font-family: CompassSans-Light,AvenirNextLTPro-Light,sans-serif!important;
    font-weight: 200;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    outline: 0;
    -webkit-appearance: none;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 12px;
    font-family: AvenirNextLTPro-Medium,serif;
    text-transform: uppercase;
    padding: 14px 20px;
    line-height: 1;
    height: 40px;
    background: linear-gradient(135deg,#4fc388,#21b6b7);
    color: white;
    width: 100%;
    margin-top: 12px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .createnew {
    background: none;
    text-align: center;
    color: black;
    width: 100%;
    border: 0;
  }

  .signin {
    border-bottom: 1px solid #009c83;
    border-right: 2px solid #009c83;
    display: inline-block;
    color: white;
  }

  .signup {
    color: #009c83;
    border: 1px solid #009c83;
    background: white;
  }

  .forgot {
    text-align: center;
    margin-top: 15px;

    a {
      font-size: 0.8em;
      color: #5f5f5f;
      text-shadow: none;
      text-align: center;
      padding: 5px;
    }
  }

  a {
    text-shadow: 0;
  }
}
}
