.hljs.bash,
.hljs.ini,
.hljs.vim,
.hljs.yaml,
.hljs.css,
.language-bash,
.language-ini,
.language-vim,
.language-yaml,
.language-css {
  display: block;
  overflow-x: auto;
  background: #2E3440 !important;

  .hljs,
  .subst {
    color: #D8DEE9;
  }

  .selector-tag {
    color: #81A1C1;
  }

  .selector-id {
    color: #8FBCBB;
    font-weight: bold;
  }

  .selector-class {
    color: #8FBCBB;
  }

  .selector-attr {
    color: #8FBCBB;
  }

  .selector-pseudo {
    color: #88C0D0;
  }

  .addition {
    background-color: rgba(163,190,140,0.5);
  }

  .deletion {
    background-color: rgba(191,97,106,0.5);
  }

  .built_in,
  .type {
    color: #8FBCBB;
  }

  .class {
    color: #8FBCBB;
  }

  .function {
    color: #88C0D0;
  }

  .function > .title {
    color: #88C0D0;
  }

  .keyword,
  .literal,
  .symbol {
    color: #81A1C1;
  }

  .number {
    color: #B48EAD;
  }

  .regexp {
    color: #EBCB8B;
  }

  .string {
    color: #A3BE8C;
  }

  .title {
    color: #8FBCBB;
  }

  .params {
    color: #D8DEE9;
  }

  .bullet {
    color: #81A1C1;
  }

  .code {
    color: #8FBCBB;
  }

  .emphasis {
    font-style: italic;
  }

  .formula {
    color: #8FBCBB;
  }

  .strong {
    font-weight: bold;
  }

  .link:hover {
    text-decoration: underline;
  }

  .quote {
    color: #4C566A;
  }

  .comment {
    color: #4C566A;
  }

  .doctag {
    color: #8FBCBB;
  }

  .meta,
  .meta-keyword {
    color: #5E81AC;
  }

  .meta-string {
    color: #A3BE8C;
  }

  .attr {
    color: #8FBCBB;
  }

  .attribute {
    color: #D8DEE9;
  }

  .builtin-name {
    color: #81A1C1;
  }

  .name {
    color: #81A1C1;
  }

  .section {
    color: #88C0D0;
  }

  .tag {
    color: #81A1C1;
  }

  .variable {
    color: #D8DEE9;
  }

  .template-variable {
    color: #D8DEE9;
  }

  .template-tag {
    color: #5E81AC;
  }
}

.bash,
.language-bash {
  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #22293a;
    content: "Bash";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.css,
.language-css {
  .built_in {
    color: #88C0D0;
  }

  .keyword {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #22293a;
    content: "CSS";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.groovy,
.language-groovy {
  .meta:not(:first-child) {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #22293a;
    content: "Groovy";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.nginx,
.language-nginx {
  .attribute {
    color: #88C0D0;
  }

  .section {
    color: #5E81AC;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #22293a;
    content: "NGINX";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.vim,
.language-vim {
  .built_in {
    color: #88C0D0;
    font-style: italic;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #22293a;
    content: "Vim";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.yaml,
.language-yaml {
  .meta {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    background: #22293a;
    content: "Yaml";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}
