@import "variables.less";
@import "mixin.less";

.page-template {
  .post-header {
    display: none;
    padding: 10px 0 0 25px;
    @media(max-width: 800px) {
      display: block;
      display: relative;
          padding: 0;
          padding-right:15px;
    }
  }

  .mobile-branding {
    display: none;
    @media(max-width: 800px) {
      float: left;
      margin: 0 !important;
      height: 40px;
      width: 40px;
      position: relative;
      top: 0;
      bottom: 0;
      left: 10px;
      z-index: 40;
      display: block;
    }
  }

  .menu {
    @media(max-width: 800px) {
      padding: 0 !important;
    }
  }

  .main-navigation {
    @media(max-width: 800px) {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu {
      @media(max-width: 800px) {
        width: 222px;
        margin: 20px;
        padding: 0;
      }
    }
  }

  .post-title {
    margin: 40px 40px 10px;
  }

  .main-header {
    @media(max-width: 800px) {
      height: 100px;
    }
  }

  .menu {
    @media(max-width: 600px) {
      width: 220px;
      padding: 25px 20px 0 0;
      display: flex;
      justify-content: space-between;
      float: right;
      margin: 0;
      list-style: none;
    }

    li {
      display: inline-block;

      a {
        color: white;
        font-family: 'mr-eaves-xl-modern', serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.2s ease-out;

        &:hover {
          color: @hover-color;
          cursor: pointer;
        }
      }
    }
  }

  .featured-media {
    display: none;
    @media(max-width: 800px) {
      display: block;
      height: 250px !important;
    }
  }

  .page-head {
    .post-title {
      margin: 40px 40px 0;
      @media(max-width: 800px) {
        margin: 40px 30px 0;
      }
    }
  }

  .post-content {
    margin: 20px 40px;
    /*width: 68%;*/
    @media(max-width: 800px) {
      margin: 25px 30px 0;
    }
  }

  p {
    margin: 0 auto 20px;
  }
}
