@import "variables.less";
@import "mixin.less";

/*====================================================
	pagination
====================================================*/
.pagination {
	margin: 10px 0 20px;
	text-align: center;
	display: block;
	order: 20;
	width: -webkit-fill-available;

	a {
		text-align: center;
		display: inline-block;
		color: #FFFFFF;
		background: @theme-color;
		border-radius: 0;
		padding: 6px 13px;

		&:hover {
			background: @hover-color;
			text-decoration: none;
			color: @white;
		}
	}

	.page-number {
		background: @theme-color;
		color: @white;
		margin: 0 5px;
		display: inline-block;
		line-height: 1;
		padding: 12px 14px;
	}
}

/* Next & Prev buttons on post pages */

.prev-next-wrap {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	height: 60px;

	@media(max-width: 1000px){
		padding:0 20px;
	}

	.btn {
		max-width: 37%;
		line-height: 1.3;
		font-size: 1em;
		font-family: CompassSans-Regular;
		font-weight: 100;
		background: none;
		border: 1px solid #7EA8B7;
		color: #7ea8b9;
		transition: all .3s ease-out;


		&:hover {
			color:white;
			background-color:#7EA8B7;
		}

		a {
			transition: all .3s ease-out;
			&:hover {
				color:white;
				background-color:#7EA8B7;
			}
		}

		i {
			margin: 7px;
		}

		@media(max-width: 800px){
			font-size: .9em;
			 padding: 10px 17px;
			 display: flex;
    	align-items: center;
			height: 40px;
			    width: 49%;
		}
	}
}
