@import "variables.less";
@import "mixin.less";

.post-header {
  margin: auto;
  position: relative;
  width: auto;
  padding: 0;
  background: #042149;
  z-index: 100;
  @media(max-width: 800px) {
    margin: auto;
    position: relative !important;
    width: auto;
    padding: 0 10px;
    height: 59px;
  }

  .navcontain {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    @media(max-width: 800px) {
      padding: 0;
    }
  }

  .logo {
    height: 42px;
    transition: all 0.3s easeout;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    img {
      width: 200px;
    }
    @media(max-width: 800px) {
      display: none !important;
    }
  }

  .mobile-branding {
    height: 50px;
    width: 50px;
    display: block;
    margin: 15px;
    z-index: 100;
    opacity: 1;
    display: none;
    @media(max-width: 800px) {
      margin: 8px !important;
      height: 40px;
      width: 40px;
      display: block;
    }
  }

  nav {
    overflow: hidden;
  }

  .post-navigation {
    .menu {
      width: 300px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      list-style: none;

      li::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: white;
        font-size: 12px;
        margin-right: 8px;
      }

      .nav-about::before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f129";
      }

      .nav-projects::before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: "\f120";
      }

      .nav-series::before {
        font-family: "Font Awesome 5 Pro";
        content: "\f15b";
      }
      @media(max-width: 600px) {
        width: 270px;
        overflow: hidden;

        li {
          margin-right: 12px;

          a {
            font-size: 12px !important;
          }
        }
      }

      li {
        display: inline-block;
        transition: all 0.2s ease-out;

        &:hover {
          &::before,
          a {
            color: @theme-color;
            cursor: pointer;
          }
        }

        a {
          color: white;
          font-family: 'sofia-pro', san-serif;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.5px;
          transition: all 0.2s ease-out;
          @media(max-width: 600px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
