@import "variables.less";
@import "mixin.less";

/*====================================================
	post footer
====================================================*/
.post-footer {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
  align-items: center;
	height: 85px;

	@media(max-width: 800px) {
		display: block;
	}

	.tag-list {
		width:40%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		a {
			color: @text-post-header;
	    background: #F2F2F2;
	    padding: 3px 8px;
	    font-size: .8em;
			margin-right: 15px;
			transition: all .3s;
			line-height: 1;
    	padding: 10px 12px;

			@media(max-width:800px) {
				margin-bottom: 8px;
			}

			&:hover {
				cursor: pointer;
				background: darken(#f2f3f5, 10%);
				color: darken(#7cd2ea, 40%);
			}
		}


		@media(max-width: 800px){
			width: 100%;
			text-align: center;
			justify-content: space-evenly;
		}
	}

	.share-icons {
		display: flex;
		justify-content: space-between;
		margin: 0 !important;
		padding-left: 0 !important;
		width: 450px;

		@media(max-width:800px) {
			margin: auto;
		}

		.btn {
			list-style: none;
			display: flex !important;
			border: 0;
			padding: 10px!important;
			transition: 0.2s all ease-out;
			border-radius: 2px;
			margin-left: 13px !important;
			background: #F2F2F3;

			@media(max-width:800px) {
				  width: fit-content !important;
				}

			@media(max-width:600px) {
					padding: 6px 10px 0!important;
			}

			a {
				width: 100%;
				margin: 0;
				padding: 0;

				@media(max-width:800px) {
					padding: 0;
					height: fit-content;
				}
			}

			span {
				line-height: 1;
			}

			&:hover {
				border: none;

				span {
					color:white;
				}
		}

		i {
			font-size: 14px;
			margin: 0 10px 0 0;

			@media(max-width: 600px) {
				font-size: 20px;
				margin: 0 !important;
			}
		}

		span {
			font-size: 12px;
			color:#989898;

			@media(max-width: 600px) {
				display: none;
			}
		}

		a {
			display: flex;
			align-items: center;
		}

		@media(max-width: 800px){
			width: 100%;
		}
	}



		a {
			border: 0;
			padding: 5px 11px;
			color: #7794a7;
			line-height: 1.5em;
			display: inline-block;
			border-radius: 2px;
			.transition(all 0.2s ease);
			font-size: .9em;
			margin: 5px 10px 5px 0;
			background: #f2f3f5;


			&:hover {
				color: @white;
				text-decoration: none;

				span {
					color:#fff;
				}
			}
		}
	}

	.share-icons {
		padding: 0;
		display: flex;
		justify-content: space-between;
		@media(max-width: 800px) {
			margin: auto;
			width: auto;
		}
	}

	.share {
		padding-left: 0;
		max-width: 500px;
		min-width: 220px;
		margin: 0 !important;

		@media(max-width:800px) {
			max-width: 80% !important;
			margin: 15px auto !important;
		}

		.share-icons {
			z-index:20;
			}
		}

		.share,
		.tag-cloud {
			float: none;
			margin: 20px 0;

			@media(max-width: 800px) {
				width: 100%;
				margin:20px auto;
			}
		}

		.tag-cloud {
			display: flex;
			justify-content: center;

			a {
				margin: 0 10px 10px !important;
				color: @theme-color;
			}
		}
	}


.container {
	.postlist {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.main-content {
		padding-right: 0;
		padding-left: 0;

		.page-template,
		.post-page {
			margin-bottom: 0;

			.post-head {
				.post-title {
					font-weight: 700;
				}

				.author,
				.date {
					margin: 10px auto 0;
					display: block;
				}
			}
		}

		.about-author {
			background: #fff;
		}
	}
}
