@import "variables.less";
@import "mixin.less";

/*====================================================
	post footer
====================================================*/
.post-footer {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
  align-items: center;

	@media(max-width: 800px) {
		display: block;
	}

	.tag-list {
		width:40%;
		a {
			color: @text-post-header;
			background: #f2f3f5;
			padding: 10px 11px;
			font-size: .85em;
		}


		@media(max-width: 800px){
			width: 100%;
			text-align: center;
		}
	}

	.share-icons {
		display: flex;
		justify-content: space-between;
		margin: 0 !important;
		padding-left: 0 !important;
		width: 450px;

		@media(max-width: 800px) {
			justify-content: space-around !important;
		}

		.btn {
			list-style: none;
			display: inline-block !important;
			border: 0;
			padding: 0 !important;
			transition: 0.2s all ease-out;
			border-radius: 2px;
			margin-left: 0 !important;

			a {
				width: 100%;
				margin: 0;
				padding: 5px 10px;
			}

			&:hover {
				border: none;

				span {
					color:white;
				}
		}

		i {
			font-size: 14px;
			margin: 0 10px 0 0;

			@media(max-width: 600px) {
				font-size: 24px;
				margin: 0 !important;
			}
		}

		span {
			font-size: 12px;
			color:#989898;

			@media(max-width: 600px) {
				display: none;
			}
		}

		a {
			display: flex;
			align-items: center;
		}

		@media(max-width: 800px){
			width: 100%;
		}
	}



		a {
			border: 0;
			padding: 5px 11px;
			color: #7794a7;
			line-height: 1.5em;
			display: inline-block;
			border-radius: 2px;
			.transition(all 0.2s ease);
			font-size: .9em;
			margin: 5px 10px 5px 0;
			background: #f2f3f5;


			&:hover {
				color: @white;
				text-decoration: none;

				span {
					color:#fff;
				}
			}
		}
	}

	.share-icons {
		padding: 0;
		display: flex;
		justify-content: space-between;
		@media(max-width: 800px) {
			margin: auto;
			justify-content: space-around;
		}
	}

	.share {
		padding-left: 0;
		max-width: 450px;
		width: 65%;
		min-width: 220px;

		@media(max-width: 800px) {
			width: 100%;
		}

		.share-icons {
			width:100%;
			z-index:20;
			}
		}

		.share,
		.tag-cloud {
			float: none;
			margin: 20px 0;

		}

		.tag-cloud {
			display: flex;
			justify-content: center;

			a {
				margin: 0 10px 10px !important;
				color: @theme-color;
			}
		}
	}


.container {
	.postlist {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.main-content {
		padding-right: 0;
		padding-left: 0;

		.page-template,
		.post-page {
			margin-bottom: 0;

			.post-head {
				.post-title {
					font-weight: 700;
				}

				.author,
				.date {
					margin: 10px auto 0;
					display: block;
				}
			}
		}

		.about-author {
			background: #fff;
		}
	}
}
