@import "variables.less";
@import "mixin.less";

.series-template {
  .main-content {
    display: flex !important;
    flex-direction: row !important;
    min-width: -webkit-fill-available;
  }
}


.tag-template, {
  .postlist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    @mecia(max-width: 800px) {

    }

    .series-cover {
      background-size: cover;
      background-position-y: center;
      height: 300px;
      background-color: #305790;
      background-blend-mode: soft-light;
      @media(max-width: 600px) {}

      .tag-name {
        font-size: 2.2em;
        color: white !important;
        font-family: CompassSans-Medium;
        text-shadow: 0 0 20px #2f2d56;
        margin-top: 110px;
      }

      .tag-description {
        font-weight: 600;
        line-height: 1.5;
        max-width: 90%;
        margin: 20px auto 0;
        color: white;
        font-family: CompassSans-Regular;
        text-shadow: 0 0 20px #2f2d56;
      }
    }

    article {
      width: 49%;
      flex-wrap: wrap;
      @media(max-width: 600px) {
        width: 100%;
      }

      .post-head {
        margin: 0 0 60px;
      }

      .post-title {
        font-size: 1.5em;
      }

      .featured-media {
        box-sizing: border-box;
        height: 200px;
        display: block;
        overflow: hidden;
        margin: auto;
        background-size: cover;
      }

      .post-excerpt {
        font-size: 1.1em;
        font-family: 'CompassSans-Medium';
      }

      .post-permalink {
        position: absolute;
        width: 85%;
        bottom: 10px;
        padding-bottom: 10px;
      }

      .author,
      .tags,
      p {
        display: none !important;
      }
    }
  }
}

.postlist {
  .tag-title {
    color: white;
  }

  .tag-image {
    margin-top: 30px;
    @media(max-width: 600px) {
      display: none;
    }
  }
  @media(max-width: 1000px) {
    padding: 0 0 0 10px;
  }
  @media(max-width: 800px) {
    padding: 0;
    margin: 0 6%;
    width: 88%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
