@import "variables.less";
@import "mixin.less";

.tag-template {
  .postlist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    article {
      margin-bottom: 20px;

      .content {
        padding: 20px;
      }
    }

    .series-cover {
      background-size: cover;
      background-position-y: center;
      height: 300px;
      background-color: #305790;
      background-blend-mode: soft-light;
      @media(max-width: 600px) {
        margin-left: calc(~"-50vw + 50%") !important;
        margin-right: calc(~"-50vw + 50%") !important;
        margin-top: -20px;
      }

      .tag-name {
        font-size: 2.2em;
        color: white !important;
        font-family: Gilroy-SemiBold;
        text-shadow: 0 0 20px #2f2d56;
        margin-top: 110px;
      }

      .tag-description {
        font-weight: 600;
        line-height: 1.5;
        max-width: 90%;
        margin: 20px auto 0;
        color: white;
        font-family: Gilroy-Regular;
        text-shadow: 0 0 20px #2f2d56;
      }
    }

    article {
      width: 49%;
      flex-wrap: wrap;
      @media(max-width: 600px) {
        width: 100%;
      }

      .post-head {
        margin: 0;
      }

      .post-title {
        font-size: 1.4em;

        a {
          font-family: 'ProductSans-Medium','CompassSans-Light',sans-serif;
          font-weight: 500;
        }
      }

      .featured-media {
        box-sizing: border-box;
        height: 200px;
        display: block;
        overflow: hidden;
        margin: auto;
        background-size: cover;
      }

      .post-excerpt {
        font-size: 1em;
        font-family: 'Gilroy-Regular';
        min-height: 70px;
        margin-bottom: 35px;
            font-weight: 600;
      }

      .post-permalink {
        position: absolute;
        width: 88%;
        padding: 0;
        bottom: 10px;
        padding-bottom: 10px;

        .btn {
          padding: 12px 20px;
          font-size: 16px;
        }
      }

      .author,
      .tags,
      p {
        display: none !important;
      }
    }
  }
}

.postlist {
  .tag-title {
    color: white;
  }

  .tag-image {
    margin-top: 30px;
    @media(max-width: 600px) {
      display: none;
    }
  }
  @media(max-width: 1000px) {
    padding: 0 0 0 10px;
  }
  @media(max-width: 800px) {
    padding: 0;
    margin: 0 6%;
    width: 88%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
