@import "variables.less";
@import "mixin.less";

.post-template {
	/*====================================================
		main post area
	====================================================*/
	.container {
		margin: 20px auto 0;
		padding: 0;
		max-width: 1000px !important;
		@media(max-width: 800px) {
			margin: 0 0 20px 0 !important;
			width: 100% !important;
		}
	}

	.embedly-card {
		@media(max-width: 600px){
			margin-left: calc(~"-50vw + 50%") !important;
			margin-right: calc(~"-50vw + 50%") !important;
			height: 300px !important;
			margin: 0 !important;
			width: 100%;
		}

	}



	.post-title {
		text-align: left;
		width: 100%;
		margin: 0;
		line-height: 1;
		overflow: hidden;
		display: block;
		@media(max-width: 800px) {
			white-space: normal;
			text-align: center !important;
		}

		a {
			color: @text-color-heading;
			transition: all 0.2s ease-out;

			&:hover {
				color: @secondary-color;
			}
		}
	}

	.post-title {
		@media(max-width: 800px) {
			font-weight: 700;
			font-size: 2.4em;
		}
		@media(max-width: 600px) {
			font-size: 2em;
		}
	}

	.excerpt {
		font-weight: 200;
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 0;
		@media(max-width: 800px) {
			margin: 10px auto 0;
			font-size: 1.4em;
			text-align: center;
			line-height: 1.1;
			max-width: 450px;
		}
	}

	h2 {
		margin-bottom: 20px;
		color: @text-post-header;
		line-height: 1.2;
		font-family: montserrat;
		font-size: 2em;
		border-bottom: 1px solid #d7e8ec;
		padding-bottom: 10px;
		font-weight: 400 !important;
		@media(max-width: 800px) {
			font-size: 1.6em;
		}
	}

	h3 {
		font-size: 1.7em;
		line-height: 1.2;
		color: @text-post-header;
		font-weight: 100;
		margin-bottom: 10px;
	}

	p {
		text-align: justify;
		font-size: 18px;
		line-height: 1.8 !important;
		@media(max-width: 600px) {
			font-size: 16px;
		}
	}

	blockquote {
		border-left: 4px solid #26a2c7;
		font-family: mr-eaves-xl-modern,serif;
		font-style: normal;
		background: #f9f9f9;
		padding: 20px;
		font-size: 1.1em;
	}

	.kg-post > div {
		@media(max-width: 600px) {
			margin-left: calc(~"-50vw + 50%") !important;
			margin-right: calc(~"-50vw + 50%") !important;
		}
	}

	.main-header,
	.main-navigation,
	.sidebar {
		display: none;
	}

	.post-meta {
		margin: 0 80px;
		color: #9ea1ab;
		font-size: 12px;
		display: flex;
		width: auto;
		@media(max-width: 800px) {
			max-width: 450px;
			margin: 0 auto !important;
			width: auto;
			display: flex;
			justify-content: space-around;
		}
		@media(max-width: 600px) {
			display: flex;
			justify-content: space-between;
			padding: 0;
			max-width: none;
			width: auto;
			margin: 0 30px !important;
			border-top: 1px solid #e8e8e8;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&.date {
			span {
				color: #8e8e8e !important;
			}

			i {
				color: #8e8e8e !important;
				font-size: 1.2em !important;
			}
		}

		.author {
			.avi {
				width: 30px;
				height: 30px;
				display: inline-block;
				margin-right: 10px;
				border-radius: 50%;
			}

			span {
				text-transform: capitalize;
				color: #467192;
			}
		}

		.meta-item {
			margin: 0 50px 0 0;
			float: left;
			font-size: 1.3em;
			display: flex;
			align-items: center;
			text-transform: capitalize;
			@media(max-width: 600px) {
				margin: 0;
				font-size: 1.2em;
			}

			span {
				font-weight: 400 !important;
				font-family: 'Montserrat';
			}

			i {
				margin-right: 10px;
				font-size: 1.5em;
			}

			a {
				text-decoration: none;

				&:hover {
					color: @hover-color;

					& > span {
						color: @hover-color !important;
					}
				}
			}

			&:last-child {
				margin: 0;
			}
		}
	}

	.post-roundup-blurb {
		border-bottom: 0;
		border-top: 0;
		padding: 10px 20px;
		background: #e7f1ed;
		border-left: 5px solid #26ae60;
		margin: 30px 80px;
		width: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 78px;
		@media(max-width: 800px) {
			margin: 30px 40px;
		}
		@media(max-width: 600px) {
			padding: 20px 0;
			border-bottom: 0;
			border-top: 0;
			padding: 15px 20px;
			background: #f1f4f7;
			border-left: 5px solid #26ae60;
			margin: 15px 30px 30px;
			width: auto;
		}

		.blurb-icon {
			background: url("http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/flask-icon.png");
			height: 55px;
			width: 55px;
			min-width: 55px;
			margin-right: 25px;
			background-size: cover;
			display: inline-block;
			@media(max-width: 800px) {
				margin-right: 15px;
			}
			@media(max-width: 600px) {
				height: 65px;
				min-width: 65px;
				display: none;
			}
		}

		p {
			line-height: 1.5 !important;
			font-family: akzidenz;
			color: #494b56;
			font-size: 1em;
			width: auto;
			margin: 0;
			text-align: justify;
			@media (max-width: 800px) {
				font-size: 1em;
				text-align: justify;
				line-height: 1.4 !important;
			}
			@media (max-width: 600px) {
				font-size: 0.9em;
				text-align: justify;
				line-height: 1.5 !important;
				font-style: normal;
			}
		}
	}

	[data-simplebar] {
		@media (max-width: 600px) {
			margin-left: calc(~"-50vw + 50%") !important;
			margin-right: calc(~"-50vw + 50%") !important;
			width: 120%;
			overflow: visible;
		}
	}

	.container {
		margin: 0 auto;
		padding: 0;
	}

	.main-content {
		width: 100%;
		max-width: 1000px;
		padding: 0 !important;

		table.highlight > tbody > tr {
			-webkit-transition: background-color 0.25s ease;
			transition: background-color 0.25s ease;
		}

		table.highlight > tbody > tr:hover {
			background-color: rgba(242, 242, 242, 0.5);
		}

		table.centered tbody tr td,
		table.centered thead tr th {
			text-align: center;
		}

		tr {
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		}

		td,
		th {
			padding: 15px 5px;
			display: table-cell;
			text-align: left;
			vertical-align: middle;
			border-radius: 2px;
		}

		table.responsive-table {
			width: 99%;
			border-collapse: collapse;
			border-spacing: 0;
			display: block;
			position: relative;
			cellspacing: 0;
			    overflow: hidden;
			/* sort out borders */
			@media (max-width: 600px) {
				margin-left: calc(~"-50vw + 50%") !important;
				margin-right: calc(~"-50vw + 50%") !important;
				width: 120%;
				margin-left: 0 !important;
			}
		}

		table.responsive-table td:empty:before {
			content: '\00a0';
		}

		table.responsive-table td,
		table.responsive-table th {
			margin: 0;
			vertical-align: top;
			font-size: 1em;
			    border-radius: 0;
		}

		table.responsive-table th {
			padding-right: 10px;
			max-width: 186px;
			@media (max-width: 600px) {
				max-width: 108px;
			}
		}

		table.responsive-table thead {
			display: block;
			float: left;

			box-shadow: 0 0 20px #9090a9;
		}

		table.responsive-table thead tr {
			display: block;
			padding: 0;
		}

		table.responsive-table thead tr th::before {
			//content: "\00a0";
		}

		table.responsive-table tbody {
			display: block;
			width: auto;
			position: relative;
			overflow-x: auto;
			white-space: nowrap;
			&:hover {
				cursor: ew-resize;
			}
		}

		table.responsive-table tbody tr {
			display: inline-block;
			vertical-align: top;
			width: 55%;
			@media(max-width: 600px) {
				width: 50%;
			}
		}

		table.responsive-table th {
			display: block;
			text-align: right;
			height: 17px;
			@media(max-width: 600px) {
				font-size: 0.9em;
				height: 16px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		table.responsive-table td {
			display: block;
			height: 17px;
			text-align: left;
			border: 0;
			@media(max-width: 600px) {
				height: 16px;
				padding: 7px 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		table.responsive-table tr {
			border-bottom: none;
			padding: 0;
			border: none;
			padding: 0 0 0 10px;
		}

		table.responsive-table thead {
			border: 0;

			tr {
				padding: 0 !important;
			}
		}

		table {
			margin: 30px auto;
			border-radius: 3px;
			width: 100%;
			font-size: 13px;
			border: 1px solid #e5e9ef;
			border-spacing: 0;

			@media(max-width: 600px) {
				margin-left: calc(~"-50vw + 50%") !important;
				margin-right: calc(~"-50vw + 50%") !important;
				width: 114%;
			}

			td,
			th {
				padding: 7px 5px;
				text-align: center;
				word-wrap: break-word;
				padding: 10px;
				border-right: 1px solid #e5e9ee;
				@media(max-width: 800px) {
					padding: 7px 15px;
					overflow-x: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}

			tr:nth-child(even) td {
				background: #f4f8fd;
			}

			td {
				border-style: none;
				border-right: 1px solid #e5e9ee;
				border-left: 0;
				line-height: 1.3;
			}

			th {
				background: #94b6c1;
				font-weight: 600;
				text-transform: uppercase;
				color: white;
				font-size: 14px;
				border-style: none;
				line-height: 1.2;
				font-family: montserrat;
				@media(max-width: 600px) {
					font-size: 14px;
					font-weight: 800;
				}
			}
		}
	}

	div.data-simplebar{
		@media(max-width: 600px) {
			margin-left: calc(~"-50vw + 50%") !important;
			margin-right: calc(~"-50vw + 50%") !important;
			overflow: visible;
			width: 114%;
		}
	}

 .tableshadow {
	 	content: " ";
		position: absolute;
		height: 120%;
		width: 20%;
		box-shadow: inset -47px -10px 65px 34px rgba(255,255,255,1);
		z-index: 100;
		right: 0;
		top: -50px;
		display: block;

		@media(max-width: 600px) {
			box-shadow: inset -47px -10px 59px 20px #fff !important;
			right: 0;
		}
	}

	.post-head {
		padding: 30px 0;
		margin: 0 80px;
		/*border-bottom: 1px solid #eaeaea;*/
		@media(max-width: 800px) {
			margin: 0 15px;
			border-bottom: 0;
		}
	}

	.post-content {
		margin: 25px 80px 40px;

		.kg-card-markdown > p {
			text-align: justify;
		}

		img {
			border: 1px solid #eaeaea;
		}

		a {
			font-family: 'akzidenz-regular';
		}

		blockquote {
			margin: 40px;
			@media(max-width: 600px) {
				margin: 20px auto;
			}

			p {
				padding-left: 20px;
				font-size: 24px;
				line-height: 1;
				color: #26a2c7;
			}
		}

		p {
			margin-top: 8px;
		}
		@media(max-width: 800px) {
			margin: 20px 40px 0;
		}
		@media(max-width: 600px) {
			margin: 20px 25px 0;
		}
	}

	.post-header {
		.branding {
			float: left;
			z-index: 40;
			margin: 20px 0 0 30px;

			img {
				width: 200px !important;
				max-width: none;
			}
		}
	}

	.main-navigation {
		text-align: center;
		margin-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: none;
		height: 100px;
		z-index: 20;
		@media(max-width: 800px) {
			z-index: 20;
			width: auto;
			height: auto;
		}

		.menu {
			margin: 30px 40px 0 auto;
			float: right;
			width: 300px;
			@media(max-width: 800px) {
				width: 222px;
				margin: 20px 0;
				padding: 0;
			}
		}
	}

	figcaption {
		text-align: center;
		margin: -10px auto 40px;
		font-size: 15px;
		color: #8c8c8c;
		white-space: nowrap;
		@media(max-width: 600px) {
			margin: 0 auto 60px;
			font-size: 14px;
			padding: 0;
			height: 0;
			line-height: 4;
		}
	}


}

.post {
	padding: 0;
	background: @white;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	order: 1;

	.post-head {
		line-height: 1;
		text-align: left;

		img {
			height: 14px;
			width: 14px;
		}

		span {
			margin: 0;
			white-space: nowrap;

			&:last-child {
				margin: 0;
			}
		}

		.comment-count {
			display: none;
		}
	}

	.featured-media {
		img {
			width: 100%;
		}

		a {
			transition: opacity 0.2s ease-out;

			&:hover {
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}

	.post-content {
		overflow-x: visible;
		clear: both;

		h2,
		h3 {
			margin-top: 40px;
			color: @text-post-header;
		}

		ol,
		ul {
			margin-left: 15px;
			padding-left: 15px;
			margin-bottom: 20px;

			li {
				padding: 5px;
			}
		}

		.fluid-width-video-wrapper {
			margin: 0 auto;
		}

		iframe {
			margin: 0;
			display: block;
			margin: 0 auto 30px!important !important;
			height: 400px;
			margin-bottom: 20px !important;

			&.instagram-media {
				max-width: 400px !important;
			}
			@media(max-width: 800px) {
				margin-left: calc(~"-50vw + 50%") !important;
				margin-right: calc(~"-50vw + 50%") !important;
				height: 228px;
				width: 120%;
			}
		}

		.twitter-tweet {
			margin: 20px auto;
			width: 100% !important;

			.EmbeddedTweet,
			.EmbeddedTweet-tweet {
				width: 100% !important;
			}
		}

		img {
			max-height: 550px;
			border: 1px solid #eaeaea;
			margin: 30px auto;
			display: block;
		}

		figure {
			width: fit-content;
			margin: 40px auto;

			img {
				max-width: 100%;
			}
			@media(max-width: 600px) {
				margin-left: calc(~"-50vw + 50%");
				margin-right: calc(~"-50vw + 50%");
				width: auto !important;
				box-shadow: 0 0 15px #dcdcdc;

				img {
					width: 100%;
					max-height: none;
					margin: auto;
					border: 1px solid #e2e2e2;
					border-left: 0;
					border-right: 0;
				}
			}
		}

		a {
			color: @secondary-color;

			&:hover {
				color: @hover-color;
			}
		}
	}
}

.post-template {
.about-author {
	background: @white;
	padding: 40px 80px;
	margin: 20px 0;
	min-height: 88px;
	@media(max-width: 1000px) {
		padding: 30px 40px;
		margin: 20px;
	}
	@media(max-width: 600px) {
		padding: 30px;
	}

	.avatar {
		width: 90px;
		height: 90px;
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 30px;
		.border-radius(50%);
		margin-bottom: 20px;
		float: left;
		@media(max-width: 600px) {
			width: 80px;
			height: 80px;
			margin: 0 15px 15px 0;
		}

		img {
			width: 100%;
		}
	}

	.details {
		display: inline-block;
		float: left;

		span {
			display: block;
			line-height: 1em;
			margin-bottom: 8px;
			font-size: 0.9em;

			i {
				margin-right: 8px;
			}
		}
	}

	.bio {
		display: block;
		line-height: 1.5;
		margin-top: 10px;
		font-weight: 100;
		width: 100%;
		clear: both;
		font-size: 18px;
		@media(max-width: 800px) {
			font-size: 16px;
		}
	}

	.author {
		font-size: 1.5em;
		margin-bottom: 5px;
		font-family: 'akzidenz-regular';
		@media(max-width: 600px) {
			font-size: 1.3em;
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.meta-info {
		font-size: 12px;
		line-height: 1.5;
		font-weight: 100;
		color: @text-color-light;
		margin-bottom: 7px;

		span {
			margin-right: 10px;
			display: block;

			i {
				margin-right: 7px;
			}
			@media(max-width: 800px) {
				display: block !important;
				width: 100%;
			}
		}
	}
}
}
