/*====================================================
	Importing less files
====================================================*/
@import "variables.less";
@import "mixin.less";
@import "code.less";
@import "author.less";
@import "global.less";
@import "footer.less";
@import "menu.less";
@import "post.less";
@import "postfooter.less";
@import "postpreview.less";
@import "variables.less";
@import "customtemplates.less";
@import "linkpreview.less";
@import "widgets.less";
@import "pagination.less";
@import "page.less";
@import "postheader.less";
@import "postlist.less";
@import "tags.less";
@import 'githubcard.less';
@import 'kanban.less';
@import 'social.less';
@import 'swiper.less';
@import 'transactional.less';
@import 'fonts.less';
@import 'screen.less';

/*====================================================
	about author and comment and next-prev link
====================================================*/




/*====================================================
	tag and author archive
====================================================*/
.archive {
	.featured-media {
		height: 300px;
		background-size: cover;
		background-position: center;
		@media (max-width: 800px) {
			width: 110%;
			margin-left: -5%;
			margin-top: -7%;
		}
	}
}
/*====================================================
	media query
====================================================*/
@media (min-width: 768px) {
	.nav-toggle-button {
		display: none;
	}
}

.fluid-width-video-wrapper {
	padding-top: 56% !important;
}

.page-template-template,
.post-template {
	.mobile-branding {
		@media(max-width: 800px) {
			display: block;
		}
	}
}
