.series-template {
  article {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;


    .details {
      min-width: -webkit-fill-available;
      padding: 20px;

      .post-head {
            width: 460px;
      }
    }

    .featured-media {
      min-width: 250px;
      height: 200px;
      margin: 0;
    }

    .post-title a {
          font-size: 1.8em !important;
    }
  }
}
