.series-template {

  article {
    @media(max-width:600px){
          height: 150px !important;
    }
  }

  i {
    height: 15px !important;
    font-size: 15px !important;
  }

  .fa-arrow-to-bottom {
    transition: all .3s ease-out;
  }

  .flip {
    transform: rotate(180deg) !important;
  }

  .sort-container {
    display: block;
    width: 97%;
    height: 29px;
    margin-bottom: 15px;
    background: #dde1ea;
    padding: 5px 3% 5px 0;

    .sort {
      float:right;

      &:hover {
        cursor:pointer;
      }

      .sort-title{
        font-family: 'CompassSans-Medium';
      }

      .sort-method{
        font-family: 'CompassSans-Regular';
      }

    }
  }

  article {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;


    .featured-media {
      margin: 0;
      height: auto;
      width: auto;
      position: relative;

      @media(max-width: 600px) {
        max-width: 115px;
        height: 100% !important;
      }
    }

    .mobile-name {
      display:none;
    }

    .series-post-count {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      background: #1ab1d4;
      color: #fff;
      font-family: 'CompassSans-Medium';
      box-shadow: 1px 1px 1px rgba(67, 67, 84, .9);
    }


    .details {
      width: -webkit-fill-available;
      padding: 20px;

      .post-head {
        width: 460px;

        @media(max-width: 600px) {
          width: -webkit-fill-available;
          overflow: hidden;
        }

        .post-title {
          font-size: 1.5em!important;
          font-weight: 900;
          width: 379px;
          margin: 0 0 15px;

          @media(max-width: 600px) {
            width: -webkit-fill-available;
            overflow: hidden;
          }
        }

        .post-excerpt {
          display: block;
        }

        .postcount {
          font-family: 'CompassSans-Regular',serif;
          font-size: 1.3em;
        }
      }
      .post-permalink {
        padding: 0;

        @media(max-width: 600px) {
          display: none;
        }
      }
    }

    .post-card-image {
      min-width: 250px;
      height: 200px;
      margin: 0;

      @media(max-width: 600px) {
        background-position-x: center;
        background-size: cover;
        min-width: 150px;
        width: -webkit-fill-available !important;
        display: none;

        a {
          display: block;
          min-width: 150px;
        }
      }
    }


  }
}
