@import "variables.less";
@import "mixin.less";
.meta-item {
  display: flex;
  justify-items: center;
  margin: auto 0;
  align-items: center;
  font-size: 14px;

  span {
    font-family: AvenirNextLTPro-Light;
  }
}
.meta,
.post-meta {
  .nodejs {
    color: #69a202;
    background-color: lighten(#83cc00, 55%);

    i {
      color: #69a202 !important;
    }
  }

  .aws {
    color: #c37a32;
    background-color: lighten(#e9903a, 40%);

    i {
      color: #c37a32 !important;
    }
  }

  .django {
    color: #43b78b;
    background-color: lighten(#43b78b, 50%);

    i {
      color: #43b78b !important;
    }
  }

  .nosql {
    color: #6eb14a;
    background-color: lighten(#6eb14a, 45%);

    i {
      color: #6eb14a !important;
    }
  }

  .mysql {
    color: #7277F4;
    background-color: lighten(#7277F4, 45%);

    i {
      color: #7277F4 !important;
    }
  }

  .apis {
    color: #763EA9;
    background-color: lighten(#763EA9, 45%);

    i {
      color: #763EA9 !important;
    }
  }

  .frontend {
    color: #b59316;
    background-color: lighten(#b59316, 55%);

    i {
      color: #b59316 !important;
    }
  }

  .data {
    color: #1cccae;
    background-color: lighten(#1cccae, 50%);

    i {
      color: #1cccae !important;
    }
  }

  .roundup {
    color: #666fa5;
    background-color: lighten(#666fa5, 40%);

    i {
      color: #666fa5 !important;
    }
  }

  .excel {
    color: #136713;
    background-color: lighten(#136713, 70%);

    i {
      color: #136713 !important;
    }
  }

  .devops {
    color: #495f6d;
    background-color: lighten(#495f6d, 60%);

    i {
      color: #495f6d !important;
    }
  }

  .pandas {
    color: #c03694;
    background-color: lighten(#c03694, 50%);

    i {
      color: #c03694 !important;
    }
  }

  .googlecloud {
    color: #1990f5;
    background-color: lighten(#1990f5, 60%);

    i {
      color: #1990f5 !important;
    }
  }

  .mysql {
    color: #7a588e;
    background-color: lighten(#7a588e, 50%);

    i {
      color: #7a588e !important;
    }
  }



  .datascience {
    color: #118e84;
    background-color: lighten(#118e84, 65%);

    i {
      color: #118e84 !important;
    }
  }

  .tableau {
    color: #af7409;
    background-color: #fff8ec;

    i {
      color: #af7409;
    }
  }

  .python {
    color: #0A9CC5;
    background-color: lighten(#0A9CC5, 55%);

    i {
      color: #0A9CC5;
    }
  }

  .flask {
    color: #505da9;
    background-color: lighten(#474663, 60%);

    i {
      color: #505da9;
    }
  }

  .statistics {
    color: #34b27a;
    background-color: lighten(#34b27a, 50%);

    i {
      color: #34b27a;
    }
  }

  .expressjs {
    color: grey;
    background-color: lighten(grey, 40%);

    i {
      color: grey;
    }
  }
}
