.hljs {
  display: block;
  overflow-x: hidden;
  overflow-wrap: break-word;
  margin: 0;
  line-height: 1.7;
  padding: 0 25px 20px;
  white-space: pre-wrap !important;
  font-weight: 400;
  font-family: 'AFParseGroteskMono-Light';
  @media(max-width: @mobile-breakpoint) {
    padding: 0 20px 20px;
    font-size: 12px !important;

    * {
      font-size: 12px !important;
    }
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }

  * {
    margin: 0;
  }
}
