.hljs {
  display: block;
  overflow-x: hidden;
  background: linear-gradient(#2d3555, #1d2036);
  overflow-wrap: break-word;
  margin: 0;
  font-weight: 200;
  line-height: 1.7;
  padding: 0 25px 20px;
  white-space: pre-wrap !important;
  color: #e4edf1;
  font-weight: 400;
  font-family: 'Hack';
  @media(max-width: 600px) {
    padding: 0 20px 20px;
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }

  &::before {
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    mix-blend-mode: color-dodge;
    padding: 8px 25px;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    font-family: 'Hack';
    font-size: 1.15em;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-rendering: auto;
    text-shadow: -2px 2px 1px rgba(0, 9, 46, 0.6) !important;
    content: "Code Snippet";
    background: rgba(36, 40, 66, .6);
    mix-blend-mode: color-dodge;
    border-bottom: 1px solid #293d5c;
    @media(max-width: 600px) {
      width: -webkit-fill-available;
      width: -moz-webkit-fill-available;
      padding: 5px 40px;
      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;
      margin: 0 auto;
    }
  }

  * {
    margin: 0;
  }
}
