.post-content {
  .hljs.javascript,
  .hljs.language-javascript {
    background: #eef7f2;
    color: #444;
    border: 1px solid #ddeee5;

    &::-moz-selection {
      text-shadow: none;
      background: #435643;
    }

    .inserted {
      border-bottom: 1px dotted #f0fff0;
      text-decoration: none;
    }

    .bold,
    .important {
      font-weight: bold;
    }

    .important {
      color: #b3d6b3;
    }

    .entity {
      cursor: help;
    }

    .highlight {
      outline: 0.4em solid #5c705c;
      outline-offset: 0.4em;
    }

    .comment {
      color: #68aeb6;
      opacity: 0.6;

      @media(max-width: @mobile-breakpoint) {
        white-space: pre;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline;
        overflow: hidden;
      }
    }

    .built_in {
      font-family: 'dm', sans-serif;
      color: #38bbed;
    }

    .punctuation {
      color: #535f53;
    }

    .namespace {
      opacity: 0.7;
    }

    .number,
    .operator {
      color: #b53bd6;
    }

    .tag {
      .name {
        color: #517757;
      }


      .name {
        color: #6dbfec;
      }
    }

    .property {
      color: #687d68;
    }

    .atrule-id,
    .selector,
    .tag-id {
      color: #f0fff0;
    }

    .attr-name {
      color: #b3d6b3;
    }

    .function > .keyword {
      color: #78ddfa;
      font-weight: 700;
    }

    .function > .title {
      color: #d08888;
    }

    .params {
      color: #de8a2b;
    }

    .keyword {
      color: #3b7cd6;
      font-family: 'dm', sans-serif;
    }

    .string {
      font-weight: 400;
      font-family: 'dm';
      color: #5d9f8f;

      @media(max-width: @mobile-breakpoint) {
        white-space: pre;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline;
        overflow: hidden;
      }
    }

    .attr {
      color: #5975c2;
    }
  }
}
