.post-content {
  .hljs.javascript,
  .hljs.language-javascript {
    background: #1e3742;
    color: #a0e4cf;

    &::-moz-selection {
      text-shadow: none;
      background: #435643;
    }

    .inserted {
      border-bottom: 1px dotted #f0fff0;
      text-decoration: none;
    }

    .bold,
    .important {
      font-weight: bold;
    }

    .important {
      color: #b3d6b3;
    }

    .entity {
      cursor: help;
    }

    .highlight {
      outline: 0.4em solid #5c705c;
      outline-offset: 0.4em;
    }

    .cdata,
    .doctype,
    .prolog {
      color: #535f53;
    }

    .comment {
      color: #7f8ba7;
      opacity: 0.6;
    }

    .built_in {
      font-weight: 700;
      color: #79ddfb;
    }

    .punctuation {
      color: #535f53;
    }

    .namespace {
      opacity: 0.7;
    }

    .number,
    .operator,
    .tag {
      color: #f7f23f;
    }

    .property {
      color: #687d68;
    }

    .atrule-id,
    .selector,
    .tag-id {
      color: #f0fff0;
    }

    .attr-name {
      color: #b3d6b3;
    }

    .function > .keyword {
      color: #78ddfa;
      font-weight: 700;
    }

    .function > .title {
      color: #d08888;
    }

    .params {
      color: #fbb579;
    }

    .keyword {
      color: #a4a0ff;
    }

    .string {
      color: #daf7fd;
      font-weight: 400;
      font-family: 'Hack';
    }

    .attr {
      color: #a39fff;
    }

    &::before {
      content: "Javascript";
      color: white;
      background: rgba(50, 70, 94, 0.6);
    }
  }
}
