.post-content {
    .java,
    .language-java {
      border: 1px solid #f5e8e2;
      background: #fffbf5;
      color: #574949;

      .keyword {
        font-weight: 900;
        color: #884d00;
      }

      .class .title {
        color: #d80000;
      }

      .string {
        color: #8d5656;
      }
    }
}
