.post-content {
  .json,
  .language-json {
    line-height: 1.4 !important;
    background: #edf6f1;
    color: #416c66;
    border: 1px solid #d4f2e2;

    .attr {
      color: #319ce5 !important;
      font-weight: 700;
      font-family: 'dm', sans-serif;
    }

    .string {
      font-weight: 400;
      font-family: 'dm';
      color: #4d9881;

      @media(max-width: @mobile-breakpoint) {
        white-space: pre;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline;
        overflow: hidden;
      }
    }

    .comment,
    .quote {
      color: #5c6370;
    }

    .literal {
      color: #56b6c2;
    }

    .addition,
    .regexp {
      color: #c39dea !important;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
      font-family: 'dm', sans-serif;
    }

    .link {
      text-decoration: underline;
    }
  }
}
