.post-content {
  .json,
  .language-json {
    line-height: 1.4 !important;
    background: #3b314f;
    color: #a8d1df;

    .attr {
      color: #e471a6 !important;
      font-weight: 700;
      font-family: 'Hack';
    }

    .string {
      color: #c39dea;
    }

    .comment,
    .quote {
      color: #5c6370;
      font-style: italic;
    }

    .doctag,
    .formula,
    .keyword {
      color: #c678dd;
    }

    .deletion,
    .name,
    .section,
    .selector-tag,
    .subst {
      color: #e06c75;
    }

    .literal {
      color: #56b6c2;
    }

    .addition,
    .attribute,
    .meta-string,
    .regexp,
    .string {
      color: #c39dea !important;
    }

    .built_in,
    .class,
    .title {
      color: #e6c07b;
    }

    .attr,
    .number,
    .selector-attr,
    .selector-class,
    .selector-pseudo,
    .template-variable,
    .type,
    .variable {
      color: #73b97c;
    }

    .bullet,
    .link,
    .meta,
    .selector-id,
    .symbol,
    .title {
      color: #61aeee;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    .link {
      text-decoration: underline;
    }

    &::before {
      content: "JSON";
      color: white;
    }
  }
}
