.json,
.language-json {
  line-height: 1.4 !important;

  .attr {
    color: #e471a6;
    font-family: 'AFParseGroteskMono-Bold';
  }

  .string {
    color: #c39dea;
  }

  &::before {
    margin-bottom: 0;
    width: 110%;
    height: auto;
    content: "JSON";
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
  }
}
