.post-content {
  .handlebars,
  .hljs.html,
  .language-css,
  .language-endpoint,
  .language-handlebars,
  .language-html,
  .lnaguage-http,
  .language-jinja,
  .language-xml,
  .css,
  .http,
  .xml {
    color: #c5cddc;
    background: #282c34;

    .comment,
    .quote {
      color: #5c6370;
      font-style: italic;
    }

    .doctag,
    .formula,
    .keyword {
      color: #c678dd;
    }


    .deletion,
    .name,
    .section,
    .selector-tag,
    .subst {
      color: #ed77f3;
    }

    .literal {
      color: #56b6c2;
    }

    .addition,
    .attribute,
    .meta-string,
    .regexp,
    .string {
      color: #7bd4ff;
    }

    .built_in,
    .class .title {
      color: #e6c07b;
    }

    .attr,
    .number,
    .selector-attr,
    .selector-class,
    .selector-pseudo,
    .template-variable,
    .type,
    .variable {
      color: #f2c77f;
    }

    .bullet,
    .link,
    .meta,
    .selector-id,
    .symbol,
    .title {
      color: #61aeee;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    .link {
      text-decoration: underline;
    }
  }
}

.handlebars,
.language-handlebars{
  .template-variable{
    color: #88c8fb;
  }


  &::before {
    content: "Handlebars";
    background: rgba(56, 62, 102, 0.6);
    color: white;
  }
}

.html,
.language-html{
  &::before {
    content: "HTML";
    background: rgba(56, 62, 102, 0.6);
    color: white;
  }
}


.jinja,
.language-jinja {
  &::before {
    content: "Jinja";
    background: rgba(56, 62, 102, 0.6);
    color: white;
  }
}

.http,
.language-http {
  &::before {
    content: "HTTP";
    background: rgba(56, 62, 102, 0.6);
    color: white;
  }
}
