.language-python {
  color: #e4f8fd ;
  background: #152948 !important;

  &::before {
    height: auto;
    content: "Python" !important;
  }

  .hljs-meta {
    color: #9eb2c6;
  }

  .hljs-addition,
  .hljs-meta-string,
  .hljs-regexp,
  .hljs-string {
    color: #93DCB8;
    font-weight: 100;
    font-family: 'Hack';
  }

  .hljs-params {
    color: #ecb357 !important;
  }

  .hljs-comment {
    color: #737a8e !important;
  }

  .hljs-attribute {
    color: #d8b061 !important;
  }

  .hljs-class,
  .hljs-title {
    color: #ffd712 !important;
    font-weight: 700;
    font-family: 'Hack';
  }

  .hljs-attr,
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable {
    color: #bc82d8 !important;
  }

  .hljs-keyword {
    color: #00b1d5 !important;
    font-weight: 700;
    font-family: 'Hack';
  }

  .hljs-function {
    .hljs-keyword {
      color: #00b1d5 !important;
    }
  }
}
