.language-python,
.python.hljs {
  color: #e4f8fd ;
  background: linear-gradient(#2d4467,#1c2a40);

  &::before {
    height: auto;
    content: "Python" !important;
  }

  .hljs-meta {
    color: #faf2c7;
  }


  .hljs-addition,
  .hljs-meta-string,
  .hljs-regexp,
  .hljs-string {
    color: #93DCB8;
    font-weight: 400;
    font-family: 'Hack';
  }

  .hljs-params {
    color: #ecb357;
  }

  .hljs-comment {
    color: #788198;
  }

  .hljs-attribute {
    color: #d8b061;
  }

  .hljs-class,
  .hljs-title {
    color: #ffd712;
    font-weight: 700;
    font-family: 'Hack';
  }

  .hljs-attr,
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable {
    color: #bc82d8;
  }

  .hljs-keyword {
    color: #00b1d5;
    font-weight: 700;
    font-family: 'Hack';
  }

  .hljs-function {
    .hljs-keyword {
      color: #00b1d5;
    }
  }
}
