.post-content {
  .hljs {
    &.language-python,
    &.python {
      color: #e4f8fd;
      background: #1c2645;

      &::before {
        height: auto;
        content: "Python" !important;
        background: rgba(61, 85, 101, 0.4);
        color: white;
      }

      .meta {
        color: white !important;
      }

      .addition,
      .meta-string,
      .regexp,
      .string {
        color: #b8ffdc !important;
        font-weight: 100;
        font-family: 'AFParseGroteskMono-Light';

        @media(max-width: @mobile-breakpoint) {
          white-space: pre;
          text-overflow: ellipsis;
          max-width: 100%;
          display: inline;
          overflow: hidden;
        }
      }

      .params {
        color: #ecb357 !important;
      }

      .comment {
        color: #737a8e !important;

        @media(max-width: @mobile-breakpoint) {
          white-space: pre;
          text-overflow: ellipsis;
          max-width: 100%;
          display: inline;
          overflow: hidden;
        }
      }

      .attribute {
        color: #d8b061 !important;
      }

      .class,
      .title {
        color: #ffe567 !important;
        font-weight: 700;
        font-family: 'AFParseGroteskMono-Light';
      }

      .attr,
      .number,
      .selector-attr,
      .selector-pseudo,
      .template-variable,
      .type,
      .variable {
        color: #bc82d8 !important;
      }

      .keyword {
        color: #45b3c9 !important;
        font-weight: 600;
        font-family: 'AFParseGroteskMono-Regular';
      }
    }
  }
}
