.language-shell,
.hljs.shell,
.hljs.output,
.language-output,
.hljs.bash,
.language-bash {
  background: linear-gradient(#2d3555, #1d2036);
  font-weight: normal;

  .hljs-title {
    color: #fad000;
    font-weight: normal;
  }

  .hljs-name {
    color: #a1feff;
  }

  .hljs-tag {
    color: #ffffff;
  }

  .hljs-attr {
    color: #f8d000;
    font-style: italic;
  }

  .hljs-built_in,
  .hljs-section,
  .hljs-selector-tag {
    color: #fb9e00;
  }

  .hljs-keyword {
    color: #fb9e00;
  }

  .hljs-subst {
    color: #e3dfff;
  }

  .hljs-addition,
  .hljs-bullet,
  .hljs-code,
  .hljs-deletion,
  .hljs-quote,
  .hljs-regexp,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-pseudo,
  .hljs-string,
  .hljs-symbol,
  .hljs-template-tag {
    color: #4cd213;
  }

  .hljs-meta,
  .hljs-meta-string {
    color: #fb9e00;
  }

  .hljs-comment {
    color: #ac65ff;
  }

  .hljs-keyword,
  .hljs-literal,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-strong {
    font-weight: normal;
  }

  .hljs-literal,
  .hljs-number {
    color: #fa658d;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

.hljs.output,
.language-output {
  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "Output" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;

    @media(max-width: 600px) {
      width: -webkit-fill-available;
      width: -moz-webkit-fill-available;
      padding: 8px 0;
      font-size: 1.2em;
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}

.hljs.shell,
.language-shell,
.hljs.bash,
.language-bash  {

  .hljs-built_in {
    color: #df91dc !important;
  }
  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "Shell" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;

    @media(max-width: 600px) {
      width: -webkit-fill-available;
      width: -moz-webkit-fill-available;
      padding: 8px 0;
      font-size: 1.2em;
      margin: 0 auto;
    }
  }
}
