.post-content {
  .language-sql,
  .sql {
    background: #eaeaf3;
    color: #eaf5f3;
    border: 1px solid #dadaed;
    color: #444;

    .hljs span::selection,
    .hljs::selection {
      background: #373b41;
    }

    .string {
      color: #7578bc;
    }

    .hljs span::-moz-selection,
    .hljs::-moz-selection {
      background: #373b41;
    }
    /*foreground color*/
    .hljs {
      color: #c5c8c6 !important;
    }
    /*color: fg_yellow*/
    .name,
    .title {
      color: #f0c674;
    }
    /*color: fg_comment*/
    .comment,
    .keyword,
    .meta {
      color: #707880;
    }
    /*color: fg_red*/
    .deletion,
    .link,
    .literal,
    .number,
    .symbol {
      color: #4ac0fa;
    }
    /*color: fg_green*/
    .addition,
    .doctag,
    .regexp,
    .selector-attr,
    .selector-pseudo,
    .string {
      color: #bf51d5;
      font-weight: 400;
      font-family: 'dm';
    }
    /*color: fg_purple*/
    .attribute,
    .code,
    .selector-id {
      color: #b294bb;
    }
    /*color: fg_blue*/
    .bullet,
    .keyword,
    .selector-tag,
    .tag {
      color: #5eabec;
      font-weight: 700;
      font-family: 'dm';
    }
    /*color: fg_aqua*/
    .subst,
    .template-tag,
    .template-variable,
    .variable {
      color: #8abeb7;
    }
    /*color: fg_orange*/
    .built_in,
    .builtin-name,
    .quote,
    .section,
    .selector-class,
    .type {
      color: #d5231d;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }
  }
}
