.post-content {
  .language-sql,
  .sql {
    background: #262748;
    color: #eaf5f3;

    .hljs span::selection,
    .hljs::selection {
      background: #373b41;
    }

    .string {
      color: #a0b8ff;
    }

    .hljs span::-moz-selection,
    .hljs::-moz-selection {
      background: #373b41;
    }
    /*foreground color*/
    .hljs {
      color: #c5c8c6 !important;
    }
    /*color: fg_yellow*/
    .name,
    .title {
      color: #f0c674;
    }
    /*color: fg_comment*/
    .comment,
    .keyword,
    .meta {
      color: #707880;
    }
    /*color: fg_red*/
    .deletion,
    .link,
    .literal,
    .number,
    .symbol {
      color: #4ac0fa;
    }
    /*color: fg_green*/
    .addition,
    .doctag,
    .regexp,
    .selector-attr,
    .selector-pseudo,
    .string {
      color: #b0def0;
      font-weight: 400;
      font-family: 'Hack';
    }
    /*color: fg_purple*/
    .attribute,
    .code,
    .selector-id {
      color: #b294bb;
    }
    /*color: fg_blue*/
    .bullet,
    .keyword,
    .selector-tag,
    .tag {
      color: #79bbf3;
      font-weight: 700;
      font-family: 'Hack';
    }
    /*color: fg_aqua*/
    .subst,
    .template-tag,
    .template-variable,
    .variable {
      color: #8abeb7;
    }
    /*color: fg_orange*/
    .built_in,
    .builtin-name,
    .quote,
    .section,
    .selector-class,
    .type {
      color: #ffe3a2;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    &::before {
      content: "SQL";
      background: rgba(49, 88, 101, 0.6);
    }
  }
}
