/*====================================================
	Importing less files
====================================================*/
/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
/*====================================================
	MIXINS
====================================================*/
/*====================================================
	common styles
====================================================*/
body,
html {
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  color: #505050;
  line-height: 1.75em;
  background: #efefef;
  position: relative;
  font-weight: 200;
}
body {
  width: 100%;
  overflow-x: hidden;
}
article {
  font-size: 16px;
  line-height: 1.6em;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'mr-eaves-xl-modern', serif;
  font-weight: 700;
  color: #141624;
}
.h1,
h1 {
  font-size: 3em;
  font-weight: 700;
}
@media (max-width: 600px) {
  .h1,
  h1 {
    font-size: 2em;
  }
}
.h2,
h2 {
  font-size: 2.2em;
  font-family: 'mr-eaves-xl-modern';
}
@media (max-width: 600px) {
  .h2,
  h2 {
    font-size: 2em;
  }
}
.home-template .main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h3,
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}
.h4,
h4 {
  font-size: 1.5em;
}
.h5,
h5 {
  font-size: 1.4em;
  font-weight: 500;
  margin: 5px 0 0;
  font-family: 'mr-eaves-xl-modern', serif;
  color: #141624;
  line-height: 1;
  text-align: left;
}
@media (max-width: 600px) {
  .h5,
  h5 {
    font-size: 1.3em;
    margin-top: 5px;
    text-align: center;
  }
}
.h6,
h6 {
  font-size: 0.75em;
}
a {
  color: #26a2c7;
  outline: none;
}
a:hover {
  color: #26a2c7;
  cursor: pointer;
}
a img,
a:active,
a:focus {
  outline: none;
}
.btn {
  padding: 7px 14px;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #26a2c7;
  background: #26a2c7;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #40cebb;
  background: #40cebb;
  color: #FFFFFF;
}
.btn-default:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #141624;
  background: #141624;
  color: #FFFFFF;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  padding: 7px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #26a2c7;
  outline: none;
}
blockquote {
  border-left: 4px solid #26a2c7;
  font-family: 'mr-eaves-xl-modern', serif;
  font-style: italic;
}
pre {
  padding: 0;
  background: none;
  border: none;
  margin: 20px 10px;
  font-size: 12px;
}
@media (max-width: 600px) {
  pre {
    margin: 20px 0;
  }
}
::-moz-selection {
  color: #FFFFFF;
  background: #26a2c7;
  text-shadow: none;
}
::selection {
  color: #FFFFFF;
  background: #26a2c7;
  text-shadow: none;
}
.author-template .container .tag-hash-upcoming {
  display: none;
}
.author-template .link-preview {
  height: 167px;
  background-size: cover !important;
  color: white;
  position: relative;
  border: 1px solid #bcd4dc;
}
.author-template .link-preview h4 {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: white;
  z-index: 10;
  width: 90%;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  font-size: 18px;
}
.author-template .link-preview i {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 100;
  font-size: 14px;
}
.author-template .link-preview::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, transparent 0%, #26a2c7 100%);
  height: 100%;
  width: 100%;
  top: 0;
  content: '';
}
.post-preview {
  padding: 0 !important;
  border: 1px solid #dadada;
}
.post-preview .featured-media {
  box-sizing: border-box;
  overflow: visible;
  margin: auto;
}
.post-preview .content {
  padding: 10px;
}
.post-preview .post-permalink {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.post-preview .post-permalink .btn {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px 20px;
}
@media (max-width: 600px) {
  .post-preview .post-permalink .btn {
    font-size: 14px;
    font-weight: 100;
    padding: 8px 20px;
  }
}
.post-preview .post-meta,
.post-preview .post-title {
  text-align: left;
}
@media (max-width: 800px) {
  .post-preview .post-meta,
  .post-preview .post-title {
    display: none;
  }
}
@media (max-width: 600px) {
  .post-preview .post-content {
    font-size: 14px;
  }
}
.post-preview .post-title {
  font-size: 3em;
}
@media (max-width: 600px) {
  .post-preview .post-title {
    font-size: 2em !important;
  }
}
.post-preview .post-content {
  line-height: 1.5;
}
.post-preview.tag-hash-upcoming,
.post-preview.upcoming {
  display: none;
}
.post-preview.tag-roundup .featured-media {
  display: none;
}
.post-preview.tag-roundup .post-head {
  padding: 20px;
}
.post-preview.tag-roundup .post-content {
  display: none;
}
.post-preview.tag-hash-image .featured-media {
  display: block !important;
}
.post-preview.tag-hash-image .post-head {
  border-bottom: 0;
  padding: 20px 10px !important;
}
@media (max-width: 800px) {
  .post-preview.tag-hash-image .post-head {
    padding: 20px 10px !important;
  }
}
/*====================================================
	header
====================================================*/
.main-header {
  text-align: center;
  padding: 150px 0;
  background: url("https://hackers.nyc3.digitaloceanspaces.com/head.jpg") center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 800px) {
  .main-header {
    padding: 50px 0;
  }
}
.main-header .mobile-branding {
  display: none;
}
.main-header .branding {
  font-size: 3.5em;
  font-family: 'mr-eaves-xl-modern', serif;
  color: #141624;
  z-index: 5;
  position: relative;
}
.main-header .branding:hover {
  text-decoration: none;
}
.main-header .branding img {
  width: 400px;
  max-width: 80%;
}
@media (max-width: 800px) {
  .main-header .branding img {
    width: 250px;
  }
}
.navbar-header {
  text-align: center;
  font-size: 20px;
  padding: 14px;
}
.navbar-header li {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
.navbar-header .nav-toggle-button:hover {
  cursor: pointer;
}
.main-navigation {
  text-align: center;
  /* margin-top: 35px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #0873c3 100%);
  height: 150px;
}
@media (max-width: 800px) {
  .main-navigation {
    height: auto;
    background: none;
  }
}
.main-navigation .menu {
  padding: 0;
  margin: 40px 40px 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 309px;
}
@media (max-width: 800px) {
  .main-navigation .menu {
    margin: 30px auto 20px;
    max-width: 235px;
    opacity: 0.9;
  }
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li a {
  color: white;
  line-height: 1;
  display: block;
  padding: 0;
  font-family: 'mr-eaves-xl-modern', serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
@media (max-width: 600px) {
  .main-navigation .menu li a {
    padding: 0;
    font-weight: 500;
  }
}
.main-navigation .menu li:hover > a {
  text-shadow: 0 0 20px #b41eda;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
@media (max-width: 600px) {
  .main-navigation .menu li.nav-current {
    padding: 0;
  }
}
.main-navigation .menu li.nav-current a {
  color: #40cebb;
  font-size: 17px;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #FFFFFF;
  text-align: left;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-navigation .menu li ul li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul:hover > a {
  cursor: pointer;
}
.main-navigation .menu li:hover ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
  top: 100%;
}
/*====================================================
	main post area
====================================================*/
.container {
  margin: 20px auto 0;
}
@media (max-width: 800px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100% !important;
  }
  .container .postlist {
    margin: 20px;
  }
}
.post {
  padding: 15px;
  background: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  order: 1;
}
.post.featured {
  order: 0;
}
.post.page .page-head {
  padding: 0 10px;
}
@media (max-width: 800px) {
  .post.page .page-head {
    margin: 0;
  }
  .post.page .page-head h1 {
    font-size: 3em;
    font-weight: 700;
  }
}
.post .featured {
  position: absolute;
  background: #f0f9fc;
  color: #FFFFFF;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 12px;
  z-index: 10;
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .roundup {
  position: absolute;
  background: #81a1ab;
  color: white;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  transform: rotate(45deg);
  z-index: 20;
  display: none;
}
.post .roundup i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .post-head {
  padding: 20px 10px;
  line-height: 1;
  text-align: left;
}
.post .post-head .post-title {
  text-align: left;
  width: 100%;
  margin: 0;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .post .post-head .post-title {
    white-space: normal;
    text-align: center;
  }
}
.post .post-head .post-title a {
  color: #141624;
}
.post .post-head .post-title a:focus,
.post .post-head .post-title a:hover {
  text-decoration: none;
}
.post .post-head .post-excerpt {
  margin: 5px auto 0;
  line-height: 1;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 600px) {
  .post .post-head .post-excerpt {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
  }
}
.post .post-head .post-meta {
  color: #959595;
  margin: 15px 0 0;
  font-size: 12px;
  text-align: left;
}
.post .post-head .post-meta div {
  display: inline-block;
}
.post .post-head .post-meta i {
  margin-right: 10px;
}
@media (max-width: 600px) {
  .post .post-head .post-meta i {
    display: none;
  }
}
.post .post-head img {
  height: 14px;
  width: 14px;
}
.post .post-head span {
  margin: 0;
  white-space: nowrap;
}
.post .post-head .comment-count {
  display: none;
}
@media (max-width: 600px) {
  .post {
    padding: 20px 10px;
  }
}
.featured-media img {
  width: 100%;
}
.featured-media a {
  transition: opacity 0.2s ease-out;
}
.featured-media a:hover {
  opacity: 0.8;
  cursor: pointer;
}
.post-content {
  margin: 0 10px;
  overflow-x: hidden;
  clear: both;
}
.post-content ul {
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.post-content .fluid-width-video-wrapper {
  margin: 0;
}
.post-content iframe {
  margin: 0;
  display: block;
}
@media (max-width: 600px) {
  .post-content iframe {
    height: 100%;
  }
}
.post-content .twitter-tweet {
  margin: 20px auto;
}
.post-content img {
  max-width: 95%;
  border: 1px solid #eaeaea;
  margin: auto;
  display: block;
}
.post-content a {
  color: #764ea2;
}
.tag-list {
  color: #141624;
  font-size: 15px;
  display: inline;
  height: fit-content;
  margin: auto 0;
}
.tag-list i {
  color: #575863;
  margin-right: 7px;
  opacity: 0.6;
  font-size: 12px;
}
.tag-list a:nth-of-type(1) {
  margin-left: 0;
}
.tag-list a {
  margin-left: 5px;
}
.tag-list > span {
  margin-right: 20px;
}
.tag-list .author {
  text-transform: capitalize;
}
.tag-list .author span,
.tag-list .date span {
  opacity: 0.6;
  font-weight: 600;
}
@media (max-width: 600px) {
  .tag-list .author,
  .tag-list .date {
    display: none;
  }
}
.tag-list a {
  color: #141624;
  font-size: 15px;
  opacity: 0.6;
  transition: 0.2s all ease-out;
  font-weight: 600;
}
.tag-list a:hover {
  color: #26a2c7;
  opacity: 1;
}
.share .share-icons {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 145px;
}
.share .share-icons li {
  list-style: none;
  display: inline-block;
  line-height: 28px;
  border: 1px solid #ebebeb;
  font-size: 15px;
  padding: 0 7px;
  transition: 0.2s all ease-out;
}
.share .share-icons li:hover {
  color: #FFFFFF;
  background: #26a2c7;
  border: 1px solid #26a2c7;
}
.share .share-icons li:hover a {
  color: #FFFFFF;
}
.share .share-icons li a {
  color: #c4c4c4;
  text-align: center;
}
.pull-left {
  color: #575863;
}
.pull-left a,
.pull-left i,
.pull-left span {
  color: #575863;
  opacity: 0.6;
}
.post-page .post-head {
  border-bottom: 1px solid #eaeaea;
}
.post-page .post-content {
  margin: 20px 10px;
}
@media (max-width: 800px) {
  .post-page .featured-media {
    width: 110%;
    margin-left: -5%;
    margin-top: -7%;
  }
}
/*====================================================
	pagination
====================================================*/
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block;
  order: 20;
}
.pagination a {
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  background: #26a2c7;
  border-radius: 0;
  padding: 6px 13px;
}
.pagination a:hover {
  background: #40cebb;
  text-decoration: none;
  color: #FFFFFF;
}
.pagination .page-number {
  background: #26a2c7;
  color: #FFFFFF;
  margin: 0 5px;
  display: inline-block;
  line-height: 1;
  padding: 12px 14px;
}
/*====================================================
	about author and comment and next-prev link
====================================================*/
.col-md-8 .about-author {
  border: 0;
  border-radius: 0;
}
.col-md-8 .about-author .meta-info span {
  display: inline-block;
}
.col-md-8 .about-author .bio {
  margin: 0;
  float: none;
}
.page-about .about-author {
  border: 1px solid #dcdcdc;
  border-radius: 4px !important;
}
.page-about .about-author .bio {
  float: left !important;
  font-size: 14px;
}
.page-about .about-author i {
  color: #959595 !important;
}
.page-about .about-author span {
  color: #959595;
}
@media (max-width: 1040px) {
  .page-about .about-author {
    width: 100% !important;
  }
  .page-about .about-author .meta-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .page-about .about-author .bio {
    float: none !important;
  }
}
.about-author {
  background: #FFFFFF;
  padding: 20px;
  margin: 10px 0;
}
.about-author .avatar {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .about-author .avatar {
    width: 70px;
    height: 70px;
  }
}
.about-author .bio {
  display: block;
  float: left;
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 100;
}
.about-author .details {
  margin-left: 95px;
}
@media (max-width: 600px) {
  .about-author .details {
    margin-left: 90px;
  }
}
.about-author .author {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.about-author .author a:hover {
  text-decoration: none;
}
.about-author .meta-info {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 100;
  color: #959595;
  margin-bottom: 7px;
}
.about-author .meta-info span {
  margin-right: 30px;
  white-space: nowrap;
  display: block;
}
.about-author .meta-info span i {
  margin-right: 7px;
}
@media (max-width: 600px) {
  .about-author .meta-info span {
    display: block !important;
    width: 100%;
  }
}
.comment-wrap {
  background: #FFFFFF;
  padding: 35px;
  margin-bottom: 35px;
}
.prev-next-wrap {
  text-align: center;
}
.prev-next-wrap a {
  margin: 20px 0 0;
}
/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #FFFFFF;
  padding: 20px 25px;
}
.sidebar .upcoming p {
  margin-bottom: 0;
}
.sidebar .upcoming ul {
  padding: 10px 0 0;
}
.sidebar .text {
  font-size: 16px;
}
.sidebar .post-title {
  color: #627e90 !important;
  font-family: 'proxima-nova', serif;
  transition: all 0.2s ease;
  font-size: 17px !important;
  font-weight: 500 !important;
}
.sidebar .post-title:hover {
  cursor: pointer;
}
.main-footer .widget {
  padding: 0 30px;
}
@media (max-width: 800px) {
  .main-footer .widget {
    margin-bottom: 50px;
  }
  .main-footer .widget h4 {
    font-size: 2.5em;
  }
  .main-footer .widget .recent-single-post,
  .main-footer .widget .single-author {
    width: 80%;
  }
}
.widget {
  margin-bottom: 20px;
  margin-top: 0;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #26a2c7;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #26a2c7;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .google-plus {
  overflow: hidden;
}
.widget .social {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.widget .social li {
  display: inline-block;
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 5px 7px;
}
.widget .social li a i {
  line-height: 1;
  color: #bbbbbb;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 15px;
  width: 21px;
  font-size: 13px;
  transition: all 0.2s ease-out;
}
.widget .social li:hover {
  background: #26a2c7;
  border: 1px solid #26a2c7;
  cursor: pointer;
}
.widget .social li:hover i {
  color: #FFFFFF;
}
.widget .tag-cloud a {
  border: 1px solid #e6e6e6;
  padding: 3px 11px;
  color: #627e90;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #FFFFFF;
  background: #26a2c7;
  border: 1px solid #26a2c7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post,
.widget .recent-post .single-author {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post .post-title,
.widget .recent-post .single-author .post-title,
.widget .recent-post .recent-single-post .single-author-name,
.widget .recent-post .single-author .single-author-name {
  color: #FFFFFF;
  font-family: 'proxima-nova', serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  font-weight: 100;
}
.widget .recent-post .recent-single-post .post-title:hover,
.widget .recent-post .single-author .post-title:hover,
.widget .recent-post .recent-single-post .single-author-name:hover,
.widget .recent-post .single-author .single-author-name:hover {
  color: #26a2c7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date,
.widget .recent-post .single-author .date {
  color: #959595;
  font-size: 12px;
  opacity: 0.8;
}
.widget .recent-post .recent-single-post .date i,
.widget .recent-post .single-author .date i {
  margin-right: 5px;
}
.widget .recent-post .recent-single-post:last-child,
.widget .recent-post .single-author:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.widget .newsletter .input-group {
  margin-bottom: 20px;
  display: block;
}
.widget .newsletter .input-group .email {
  width: 100%;
}
.widget .newsletter .input-group .btn {
  width: 100%;
}
.widget .newsletter p {
  margin-bottom: 10px;
  font-size: 16px;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
  text-align: center;
  background: #FFFFFF;
  padding: 25px;
  margin-bottom: 20px;
}
.cover .tag-name {
  margin-top: 0;
}
.cover .post-count {
  margin-top: 7px;
  color: #959595;
}
.cover .avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cover .meta-info {
  color: #959595;
}
.cover .meta-info span {
  margin: 0 7px;
}
.cover .meta-info span i {
  margin-right: 7px;
}
@media (max-width: 600px) {
  .cover .meta-info span {
    display: block;
  }
}
.cover .bio {
  margin-top: 7px;
}
/*====================================================
	footer
====================================================*/
.main-footer {
  background: linear-gradient(to bottom, rgba(0, 255, 196, 0.2), rgba(41, 58, 63, 0));
  padding: 35px 0;
  color: white;
  margin-top: 30px;
  background-color: #3c465a;
  box-shadow: inset 0 1px 6px 0 rgba(44, 50, 63, 0.41);
}
@media (max-width: 600px) {
  .main-footer {
    margin-top: 10px;
  }
}
.main-footer .widget .title {
  color: #FFFFFF;
}
.main-footer .widget > div > div:last-child {
  border-bottom: 0 !important;
}
.main-footer .widget .tag-cloud a {
  border: 0;
  border-radius: 2px;
  color: #FFFFFF;
  background: #3d888c;
  padding: 7px 15px;
}
.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  color: #26a2c7;
}
.main-footer .widget .recent-post .single-author {
  font-size: 18px;
  font-weight: 200;
  font-family: 'mr-eaves-xl-modern', serif;
  transition: all 0.2s ease;
}
.main-footer .widget .recent-post .recent-single-post,
.main-footer .widget .recent-post .single-author {
  border-bottom: 0;
}
.main-footer .widget .recent-post .recent-single-post .post-title,
.main-footer .widget .recent-post .single-author .post-title,
.main-footer .widget .recent-post .recent-single-post .single-author-name,
.main-footer .widget .recent-post .single-author .single-author-name {
  color: #FFFFFF;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover,
.main-footer .widget .recent-post .single-author .post-title:hover,
.main-footer .widget .recent-post .recent-single-post .single-author-name:hover,
.main-footer .widget .recent-post .single-author .single-author-name:hover {
  color: #26a2c7;
}
.main-footer .widget .recent-post .recent-single-post .date,
.main-footer .widget .recent-post .single-author .date {
  color: #FFFFFF;
  opacity: 0.5;
}
.copyright {
  background: #111111;
  text-align: center;
  color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #141624;
}
.copyright .rights {
  margin-top: 16px;
  opacity: 0.6;
  display: block;
  font-size: 12px;
}
p {
  margin-bottom: 20px;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(118, 78, 162, 0.6);
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  display: none;
  padding: 6px 12px;
}
#back-to-top:hover {
  background: #26a2c7;
}
/*====================================================
	tag and author archive
====================================================*/
.archive .featured-media {
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 800px) {
  .archive .featured-media {
    width: 110%;
    margin-left: -5%;
    margin-top: -7%;
  }
}
.author-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
  margin: 0 10px;
}
.author-container .about-author {
  width: 49%;
  background-color: rgba(0, 6, 11, 0.78);
  background-blend-mode: multiply;
  color: #505050;
}
@media (max-width: 600px) {
  .author-container .about-author {
    margin-bottom: 10px !important;
  }
}
.author-container .meta-info {
  color: #505050;
}
.tag-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
}
.tag-container .tag-wrapper {
  background: #FFFFFF;
  width: 49%;
  margin: 0 0 10px;
  border: 1px solid #dadada;
  transition: all 0.2s ease-out;
}
@media (max-width: 1040px) {
  .tag-container .tag-wrapper {
    width: 100%;
  }
}
.tag-container .tag-wrapper:hover {
  background-color: #26a2c7;
  border: 1px solid #26a2c7;
}
.tag-container .tag-wrapper:hover h2,
.tag-container .tag-wrapper:hover p,
.tag-container .tag-wrapper:hover span {
  color: white !important;
}
.tag-container .tag-wrapper a .img-wrapper {
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 120px;
  position: relative;
}
.tag-container .tag-wrapper a .tag-title {
  color: #505050;
  line-height: 1;
  font-size: 1.5em;
  padding: 0 10px;
  color: #141624;
  margin: 10px 0;
}
.tag-container .tag-wrapper a .meta-info {
  font-weight: 600;
  color: #505050;
  font-size: 12px;
  padding: 10px;
}
.tag-container .tag-wrapper a .meta-info span {
  font-size: 1.1em;
}
.tag-container .tag-wrapper a .meta-info i {
  margin-right: 7px;
}
.tag-container .tag-wrapper a .description {
  margin: 7px 0;
  line-height: 1;
  padding: 0 10px;
}
.tag-container .tag-wrapper a p {
  font-size: 14px;
  color: #505050;
}
.tag-container .tag-wrapper a.no-image .bg-wrapper .overlay {
  color: #505050;
}
.tag-container .tag-wrapper a.no-image .bg-wrapper .overlay .tag-title {
  color: #141624;
}
.tag-container .tag-wrapper a:hover {
  text-decoration: none;
  background: #40cebb;
}
.tag-container .tag-wrapper a:hover .bg-wrapper .overlay {
  background: #40cebb !important;
}
/*====================================================
	media query
====================================================*/
@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .main-navigation {
    text-align: left;
    padding: 0 15px;
  }
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li a {
    color: white;
    font-weight: 100;
    font-size: 17px;
  }
  .main-navigation .menu li:hover > a {
    text-decoration: none;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
  .prev-next-wrap a {
    display: block;
  }
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}
.fluid-width-video-wrapper {
  /*padding: 0 !important;*/
  padding-top: 56% !important;
}
.page {
  margin-bottom: 0;
}
.page iframe {
  margin: 0 auto !important;
}
.page .post-content {
  margin: 20px 10px 20px;
}
.page-templatep,
.post-templatep {
  font-size: 24px;
  font-weight: 600;
}
.page-template .mobile-branding,
.post-template .mobile-branding {
  float: left;
  margin: auto 0;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  z-index: 11;
}
.page-template .mobile-branding img,
.post-template .mobile-branding img {
  width: inherit;
}
.page-template .mobile-branding img:hover,
.post-template .mobile-branding img:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
  .page-template .mobile-branding,
  .post-template .mobile-branding {
    display: block;
  }
}
.page-template .post-title,
.post-template .post-title {
  font-weight: 700;
}
.page-template .tag-list,
.post-template .tag-list {
  margin: 3px;
}
.page-template .link-preview,
.post-template .link-preview {
  border: 1px solid #dadada;
  padding: 5px;
  width: 90%;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .page-template .link-preview,
  .post-template .link-preview {
    width: 100%;
  }
}
.page-template .link-preview .preview-image,
.post-template .link-preview .preview-image {
  display: inline-block;
  height: 200px;
  width: 100%;
  float: left;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 3px 3px 1px 1px;
}
@media (max-width: 600px) {
  .page-template .link-preview .preview-image,
  .post-template .link-preview .preview-image {
    height: 130px;
  }
}
.page-template .link-preview i,
.post-template .link-preview i {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  color: grey;
}
.page-template .link-preview .url-info,
.post-template .link-preview .url-info {
  color: #26a2c7;
  margin-top: 0;
  font-size: 13px;
  display: inline-block;
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1;
}
.page-template .link-preview .link-info,
.post-template .link-preview .link-info {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 0;
}
.page-template .link-preview .link-info h4,
.post-template .link-preview .link-info h4 {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: 500;
}
.page-template .link-preview .link-info p,
.post-template .link-preview .link-info p {
  color: #505050;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 10px;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 600px) {
  .page-template .link-preview .link-info p,
  .post-template .link-preview .link-info p {
    display: none;
  }
}
.page-template .link-preview:hover,
.post-template .link-preview:hover {
  background-color: #26a2c7;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #26a2c7;
}
.page-template .link-preview:hover a,
.post-template .link-preview:hover a,
.page-template .link-preview:hover h4,
.post-template .link-preview:hover h4,
.page-template .link-preview:hover p,
.post-template .link-preview:hover p,
.page-template .link-preview:hover span,
.post-template .link-preview:hover span {
  color: #fff;
}
.author-template .post .kg-card-markdown *,
.home-template .post .kg-card-markdown *,
.paged .post .kg-card-markdown *,
.tag-template .post .kg-card-markdown * {
  display: none;
}
.author-template .post .twitter-tweet,
.home-template .post .twitter-tweet,
.paged .post .twitter-tweet,
.tag-template .post .twitter-tweet {
  display: none !important;
}
.author-template .post .kg-card-markdown a,
.home-template .post .kg-card-markdown a,
.paged .post .kg-card-markdown a,
.tag-template .post .kg-card-markdown a,
.author-template .post .kg-card-markdown iframe,
.home-template .post .kg-card-markdown iframe,
.paged .post .kg-card-markdown iframe,
.tag-template .post .kg-card-markdown iframe {
  display: inline !important;
}
.author-template .post .kg-card-markdown p:nth-of-type(1),
.home-template .post .kg-card-markdown p:nth-of-type(1),
.paged .post .kg-card-markdown p:nth-of-type(1),
.tag-template .post .kg-card-markdown p:nth-of-type(1) {
  display: block;
  margin: 0;
}
.author-template .post .kg-card-markdown a,
.home-template .post .kg-card-markdown a,
.paged .post .kg-card-markdown a,
.tag-template .post .kg-card-markdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.author-template .post.tag-video,
.home-template .post.tag-video,
.paged .post.tag-video,
.tag-template .post.tag-video {
  padding: 0;
}
.author-template .post.tag-video .post-head,
.home-template .post.tag-video .post-head,
.paged .post.tag-video .post-head,
.tag-template .post.tag-video .post-head {
  display: none;
}
.author-template .post.tag-video .fluid-width-video-wrapper,
.home-template .post.tag-video .fluid-width-video-wrapper,
.paged .post.tag-video .fluid-width-video-wrapper,
.tag-template .post.tag-video .fluid-width-video-wrapper {
  display: block !important;
}
.author-template .post.tag-video .post-permalink,
.home-template .post.tag-video .post-permalink,
.paged .post.tag-video .post-permalink,
.tag-template .post.tag-video .post-permalink {
  display: none;
}
.author-template .post.tag-video .post-content,
.home-template .post.tag-video .post-content,
.paged .post.tag-video .post-content,
.tag-template .post.tag-video .post-content {
  margin: 0;
}
.page-about .col-md-6 {
  padding: 0;
}
.page-about .col-md-6:nth-of-type(1) {
  padding: 0 30px 0 0;
}
@media (max-width: 600px) {
  .page-about .col-md-6:nth-of-type(1) {
    padding: 0;
  }
}
.active {
  display: block !important;
}
@media (max-width: 1040px) {
  .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-12 .menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .col-sm-12 .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    display: block;
    max-width: 375px;
    margin: 0 auto;
  }
  .col-sm-12 .navbar-collapse li {
    display: inline-block;
    padding: 20px 0;
  }
  .col-sm-12 .navbar-collapse li a {
    line-height: 1;
    font-size: 16px;
  }
  .col-sm-12 .navbar-header {
    display: none;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .col-md-push-4 {
    left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-pull-8 {
    right: 0;
  }
}
/*====================================================
	Bootstrap override
====================================================*/
@media (max-width: 800px) {
  .post-preview {
    padding: 10px;
  }
  .post-preview.tag-video .post-content {
    margin: 0;
  }
  .main-header {
    border: 0;
  }
  .main-header a {
    color: white;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .main-navigation {
    padding: 0 6%;
    margin: 0;
    border: 0;
    position: relative;
  }
  .main-navigation .container {
    padding-right: 0;
    padding-left: 0;
  }
  .main-navigation .container .row {
    margin: 0;
  }
  .main-navigation .container .row .col-sm-12 {
    padding: 0;
  }
  .main-navigation .container .row .col-sm-12 .navbar-collapse .menu {
    padding: 0;
  }
  .main-navigation .container .row .col-sm-12 .navbar-collapse .menu li a {
    font-weight: 100;
  }
  .container .postlist {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% + 100px);
  }
  .container .main-content {
    padding-right: 0;
    padding-left: 0;
  }
  .container .main-content .page-template,
  .container .main-content .post-page {
    padding: 20px 0 0;
    margin-bottom: 0;
  }
  .container .main-content .page-template .post-head,
  .container .main-content .post-page .post-head {
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
  }
  .container .main-content .page-template .post-head .post-title,
  .container .main-content .post-page .post-head .post-title {
    font-weight: 700;
    text-align: center;
  }
  .container .main-content .page-template .post-head h5,
  .container .main-content .post-page .post-head h5 {
    text-align: center;
  }
  .container .main-content .page-template .post-head .author,
  .container .main-content .post-page .post-head .author,
  .container .main-content .page-template .post-head .date,
  .container .main-content .post-page .post-head .date {
    margin: 10px auto 0;
    display: block;
  }
  .container .main-content .page-template .post-meta,
  .container .main-content .post-page .post-meta {
    text-align: center;
  }
  .container .main-content .page-template .post-content,
  .container .main-content .post-page .post-content {
    margin: 0 !important;
    overflow-x: hidden;
    padding: 20px 6%;
  }
  .container .main-content .about-author {
    background: #f0f1f4;
    padding: 20px;
    margin-bottom: 0;
  }
  .container .main-content .prev-next-wrap {
    margin: 0;
    text-align: center;
    padding: 0 20px 24px;
    background: #f0f1f4;
  }
  .main-footer {
    margin: 0;
  }
  .main-footer .container {
    margin: 0;
    padding: 0;
  }
  .pagination {
    margin: 20px 0;
  }
}
@media (max-width: 800px) and (max-width: 800px) {
  .main-header {
    padding: 60px 0;
  }
}
.page-template .main-header,
.post-template .main-header {
  margin-bottom: 0;
  padding: 70px 0;
}
.page-template .main-header .branding img,
.post-template .main-header .branding img {
  width: 300px;
}
.page-template .main-header .menu,
.post-template .main-header .menu {
  margin: 30px 30px 0 auto;
  max-width: 250px;
}
.page-template .main-header .menu a,
.post-template .main-header .menu a {
  font-size: 16px;
}
@media (max-width: 800px) {
  .page-template .main-header,
  .post-template .main-header {
    padding: 1px;
    background: none;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #07263d 95%);
  }
  .page-template .main-header .branding,
  .post-template .main-header .branding {
    display: none;
  }
  .page-template .main-header .menu,
  .post-template .main-header .menu {
    margin: 20px 0 20px auto;
    max-width: 200px;
  }
}
@media (max-width: 800px) {
  .fluid-width-video-wrapper {
    height: 350px;
  }
}
@media (max-width: 500px) {
  .fluid-width-video-wrapper {
    height: 236px;
  }
}
.repos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.repos .loader {
  width: 50%;
  border: 0 !important;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 40;
  right: 0;
  left: 0;
  top: 30px;
}
.repos a {
  width: 49%;
  z-index: 1;
  height: fit-content;
}
.repos a:hover .repo {
  background-color: #26a2c7;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.repos a:hover .repo h3,
.repos a:hover .repo p {
  color: white !important;
  text-decoration: none;
}
@media (max-width: 600px) {
  .repos a {
    width: 100%;
  }
}
.repos .repo {
  border: 1px solid #eaeaea;
  padding: 15px;
  margin: 5px 0;
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
.repos .repo img {
  border: 0;
}
.repos .repo .lang {
  height: 80px;
  width: 80px;
  display: inline-block;
  position: relative;
  margin-right: 16px;
  float: left;
  display: none;
}
.repos .repo .lang span {
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  color: black;
}
.repos .repo .details {
  display: inline-block;
  position: relative;
  width: 99%;
}
.repos .repo .details h3 {
  margin: 0;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
}
.repos .repo .details .description {
  color: #505050;
  margin: 10px 0;
  font-size: 13px;
  line-height: 1.3;
  overflow: hidden;
}
.repos .repo .details .author {
  margin: 0;
}
.repos .repo .details img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}
.repos .repo .details i {
  font-size: 17px;
}
.repos .repo .details .author {
  font-size: 11px;
  margin: 0;
}
.repos .repo .Python {
  background-color: blue;
}
.repos .repo .CSS {
  background-color: orange;
}
.repos .repo .HTML {
  background-color: red;
}
.repos .repo .Javascript {
  background-color: yellow;
}
.feed {
  background-color: none;
  position: relative;
  height: 500px;
  overflow: hidden;
}
.feed .loader {
  width: 50%;
  border: 0 !important;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 40;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.feed .activity {
  margin: 0;
  transition: all 0.2s ease-out;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.feed .activity:hover {
  cursor: pointer;
  text-decoration: none !important;
}
.feed .activity:hover .body {
  background-color: #e4f0f4;
}
.feed .activity:hover .intro {
  background-color: #26a2c7;
  border: 1px solid #00807b;
}
.feed .activity:hover .intro * {
  text-decoration: none !important;
  color: white !important;
}
.feed .activity .intro {
  display: flex;
  justify-content: normal;
  padding: 10px 30px;
  background: #f3f3f3;
  border: 1px solid #eaeaea;
  transition: all 0.4s ease-in-out;
}
.feed .activity .intro h3 {
  color: #26a2c7;
  font-weight: 700;
  display: inline;
  font-size: 3.5em;
  margin: auto 20px auto 0;
}
.feed .activity .intro .summary {
  padding: 10px 0;
}
.feed .activity .intro .summary h4 {
  font-size: 23px;
  font-weight: 600;
  display: block;
  margin: auto 0;
  height: fit-content;
  line-height: 1;
}
@media (max-width: 600px) {
  .feed .activity .intro .summary h4 {
    font-size: 17px;
  }
}
.feed .activity .intro .summary span {
  display: block;
  color: #505050;
  font-size: 14px;
  font-style: italic;
  margin: auto 20px auto 0;
  height: fit-content;
  line-height: 1;
  margin-bottom: 3px;
}
@media (max-width: 600px) {
  .feed .activity .intro .summary span {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .feed .activity .intro {
    padding: 10px 20px;
  }
}
.feed .activity .body {
  padding: 20px 30px;
  background: #f9f9f9;
  height: 300px;
  transition: all 0.4s ease-in-out;
  transform-origin: top;
  overflow: hidden;
}
@media (max-width: 600px) {
  .feed .activity .body {
    padding: 20px;
  }
}
.feed .activity .body .author {
  display: block;
  color: #505050;
  font-size: 15px;
  width: fit-content;
  width: 100%;
  margin: 0 0 10px;
}
.feed .activity .body .author .name {
  font-weight: 600;
}
.feed .activity .body .author .commits {
  font-size: 12px;
}
.feed .activity .body .author img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 600px) {
  .feed .activity .body .author {
    font-size: 14px;
  }
}
.feed .activity .body ul {
  list-style: none;
  font-style: italic;
  max-height: 177px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
  overflow: hidden;
}
@media (max-width: 600px) {
  .feed .activity .body ul {
    max-height: none;
  }
}
.feed .activity .body p {
  color: #505050;
  font-size: 14px;
  margin: 10px 0 0;
}
.feed .activity .body li {
  font-size: 12px;
  color: #909090;
  width: fit-content;
  width: 50%;
}
.feed .activity .body li .date {
  margin-right: 10px;
  color: #141624;
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 800px) {
  .feed .activity .body li {
    width: 100%;
  }
}
.feed .activity .time {
  position: absolute;
  right: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 21px;
  color: #999;
}
.feed .disappear {
  height: 0 !important;
  transform: scaleY(0);
  transform-origin: top;
  padding: 0 30px !important;
}
