/*====================================================
	Importing less files
====================================================*/
/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
/*====================================================
	MIXINS
====================================================*/
.author-template .container .tag-hash-upcoming {
  display: none;
}
.author-template h3 {
  font-size: 2.5em;
}
.author-template .link-preview {
  height: 167px;
  background-size: cover !important;
  color: white;
  position: relative;
  border: 1px solid #bcd4dc;
}
.author-template .link-preview h4 {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: white;
  z-index: 10;
  width: 90%;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  font-size: 18px;
}
.author-template .link-preview i {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 100;
  font-size: 14px;
}
.author-template .link-preview::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, transparent 0%, #26a2c7 100%);
  height: 100%;
  width: 100%;
  top: 0;
  content: '';
}
/*====================================================
	common styles
====================================================*/
body,
html {
  font-family: 'akzidenz', 'proxima-nova', sans-serif;
  font-size: 14px;
  color: #505050;
  line-height: 1.75em;
  background: #efefef;
  position: relative;
  font-weight: 200;
  margin: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
}
article {
  font-size: 16px;
}
article p {
  line-height: 2em;
}
section > .container {
  max-width: 1100px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'mr-eaves-xl-modern', serif;
  font-weight: 700;
  color: #141624;
}
.h1,
h1 {
  font-size: 3em;
  font-weight: 700;
}
@media (max-width: 600px) {
  .h1,
  h1 {
    font-size: 2em;
  }
}
.h2,
h2 {
  font-size: 2.2em;
  font-family: 'mr-eaves-xl-modern';
}
@media (max-width: 600px) {
  .h2,
  h2 {
    font-size: 2em;
  }
}
.home-template .main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h3,
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 40px;
}
.h4,
h4 {
  font-size: 1.5em;
}
.h5,
h5 {
  font-size: 1.4em;
  font-weight: 500;
  margin: 5px 0 0;
  font-family: 'mr-eaves-xl-modern', serif;
  color: #141624;
  line-height: 1;
  text-align: left;
}
@media (max-width: 600px) {
  .h5,
  h5 {
    font-size: 1.3em;
    margin-top: 5px;
  }
}
.h6,
h6 {
  font-size: 0.75em;
}
a,
button {
  color: #26a2c7;
  outline: none;
  text-decoration: none;
}
a:hover,
button:hover {
  color: #40cebb;
  cursor: pointer;
}
a img,
a:active,
a:focus {
  outline: none;
}
.btn {
  padding: 7px 14px;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #26a2c7;
  background: #26a2c7;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #40cebb;
  background: #40cebb;
  color: #FFFFFF;
}
.btn-default:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #141624;
  background: #141624;
  color: #FFFFFF;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  padding: 7px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #26a2c7;
  outline: none;
}
blockquote {
  border-left: 4px solid #26a2c7;
  font-family: 'mr-eaves-xl-modern', serif;
  font-style: italic;
}
pre {
  padding: 0;
  background: none;
  border: none;
  margin: 30px auto;
  font-size: 12px;
}
@media (max-width: 600px) {
  pre {
    margin: 20px 0;
  }
}
::-moz-selection {
  color: #FFFFFF;
  background: #26a2c7;
  text-shadow: none;
}
::selection {
  color: #FFFFFF;
  background: #26a2c7;
  text-shadow: none;
}
/*====================================================
	footer
====================================================*/
.main-footer {
  background: linear-gradient(to bottom, rgba(0, 255, 196, 0.2), rgba(41, 58, 63, 0));
  padding: 35px 20px;
  color: white;
  margin-top: 30px;
  background-color: #3c465a;
  box-shadow: inset 0 1px 6px 0 rgba(44, 50, 63, 0.41);
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .main-footer {
    margin-top: 10px;
    display: block;
  }
}
.main-footer .widget {
  padding: 10px 0;
  width: 25%;
  margin: 0;
}
.main-footer .widget .post-title {
  margin: 0;
}
@media (max-width: 800px) {
  .main-footer .widget {
    padding: 0;
    width: auto;
    margin: 10px 40px 60px 40px;
  }
}
.main-footer .widget .title {
  color: #FFFFFF;
  font-size: 28px;
}
.main-footer .widget > div > div:last-child {
  border-bottom: 0 !important;
}
.main-footer .widget .tag-cloud a {
  border: 0;
  border-radius: 2px;
  color: #FFFFFF;
  background: #3d888c;
  padding: 7px 15px;
}
.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  color: #26a2c7;
}
.main-footer .widget .recent-post .single-author {
  font-size: 18px;
  font-weight: 200;
  font-family: 'mr-eaves-xl-modern', serif;
  transition: all 0.2s ease;
}
.main-footer .widget .recent-post .recent-single-post,
.main-footer .widget .recent-post .single-author {
  border-bottom: 0;
}
.main-footer .widget .recent-post .recent-single-post a,
.main-footer .widget .recent-post .single-author a {
  margin: 0;
}
.main-footer .widget .recent-post .recent-single-post .post-title,
.main-footer .widget .recent-post .single-author .post-title,
.main-footer .widget .recent-post .recent-single-post .single-author-name,
.main-footer .widget .recent-post .single-author .single-author-name {
  color: #FFFFFF;
  font-size: 18px;
  margin: 0;
}
.main-footer .widget .recent-post .recent-single-post .post-title img,
.main-footer .widget .recent-post .single-author .post-title img,
.main-footer .widget .recent-post .recent-single-post .single-author-name img,
.main-footer .widget .recent-post .single-author .single-author-name img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover,
.main-footer .widget .recent-post .single-author .post-title:hover,
.main-footer .widget .recent-post .recent-single-post .single-author-name:hover,
.main-footer .widget .recent-post .single-author .single-author-name:hover {
  color: #26a2c7;
}
.main-footer .widget .recent-post .recent-single-post .date,
.main-footer .widget .recent-post .single-author .date {
  color: #FFFFFF;
  opacity: 0.5;
}
/*====================================================
	header
====================================================*/
.main-header {
  text-align: center;
  background: url("https://hackers.nyc3.digitaloceanspaces.com/head.jpg") center center;
  background-size: cover;
  position: relative;
  margin-bottom: 35px;
}
@media (max-width: 800px) {
  .main-header {
    margin-bottom: 0;
  }
}
.videoHeader {
  width: 100%;
  height: 330px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #27a2c7;
}
@media (max-width: 800px) {
  .videoHeader {
    height: 200px;
    margin-bottom: 0;
  }
}
.videoHeader .videoObject {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  right: 0;
  bottom: 0;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 800px) {
  .videoHeader .videoObject {
    display: none !important;
  }
}
.videoHeader .headerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.videoHeader .headerContainer .branding {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 300px;
  z-index: 5;
  margin: auto;
  height: 64px;
}
@media (max-width: 800px) {
  .videoHeader .headerContainer .branding {
    height: 44px;
    width: 200px;
    bottom: auto;
    top: 30%;
  }
}
.videoHeader .headerContainer .branding:hover {
  text-decoration: none;
}
.videoHeader .headerContainer .branding img {
  width: 100%;
}
.videoHeader .navbar-header {
  text-align: center;
  font-size: 20px;
  padding: 14px;
}
.videoHeader .navbar-header li {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
.videoHeader .navbar-header .nav-toggle-button:hover {
  cursor: pointer;
}
.main-navigation {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #0873c3 100%);
  height: 150px;
  z-index: 100;
}
@media (max-width: 800px) {
  .main-navigation {
    height: auto;
    background: none;
  }
}
.main-navigation .menu {
  padding: 0;
  margin: 30px 40px 0 auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
@media (max-width: 800px) {
  .main-navigation .menu {
    width: 210px;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 142px;
  }
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li a {
  color: white;
  line-height: 1;
  display: block;
  padding: 0;
  font-family: 'mr-eaves-xl-modern', serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
@media (max-width: 600px) {
  .main-navigation .menu li a {
    padding: 0;
    font-weight: 500;
  }
}
.main-navigation .menu li:hover > a {
  text-shadow: 0 0 20px #b41eda;
  text-decoration: none;
  cursor: pointer;
  color: #40cebb;
}
@media (max-width: 600px) {
  .main-navigation .menu li.nav-current {
    padding: 0;
  }
}
.main-navigation .menu li.nav-current a {
  color: #40cebb;
  font-size: 17px;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #FFFFFF;
  text-align: left;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-navigation .menu li ul li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul:hover > a {
  cursor: pointer;
}
.main-navigation .menu li:hover ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
  top: 100%;
}
.mobile-branding {
  display: none;
  width: 50px;
  float: left;
  margin-top: 20px;
}
.mobile-branding img {
  width: 100%;
}
.post-template {
  /*====================================================
		main post area
	====================================================*/
}
.post-template .container {
  margin: 20px auto 0;
  padding: 0;
}
@media (max-width: 800px) {
  .post-template .container {
    margin: 0;
    width: 100% !important;
  }
}
.post-template h2 {
  font-size: 2.5em;
}
@media (max-width: 800px) {
  .post-template h2 {
    font-size: 2em;
  }
}
.post-template h3 {
  font-size: 2em;
}
@media (max-width: 800px) {
  .post-template h3 {
    font-size: 1.6em;
  }
}
.post-template .sidebar,
.post-template .main-header,
.post-template .main-navigation {
  display: none;
}
.post-template .post-meta {
  margin: 10px 80px 0;
  color: #9ea1ab;
  font-size: 14px;
}
.post-template .post-meta .author span {
  text-transform: capitalize;
}
.post-template .container {
  margin: 0 auto;
  padding: 0;
}
.post-template .main-content {
  width: 100%;
  max-width: 1100px;
  padding: 0 !important;
}
.post-template .main-content table {
  margin-bottom: 10px;
  margin: 30px auto;
  border-radius: 3px;
  width: 100%;
  font-size: 13px;
  border: 1px solid #d2d2d2;
  border-spacing: 0;
}
.post-template .main-content table td,
.post-template .main-content table th {
  padding: 7px 20px;
  min-width: 200px;
  text-align: center;
}
@media (max-width: 800px) {
  .post-template .main-content table td,
  .post-template .main-content table th {
    min-width: 40px;
    padding: 7px 0;
  }
}
.post-template .main-content table tr:nth-child(odd) td {
  background: #f1f4f7;
}
.post-template .main-content table th {
  background: #64828c;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
  font-size: 16px;
}
.post-template .post-head {
  padding: 30px 0;
  margin: 0 100px;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 800px) {
  .post-template .post-head {
    margin: 0 40px;
  }
}
.post-template .post-meta {
  margin: 10px 100px 0;
  color: #9ea1ab;
  font-size: 14px;
}
@media (max-width: 800px) {
  .post-template .post-meta {
    margin: 10px 40px 0;
  }
}
.post-template .post-meta > div {
  margin-right: 20px;
  display: inline-block;
}
.post-template .post-meta a {
  color: #9ea1ab;
}
.post-template .post-meta i {
  margin-right: 5px;
  font-size: 11px;
}
@media (max-width: 800px) {
  .post-template .post-meta {
    display: flex;
    justify-content: space-between;
  }
}
.post-template .post-content {
  margin: 20px 100px 40px;
}
.post-template .post-content img {
  border: 1px solid #eaeaea;
}
@media (max-width: 800px) {
  .post-template .post-content {
    margin: 20px 40px 0;
  }
}
.post-template header {
  max-width: 1100px;
  margin: auto;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background-image: none;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(13, 60, 93, 0.5) 100%);
}
.post-template header .mobile-branding {
  height: 50px;
  width: 50px;
  display: block;
  margin: 20px;
  z-index: 100;
  opacity: 1;
}
@media (max-width: 800px) {
  .post-template header .mobile-branding {
    height: 40px;
    width: 40px;
    margin: 15px;
  }
}
.post-template header .branding {
  float: left;
  z-index: 40;
  margin: 20px 0 0 30px;
}
.post-template header .branding img {
  width: 200px !important;
  max-width: none;
}
.post-template .main-navigation {
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: none;
  height: 100px;
  z-index: 20;
}
@media (max-width: 800px) {
  .post-template .main-navigation {
    z-index: 20;
    width: auto;
    height: auto;
  }
}
.post-template .main-navigation .menu {
  margin: 30px 40px 0 auto;
  float: right;
  width: 300px;
}
@media (max-width: 800px) {
  .post-template .main-navigation .menu {
    width: 222px;
    margin: 20px 0;
    padding: 0;
  }
}
.post-template .about-author {
  background: #FFFFFF;
  padding: 40px;
  margin: 20px 0;
}
@media (max-width: 800px) {
  .post-template .about-author {
    padding: 20px;
    margin: 20px;
  }
}
.post-template .about-author .avatar {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .post-template .about-author .avatar {
    width: 70px;
    height: 70px;
  }
}
.post-template .about-author .bio {
  display: block;
  float: left;
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 100;
}
.post-template .about-author .author {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.post-template .about-author .author a:hover {
  text-decoration: none;
}
.post-template .about-author .meta-info {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 100;
  color: #959595;
  margin-bottom: 7px;
}
.post-template .about-author .meta-info span {
  margin-right: 10px;
  display: block;
}
.post-template .about-author .meta-info span i {
  margin-right: 7px;
}
@media (max-width: 800px) {
  .post-template .about-author .meta-info span {
    display: block !important;
    width: 100%;
  }
}
.post {
  padding: 0;
  background: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  order: 1;
}
.post.featured {
  order: 0;
}
.post.page .page-head {
  /*padding: 0 30px;*/
}
@media (max-width: 800px) {
  .post.page .page-head {
    margin: 0;
  }
  .post.page .page-head h1 {
    font-size: 3em;
    font-weight: 700;
  }
}
.post .featured {
  position: absolute;
  background: #f0f9fc;
  color: #FFFFFF;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 12px;
  z-index: 10;
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .roundup {
  position: absolute;
  background: #81a1ab;
  color: white;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  transform: rotate(45deg);
  z-index: 20;
  display: none;
}
.post .roundup i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .post-head {
  line-height: 1;
  text-align: left;
}
.post .post-head .post-title {
  text-align: left;
  width: 100%;
  margin: 0;
  line-height: 1;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  display: block;
  /*white-space: nowrap;*/
}
@media (max-width: 800px) {
  .post .post-head .post-title {
    white-space: normal;
  }
}
.post .post-head .post-title a {
  color: #141624;
}
.post .post-head .post-title a:focus,
.post .post-head .post-title a:hover {
  text-decoration: none;
}
.post .post-head .post-excerpt {
  margin: 5px auto 0;
  line-height: 1;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 800px) {
  .post .post-head .post-excerpt {
    font-weight: 500;
    font-size: 1.2em;
  }
}
.post .post-head .post-meta {
  color: #959595;
  margin: 15px 0 0;
  font-size: 12px;
  text-align: left;
}
.post .post-head .post-meta div {
  display: inline-block;
}
.post .post-head .post-meta i {
  margin-right: 10px;
}
@media (max-width: 800px) {
  .post .post-head .post-meta i {
    display: none;
  }
}
.post .post-head img {
  height: 14px;
  width: 14px;
}
.post .post-head span {
  margin: 0;
  white-space: nowrap;
}
.post .post-head .comment-count {
  display: none;
}
.post .featured-media img {
  width: 100%;
}
.post .featured-media a {
  transition: opacity 0.2s ease-out;
}
.post .featured-media a:hover {
  opacity: 0.8;
  cursor: pointer;
}
.post .post-content {
  overflow-x: hidden;
  clear: both;
}
.post .post-content h3,
.post .post-content h2 {
  margin-top: 40px;
  margin-bottom: 0;
}
.post .post-content h2 {
  color: #30b1a7;
}
.post .post-content ol,
.post .post-content ul {
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.post .post-content ol li,
.post .post-content ul li {
  padding: 5px;
}
.post .post-content .fluid-width-video-wrapper {
  margin: 0 auto;
}
.post .post-content iframe {
  margin: 0;
  display: block;
}
@media (max-width: 800px) {
  .post .post-content iframe {
    height: 100%;
  }
}
.post .post-content .twitter-tweet {
  margin: 20px auto;
}
.post .post-content img {
  max-width: 99%;
  border: 1px solid #eaeaea;
  margin: 30px auto;
  display: block;
}
.post .post-content a {
  color: #764ea2;
}
.post .post-content a:hover {
  color: #40cebb;
}
/*====================================================
	post footer
====================================================*/
.post-footer {
  padding: 10px 0;
}
.post-footer .share-icons li {
  list-style: none;
  display: inline-block;
  border: 1px solid #ebebeb;
  padding: 5px 10px !important;
  transition: 0.2s all ease-out;
  border-radius: 2px;
  margin-left: 10px;
}
.post-footer .tag-cloud {
  float: left;
}
.post-footer .tag-cloud a {
  border: 1px solid #e6e6e6;
  padding: 3px 11px;
  color: #627e90;
  line-height: 1.5em;
  display: inline-block;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-right: 10px;
}
.post-footer .tag-cloud a:hover {
  color: #FFFFFF;
  background: #26a2c7;
  border: 1px solid #26a2c7;
  text-decoration: none;
}
@media (max-width: 800px) {
  .post-footer .share-icons {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}
.post-footer .share {
  float: right;
}
@media (max-width: 800px) {
  .post-footer {
    border-top: 1px solid #f0f1f4;
  }
  .post-footer .share,
  .post-footer .tag-cloud {
    float: none;
    margin: 20px auto;
  }
  .post-footer .share *,
  .post-footer .tag-cloud * {
    margin: 0 auto !important;
  }
  .post-footer .tag-cloud {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .post-footer .tag-cloud a {
    margin: 0 10px !important;
  }
  .post-footer .share {
    width: 100%;
  }
}
.container .postlist {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .main-content {
  padding-right: 0;
  padding-left: 0;
}
.container .main-content .page-template,
.container .main-content .post-page {
  margin-bottom: 0;
}
.container .main-content .page-template .post-head .post-title,
.container .main-content .post-page .post-head .post-title {
  font-weight: 700;
}
.container .main-content .page-template .post-head .author,
.container .main-content .post-page .post-head .author,
.container .main-content .page-template .post-head .date,
.container .main-content .post-page .post-head .date {
  margin: 10px auto 0;
  display: block;
}
.container .main-content .page-template .kg-card-markdown,
.container .main-content .post-page .kg-card-markdown {
  margin: 0 !important;
  overflow-x: hidden;
  padding: 0;
}
.container .main-content .about-author {
  background: #fff;
}
.container .main-content .prev-next-wrap {
  margin: 0;
  padding: 0 20px 30px;
  background: #f0f1f4;
  min-height: 70px;
}
.container .main-content .prev-next-wrap .btn {
  max-width: 39%;
}
.post-preview {
  padding: 0 !important;
  border: 1px solid #dadada;
}
.post-preview .featured-media {
  box-sizing: border-box;
  overflow: visible;
  margin: auto;
}
.post-preview .post-head {
  margin: 10px 10px 20px;
}
@media (max-width: 600px) {
  .post-preview .post-head {
    margin: 0 10px 20px;
  }
}
.post-preview i {
  margin-right: 5px;
  font-size: 12px;
}
.post-preview p {
  line-height: 1.5;
}
.post-preview .meta {
  display: flex;
  width: 55%;
  justify-content: space-between;
  max-width: 350px;
}
.post-preview .meta .meta-item {
  display: block;
  margin: auto 0;
}
.post-preview .meta .meta-item * {
  color: #6e7980;
}
.post-preview .meta .meta-item a {
  text-decoration: none;
}
.post-preview .meta .meta-item a:hover {
  color: #40cebb;
}
.post-preview .meta .meta-item a:hover > span {
  color: #40cebb !important;
}
.post-preview .meta .meta-item .avi {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .post-preview .meta .date,
  .post-preview .meta .tags {
    display: none;
  }
}
.post-preview .content {
  padding: 20px;
}
.post-preview .post-permalink {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.post-preview .post-permalink .btn {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px 20px;
}
@media (max-width: 600px) {
  .post-preview .post-permalink .btn {
    font-size: 16px;
    font-weight: 100;
    padding: 10PX 20px;
  }
}
.post-preview .post-content {
  line-height: 1.5;
  margin: 0 10px 10px;
}
@media (max-width: 600px) {
  .post-preview .post-content {
    font-size: 14px;
  }
}
.post-preview .post-title {
  font-size: 3em;
}
@media (max-width: 600px) {
  .post-preview .post-title {
    font-size: 2em !important;
  }
}
.post-preview.tag-hash-upcoming,
.post-preview.upcoming {
  display: none;
}
.post-preview.tag-roundup .featured-media {
  display: none;
}
.post-preview.tag-roundup .post-content {
  display: none;
}
.post-preview.tag-hash-image .featured-media {
  display: block !important;
}
.post-preview .kg-card-markdown * {
  display: none;
}
.post-preview .twitter-tweet {
  display: none !important;
}
.post-preview .kg-card-markdown a,
.post-preview .kg-card-markdown iframe,
.post-preview .kg-card-markdown strong {
  display: inline !important;
}
.post-preview .kg-card-markdown li,
.post-preview .kg-card-markdown ol {
  margin: 20px;
}
.post-preview .kg-card-markdown p:nth-of-type(1) {
  display: block;
  margin: 0;
}
.post-preview .kg-card-markdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.post-preview.tag-video {
  padding: 0;
}
.post-preview.tag-video .post-head {
  display: none;
}
.post-preview.tag-video .fluid-width-video-wrapper {
  display: block !important;
}
.post-preview.tag-video .post-permalink {
  display: none;
}
.post-preview.tag-video .post-content {
  margin: 0;
}
@media (max-width: 600px) {
  .page-about h1 {
    font-size: 2em;
  }
}
.page-about .fluid-width-video-wrapper {
  height: 50px;
}
@media (max-width: 600px) {
  .page-about .fluid-width-video-wrapper {
    margin: 0 40px 30px;
  }
}
.page-about .about-author {
  background: #FFFFFF;
  padding: 30px;
  margin: 10px 0;
  width: 40%;
}
@media (max-width: 600px) {
  .page-about .about-author {
    display: block !important;
  }
}
.page-about .about-author .author-container {
  justify-content: space-around;
}
.page-about .about-author .author-specs {
  display: flex;
  justify-content: space-between;
}
.page-about .about-author .fluid-width-video-wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 0;
}
.page-about .about-author .avatar {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .page-about .about-author .avatar {
    width: 70px;
    height: 70px;
  }
}
.page-about .about-author .details {
  width: 60%;
}
.page-about .about-author .bio {
  display: block;
  width: 100%;
  line-height: 1.5;
  margin: 10px 0 0 0;
  font-weight: 100;
}
.page-about .about-author .author {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.page-about .about-author .author a:hover {
  text-decoration: none;
}
.page-about .about-author .meta-info {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 100;
  color: #959595;
  margin-bottom: 7px;
}
.page-about .about-author .meta-info span {
  margin-right: 10px;
  display: block;
}
.page-about .about-author .meta-info span i {
  margin-right: 7px;
}
@media (max-width: 600px) {
  .page-about .about-author .meta-info span {
    display: block !important;
    width: 100%;
  }
}
.page-series .page-head {
  margin: 40px;
  padding: 0;
}
.page-series .post-title {
  margin: 40px 80PX 0;
}
.page-series .tag-container {
  margin: 30px 60px;
}
@media (max-width: 800px) {
  .page-series .tag-container {
    margin: 30px 40px;
  }
}
.page-series .tag-wrapper {
  margin-right: 30px;
}
.page-projects p {
  margin: 0 !important;
}
.page-projects h2 {
  margin-bottom: 20px !important;
}
.page-projects .repo .author {
  margin-top: 10px;
}
.page-projects .repo img {
  margin: 0;
}
.page-projects .post-content {
  margin: 0;
}
@media (max-width: 800px) {
  .page-projects .post-content {
    width: 66%;
  }
}
.page-projects p {
  margin: 20px 0;
}
.post-series .page-head {
  padding: 0;
}
.home-template .mobile-branding {
  display: none;
}
.page-about .col-md-6 {
  padding: 0;
}
.page-about .col-md-6:nth-of-type(1) {
  padding: 0 30px 0 0;
}
@media (max-width: 600px) {
  .page-about .col-md-6:nth-of-type(1) {
    padding: 0;
  }
}
.active {
  display: block !important;
}
@media (max-width: 1040px) {
  .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-12 .menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .col-sm-12 .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    display: block;
    max-width: 375px;
    margin: 0 auto;
  }
  .col-sm-12 .navbar-collapse li {
    display: inline-block;
    padding: 20px 0;
  }
  .col-sm-12 .navbar-collapse li a {
    line-height: 1;
    font-size: 16px;
  }
  .col-sm-12 .navbar-header {
    display: none;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .col-md-push-4 {
    left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-pull-8 {
    right: 0;
  }
}
@media (min-width: 992px) {
  .main-content {
    width: 71%;
  }
  .sidebar {
    width: 26%;
  }
}
/*====================================================
	Bootstrap override
====================================================*/
@media (max-width: 800px) {
  .post-preview {
    padding: 10px;
  }
  .post-preview.tag-video .post-content {
    margin: 0;
  }
  .main-header {
    border: 0;
  }
  .main-header a {
    color: white;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .main-navigation {
    padding: 0 6%;
    margin: 0;
    border: 0;
  }
  .main-navigation .container {
    padding-right: 0;
    padding-left: 0;
  }
  .main-navigation .container .row {
    margin: 0;
  }
  .main-navigation .container .row .col-sm-12 {
    padding: 0;
  }
  .main-navigation .container .row .col-sm-12 .navbar-collapse .menu {
    padding: 0;
  }
  .main-navigation .container .row .col-sm-12 .navbar-collapse .menu li a {
    font-weight: 100;
  }
  .main-footer {
    margin: 0;
  }
  .main-footer .container {
    margin: 0;
    padding: 0;
  }
  .pagination {
    margin: 20px 0;
  }
}
.page-template .main-header .branding img,
.post-template .main-header .branding img {
  width: 300px;
}
@media (max-width: 800px) {
  .page-template .main-header,
  .post-template .main-header {
    padding: 1px;
    background: none;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #07263d 95%);
  }
  .page-template .main-header .branding,
  .post-template .main-header .branding {
    display: none;
  }
}
@media (max-width: 800px) {
  .fluid-width-video-wrapper {
    height: 350px;
  }
}
@media (max-width: 500px) {
  .fluid-width-video-wrapper {
    height: 236px;
  }
}
.repos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.repos .loader {
  width: 60%;
  border: 0 !important;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 40;
  right: 0;
  left: 0;
  top: 30px;
}
.repos a {
  width: 49%;
  z-index: 1;
  height: fit-content;
}
.repos a:hover .repo {
  background-color: #26a2c7;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.repos a:hover .repo h3,
.repos a:hover .repo p {
  color: white !important;
  text-decoration: none;
}
@media (max-width: 600px) {
  .repos a {
    width: 100%;
  }
}
.repos .repo {
  border: 1px solid #eaeaea;
  padding: 15px;
  margin: 5px 0;
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
.repos .repo img {
  border: 0;
}
.repos .repo .lang {
  height: 80px;
  width: 80px;
  display: inline-block;
  position: relative;
  margin-right: 16px;
  float: left;
  display: none;
}
.repos .repo .lang span {
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  color: black;
}
.repos .repo .details {
  display: inline-block;
  position: relative;
  width: 99%;
}
.repos .repo .details h3 {
  margin: 0;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
}
.repos .repo .details .description {
  color: #505050;
  margin: 10px 0;
  font-size: 13px;
  line-height: 1.3;
  overflow: hidden;
}
.repos .repo .details .author {
  margin: 0;
}
.repos .repo .details img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}
.repos .repo .details i {
  font-size: 17px;
}
.repos .repo .details .author {
  font-size: 11px;
  margin: 0;
}
.repos .repo .Python {
  background-color: blue;
}
.repos .repo .CSS {
  background-color: orange;
}
.repos .repo .HTML {
  background-color: red;
}
.repos .repo .Javascript {
  background-color: yellow;
}
.feed {
  background-color: none;
  position: relative;
  height: 500px;
  overflow: hidden;
}
.feed .loader {
  width: 50%;
  border: 0 !important;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 40;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.feed .activity {
  margin: 0;
  transition: all 0.2s ease-out;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.feed .activity:hover {
  cursor: pointer;
  text-decoration: none !important;
}
.feed .activity:hover .body {
  background-color: #e4f0f4;
}
.feed .activity:hover .intro {
  background-color: #26a2c7;
  border: 1px solid #00807b;
}
.feed .activity:hover .intro * {
  text-decoration: none !important;
  color: white !important;
}
.feed .activity .intro {
  display: flex;
  justify-content: normal;
  padding: 10px 30px;
  background: #f3f3f3;
  border: 1px solid #eaeaea;
  transition: all 0.4s ease-in-out;
}
.feed .activity .intro h3 {
  color: #26a2c7;
  font-weight: 700;
  display: inline;
  font-size: 3.5em;
  margin: auto 20px auto 0;
}
.feed .activity .intro .summary {
  padding: 10px 0;
}
.feed .activity .intro .summary h4 {
  font-size: 23px;
  font-weight: 600;
  display: block;
  margin: auto 0;
  height: fit-content;
  line-height: 1;
}
@media (max-width: 600px) {
  .feed .activity .intro .summary h4 {
    font-size: 17px;
  }
}
.feed .activity .intro .summary span {
  display: block;
  color: #505050;
  font-size: 14px;
  font-style: italic;
  margin: auto 20px auto 0;
  height: fit-content;
  line-height: 1;
  margin-bottom: 3px;
}
@media (max-width: 600px) {
  .feed .activity .intro .summary span {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .feed .activity .intro {
    padding: 10px 20px;
  }
}
.feed .activity .body {
  padding: 20px 30px;
  background: #f9f9f9;
  height: 300px;
  transition: all 0.4s ease-in-out;
  transform-origin: top;
  overflow: hidden;
}
@media (max-width: 600px) {
  .feed .activity .body {
    padding: 20px;
  }
}
.feed .activity .body .author {
  display: block;
  color: #505050;
  font-size: 15px;
  width: fit-content;
  width: 100%;
  margin: 0 0 20px;
}
.feed .activity .body .author .name {
  font-weight: 600;
}
.feed .activity .body .author .commits {
  font-size: 12px;
}
.feed .activity .body .author img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 600px) {
  .feed .activity .body .author {
    font-size: 14px;
  }
}
.feed .activity .body ul {
  list-style: none;
  font-style: italic;
  max-height: 177px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
  overflow: hidden;
}
@media (max-width: 600px) {
  .feed .activity .body ul {
    max-height: none;
  }
}
.feed .activity .body p {
  color: #505050;
  font-size: 14px;
  margin: 10px 0 0;
}
.feed .activity .body li {
  font-size: 12px;
  color: #909090;
  width: fit-content;
  width: 50%;
}
.feed .activity .body li .date {
  margin-right: 10px;
  color: #141624;
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 800px) {
  .feed .activity .body li {
    width: 100%;
  }
}
.feed .activity .time {
  position: absolute;
  right: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 21px;
  color: #999;
}
.feed .disappear {
  height: 0 !important;
  transform: scaleY(0);
  transform-origin: top;
  padding: 0 30px !important;
}
.link-preview {
  border: 1px solid #d2d2d2;
  padding: 0;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  margin: 20px auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .link-preview {
    width: 90%;
    padding: 10px 4%;
    display: block;
  }
}
.link-preview .preview-image {
  display: inline-block;
  min-width: 250px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid #d2d2d2;
}
@media (max-width: 800px) {
  .link-preview .preview-image {
    width: 100%;
    height: 140px;
  }
}
.link-preview i {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  color: grey;
}
.link-preview .url-info {
  color: #26a2c7;
  margin-top: 0;
  font-size: 13px;
  display: inline-block;
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1;
}
.link-preview .link-info {
  display: inline-block;
  overflow: hidden;
  padding: 30px;
  width: -webkit-fill-available;
}
@media (max-width: 800px) {
  .link-preview .link-info {
    padding: 0;
    display: block;
  }
}
.link-preview .link-info h4 {
  margin: 0;
  font-size: 1.35em;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 800px) {
  .link-preview .link-info h4 {
    font-size: 1.3em;
    line-height: 1;
  }
}
.link-preview .link-info p {
  color: #505050;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 10px;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 600px) {
  .link-preview .link-info p {
    display: none;
  }
}
.link-preview:hover {
  background-color: #26a2c7;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #26a2c7;
}
.link-preview:hover a,
.link-preview:hover h4,
.link-preview:hover p,
.link-preview:hover span {
  color: #fff;
}
/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #FFFFFF;
  padding: 20px 25px;
  /*
		.about-author {
			border: 0;
			border-radius: 0;
			display: flex;
	    justify-content: space-between;

			.meta-info {
				span {
					display: inline-block;
					font-size: 15px;
					margin-right: 30px;
				}
			}

			.bio {
				margin: 0;
				float: none;
				font-size: 16px;
			}
		}
*/
}
.sidebar .widget .social {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.sidebar .widget .newsletter button {
  border: 1px solid #26a2c7;
  background: #26a2c7;
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px;
}
.sidebar .widget .newsletter button:hover {
  background: #40cebb;
}
.sidebar .widget .newsletter .gh-subscribe-rss {
  padding-top: 10px;
  display: block;
  text-align: right;
}
.sidebar .recent-single-post .post-title {
  color: #427382;
  line-height: 1;
  font-size: 15px;
  margin: 0;
}
.sidebar .recent-single-post .post-title:hover {
  color: #40cebb;
}
.sidebar .upcoming p {
  margin-bottom: 0;
}
.sidebar .upcoming ul {
  padding: 10px 0 0;
}
.sidebar .text p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}
.sidebar .post-title a {
  color: #627e90;
  font-family: 'akzidenz', 'proxima-nova', serif;
  transition: all 0.2s ease;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.sidebar .post-title a:hover {
  cursor: pointer;
  color: #40cebb;
}
.widget {
  margin-bottom: 20px;
  margin-top: 0;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #26a2c7;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #26a2c7;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .google-plus {
  overflow: hidden;
}
.widget li {
  display: inline-block;
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 5px 7px;
}
.widget li a i {
  line-height: 1;
  color: #bbbbbb;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 15px;
  width: 21px;
  font-size: 13px;
  transition: all 0.2s ease-out;
}
.widget li:hover {
  background: #26a2c7;
  border: 1px solid #26a2c7;
  cursor: pointer;
}
.widget li:hover i {
  color: #FFFFFF;
}
.widget .tag-cloud a {
  border: 1px solid #e6e6e6;
  padding: 3px 11px;
  color: #627e90;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #FFFFFF;
  background: #26a2c7;
  border: 1px solid #26a2c7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post,
.widget .recent-post .single-author {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post img,
.widget .recent-post .single-author img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.widget .recent-post .recent-single-post .post-title,
.widget .recent-post .single-author .post-title,
.widget .recent-post .recent-single-post .single-author-name,
.widget .recent-post .single-author .single-author-name {
  font-family: 'akzidenz', 'proxima-nova', serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 100;
}
.widget .recent-post .recent-single-post .post-title:hover,
.widget .recent-post .single-author .post-title:hover,
.widget .recent-post .recent-single-post .single-author-name:hover,
.widget .recent-post .single-author .single-author-name:hover {
  color: #26a2c7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date,
.widget .recent-post .single-author .date {
  color: #959595;
  font-size: 12px;
  opacity: 0.8;
}
.widget .recent-post .recent-single-post .date i,
.widget .recent-post .single-author .date i {
  margin-right: 5px;
}
.widget .recent-post .recent-single-post:last-child,
.widget .recent-post .single-author:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.widget .newsletter {
  width: 100%;
}
.widget .newsletter .form-group {
  width: 100%;
}
.widget .newsletter .subscribe-email {
  padding: 10px 5%;
  width: 90%;
  font-size: 12px;
}
.widget .newsletter .input-group,
.widget .newsletter .form-group {
  margin-bottom: 20px;
  display: block;
}
.widget .newsletter .input-group .email,
.widget .newsletter .form-group .email {
  width: 100%;
}
.widget .newsletter .input-group .btn,
.widget .newsletter .form-group .btn {
  width: 100%;
}
.widget .newsletter .input-group .btn span,
.widget .newsletter .form-group .btn span {
  font-size: 12px;
  text-transform: capitalize;
}
.widget .newsletter p {
  margin-bottom: 10px;
  font-size: 16px;
}
.share .share-icons {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.share .share-icons li {
  list-style: none;
  display: inline-block;
  border: 1px solid #ebebeb;
  padding: 4px 9px 2px;
  transition: 0.2s all ease-out;
  border-radius: 2px;
  margin-left: 10px;
}
.share .share-icons li:hover {
  color: #FFFFFF;
  background: #26a2c7;
  border: 1px solid #26a2c7;
}
.share .share-icons li:hover a {
  color: #FFFFFF;
}
.share .share-icons li a {
  color: #c4c4c4;
  text-align: center;
  font-size: 18px;
}
/*====================================================
	pagination
====================================================*/
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block;
  order: 20;
}
.pagination a {
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  background: #26a2c7;
  border-radius: 0;
  padding: 6px 13px;
}
.pagination a:hover {
  background: #40cebb;
  text-decoration: none;
  color: #FFFFFF;
}
.pagination .page-number {
  background: #26a2c7;
  color: #FFFFFF;
  margin: 0 5px;
  display: inline-block;
  line-height: 1;
  padding: 12px 14px;
}
.page-template .post-title {
  margin: 40px 40px 10px;
}
.page-template .menu {
  margin-top: 30px;
  margin-right: 30px;
}
.page-template .page-head .post-title {
  margin: 40px 40px 0;
}
.page-template .post-content {
  margin: 20px 40px;
  /*width: 68%;*/
}
.page-template p {
  margin: 0 auto 20px;
}
@media (max-width: 800px) {
  .mobile-branding {
    display: block;
  }
}
.post-header .mobile-branding {
  height: 40px;
  width: 40px;
  display: block;
  margin: 15px;
  z-index: 100;
  opacity: 1;
  float: left;
}
.post-header .post-navigation .menu {
  width: 300px;
  float: right;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 600px) {
  .post-header .post-navigation .menu {
    width: 250px;
    padding: 25px 20px;
  }
}
.post-header .post-navigation .menu li {
  display: inline-block;
}
.post-header .post-navigation .menu li a {
  color: white;
  font-family: 'mr-eaves-xl-modern', serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
.post-header .post-navigation .menu li a:hover {
  color: #40cebb;
  cursor: pointer;
}
@media (max-width: 600px) {
  .post-header .post-navigation .menu li a {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .postlist {
    padding: 0 20px;
  }
}
@media (max-width: 1000px) {
  .postlist {
    padding: 20px;
  }
}
/*====================================================
	fonts
====================================================*/
@font-face {
  font-family: 'akzidenz';
  src: url("../fonts/akzidenzgrotesk-bq-light-regular.otf") format("opentype");
}
/*====================================================
	about author and comment and next-prev link
====================================================*/
.page-about .about-author {
  border: 1px solid #dcdcdc;
  border-radius: 4px !important;
}
.page-about .about-author .bio {
  float: left !important;
  font-size: 14px;
}
.page-about .about-author i {
  color: #959595 !important;
}
.page-about .about-author span {
  color: #959595;
}
@media (max-width: 1040px) {
  .page-about .about-author {
    width: 100% !important;
  }
  .page-about .about-author .meta-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .page-about .about-author .bio {
    float: none !important;
  }
}
.prev-next-wrap {
  text-align: center;
}
.prev-next-wrap a {
  margin: 20px 0 0;
}
/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
  text-align: center;
  background: #FFFFFF;
  padding: 25px;
  margin-bottom: 20px;
}
.cover .tag-name {
  margin-top: 0;
}
.cover .post-count {
  margin-top: 7px;
  color: #959595;
}
.cover .avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cover .meta-info {
  color: #959595;
}
.cover .meta-info span {
  margin: 0 7px;
}
.cover .meta-info span i {
  margin-right: 7px;
}
@media (max-width: 600px) {
  .cover .meta-info span {
    display: block;
  }
}
.cover .bio {
  margin-top: 7px;
}
.copyright {
  background: #111111;
  text-align: center;
  color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #141624;
}
.copyright .rights {
  margin-top: 16px;
  opacity: 0.6;
  display: block;
  font-size: 12px;
}
p {
  margin-bottom: 20px;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(118, 78, 162, 0.6);
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  display: none;
  padding: 6px 12px;
}
#back-to-top:hover {
  background: #26a2c7;
}
/*====================================================
	tag and author archive
====================================================*/
.archive .featured-media {
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 800px) {
  .archive .featured-media {
    width: 110%;
    margin-left: -5%;
    margin-top: -7%;
  }
}
.author-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
  margin: 0 40px 20px;
}
.author-container .about-author {
  background-color: rgba(0, 6, 11, 0.78);
  background-blend-mode: multiply;
  color: #505050;
}
@media (max-width: 600px) {
  .author-container .about-author {
    margin-bottom: 10px !important;
  }
}
.author-container .meta-info {
  color: #505050;
}
.tag-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
  margin: 30px;
}
.tag-container .tag-wrapper {
  background: #FFFFFF;
  width: 49%;
  margin: 0 0 10px;
  border: 1px solid #dadada;
  transition: all 0.2s ease-out;
}
@media (max-width: 1040px) {
  .tag-container .tag-wrapper {
    width: 100%;
  }
}
.tag-container .tag-wrapper:hover {
  background-color: #26a2c7;
  border: 1px solid #26a2c7;
}
.tag-container .tag-wrapper:hover h2,
.tag-container .tag-wrapper:hover p,
.tag-container .tag-wrapper:hover span {
  color: white !important;
}
.tag-container .tag-wrapper a .img-wrapper {
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 180px;
  position: relative;
}
.tag-container .tag-wrapper a .tag-title {
  color: #505050;
  line-height: 1;
  font-size: 1.5em;
  padding: 0 10px;
  color: #141624;
  margin: 10px 0;
}
.tag-container .tag-wrapper a .meta-info {
  font-weight: 600;
  color: #505050;
  font-size: 12px;
  padding: 10px;
}
.tag-container .tag-wrapper a .meta-info span {
  font-size: 1.1em;
}
.tag-container .tag-wrapper a .meta-info i {
  margin-right: 7px;
}
.tag-container .tag-wrapper a .description {
  margin: 7px 0;
  line-height: 1;
  padding: 0 10px;
}
.tag-container .tag-wrapper a p {
  font-size: 14px;
  color: #505050;
}
.tag-container .tag-wrapper a.no-image .bg-wrapper .overlay {
  color: #505050;
}
.tag-container .tag-wrapper a.no-image .bg-wrapper .overlay .tag-title {
  color: #141624;
}
.tag-container .tag-wrapper a:hover {
  text-decoration: none;
  background: #40cebb;
}
.tag-container .tag-wrapper a:hover .bg-wrapper .overlay {
  background: #40cebb !important;
}
/*====================================================
	media query
====================================================*/
@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .main-navigation {
    text-align: left;
    padding: 0 15px;
  }
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li a {
    color: white;
    font-weight: 100;
    font-size: 17px;
  }
  .main-navigation .menu li:hover > a {
    text-decoration: none;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
  .prev-next-wrap a {
    display: block;
  }
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}
.fluid-width-video-wrapper {
  /*padding: 0 !important;*/
  padding-top: 56% !important;
}
.page {
  margin-bottom: 0;
}
.page iframe {
  margin: 0 auto !important;
}
.page .mobile-branding {
  float: left;
  margin: 9px 5px;
  height: 40px;
  width: 40px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 10px;
  z-index: 40;
}
.page .mobile-branding img {
  width: inherit;
}
.page .mobile-branding img:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
  .page .mobile-branding {
    display: block;
  }
}
.page .post-title {
  font-weight: 700;
}
.page .tag-list {
  margin: 3px;
}
