/*====================================================
	Importing less files
====================================================*/
@import "less_parts/variables.less";
@import "less_parts/mixin.less";
/*====================================================
	common styles
====================================================*/
body,
html {
	font-family: 'proxima-nova',sans-serif;
	font-size: 14px;
	color: @text-color;
	line-height: 1.75em;
	background: @bg-color;
	position: relative;
	font-weight: 200;
}

body {
	width: 100%;
	overflow-x: hidden;
}

article {
	font-size: 16px;
	line-height: 1.6em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'mr-eaves-xl-modern', serif;
	font-weight: 700;
	color: @text-color-heading;
}

.h1,
h1 {
	font-size: 3em;
	font-weight: 700;
	@media(max-width: 600px) {
		font-size: 2em;
	}
}

.h2,
h2 {
	font-size: 2.2em;
	font-family: 'mr-eaves-xl-modern';
	@media(max-width: 600px) {
		font-size: 2em;
	}
}

.home-template {
	.main-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.h3,
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

.h4,
h4 {
	font-size: 1.5em;
}

.h5,
h5 {
	font-size: 1.4em;
	font-weight: 500;
	margin: 5px 0 0;
	font-family: 'mr-eaves-xl-modern', serif;
	color: @text-color-heading;
	line-height: 1;
	text-align: left;
	@media(max-width: 600px) {
		font-size: 1.3em;
		margin-top: 5px;
		text-align: center;
	}
}

.h6,
h6 {
	font-size: 0.75em;
}

a {
	color: @theme-color;
	outline: none;

	&:hover {
		color: @theme-color;
		cursor: pointer;
	}
}

a img,
a:active,
a:focus {
	outline: none;
}

.btn {
	padding: 7px 14px;
	border-radius: 0;
}

.btn-default {
	border: 1px solid @theme-color;
	background: @theme-color;
	color: @white;
	.transition(all 0.2s ease-in-out);

	&:hover {
		border: 1px solid @hover-color;
		background: @hover-color;
		color: @white;
	}

	&:focus {
		outline: none;
	}
}

.btn-default[disabled] {
	border: 1px solid @text-color-heading;
	background: @text-color-heading;
	color: @white;
}

input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
	padding: 7px;
	border: 1px solid @border-color;
	.border-radius(2px);
	.transition(all 0.2s);

	&:focus {
		border: 1px solid @theme-color;
		outline: none;
	}
}

blockquote {
	border-left: 4px solid @theme-color;
	font-family: 'mr-eaves-xl-modern', serif;
	font-style: italic;
}

pre {
	padding: 0;
	background: none;
	border: none;
	margin: 20px 10px;
	font-size: 12px;
	@media(max-width: 600px) {
		margin: 20px 0;
	}
}

::-moz-selection {
	color: @white;
	background: @theme-color;
	text-shadow: none;
}

::selection {
	color: @white;
	background: @theme-color;
	text-shadow: none;
}

.author-template {
	.container .tag-hash-upcoming {
		display: none;
	}

	.link-preview {
		height: 167px;
		background-size: cover !important;
		color: white;
		position: relative;
		border: 1px solid mix(@theme-color, #e1e1e1, 20%);

		h4 {
			position: absolute;
			bottom: 0;
			left: 15px;
			color: white;
			z-index: 10;
			width: 90%;
			line-height: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			white-space: nowrap;
			font-size: 18px;
		}

		i {
			position: absolute;
			right: 12px;
			bottom: 12px;
			z-index: 100;
			font-size: 14px;
		}

		&::after {
			display: block;
			position: absolute;
			background-image: linear-gradient(to bottom, transparent 0%, @theme-color 100%);
			height: 100%;
			width: 100%;
			top: 0;
			content: '';
		}
	}
}

.post-preview {
	padding:0 !important;
	border: 1px solid #dadada;
	.featured-media {
		box-sizing: border-box;
		overflow: visible;
		margin: auto;
	}

	.content {
		padding:10px;
	}

	.post-permalink {
		text-align: left;
		display: flex;
		justify-content: space-between;
		padding: 10px;

		.btn {
			font-size: 18px;
			font-weight: 100;
			text-transform: uppercase;
			padding: 10px 20px;
			@media(max-width: 600px) {
				font-size: 14px;
				font-weight: 100;
				padding: 8px 20px;
			}
		}
	}

	.post-meta,
	.post-title,
	h5 {
		text-align: left;
		@media(max-width: 800px) {
			display: none;
		}
	}

	.post-content {
		@media(max-width: 600px) {
			font-size: 14px;
		}
	}

	.post-title {
		font-size: 3em;
		@media(max-width: 600px) {
			font-size: 2em !important;
		}
	}

	.post-content {
		line-height: 1.5;
	}

	&.tag-hash-upcoming,
	&.upcoming {
		display: none;
	}

	&.tag-roundup {
		.featured-media {
			display: none;
		}

		.post-head {
			padding: 20px;
		}

		.post-content {
			display: none;
		}
	}

	&.tag-hash-image {
		.featured-media {
			display: block !important;
		}

		.post-head {
			border-bottom: 0;
			padding: 20px 10px !important;
			@media(max-width: 800px) {
				padding: 20px 10px !important;
			}
		}
	}
}
/*====================================================
	header
====================================================*/
.main-header {
	text-align: center;
	padding: 150px 0;
	background: url("https://hackers.nyc3.digitaloceanspaces.com/head.jpg") center center;
	background-size: cover;
	    position: relative;
	@media(max-width: 800px) {
		padding: 50px 0;
	}

	.mobile-branding {
		display: none;
		float:left;
		margin: auto 0;
		height:40px;
		width:40px;
		position: absolute;
    top: 0;
    bottom: 0;
		left:10px;

		img {
			width:inherit;
			&:hover{
				cursor: pointer;
			}
		}

		@media(max-width: 800px) {
			display: block;
		}
	}

	.branding {
		font-size: 3.5em;
		font-family: 'mr-eaves-xl-modern', serif;
		color: @text-color-heading;
		z-index: 5;
    position: relative;

		&:hover {
			text-decoration: none;
		}

		img {
			width: 400px;
			max-width: 80%;
			@media(max-width: 800px) {
				width: 250px;
			}
		}
	}
}

.navbar-header {
	text-align: center;
	font-size: 20px;
	padding: 14px;

	li {
		height: 56px;
		line-height: 56px;
		font-size: 2em;
		cursor: pointer;
	}

	.nav-toggle-button:hover {
		cursor: pointer;
	}
}

.main-navigation {
	text-align: center;
    /* margin-top: 35px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgb(8, 115, 195) 100%);
    height: 150px;
		@media(max-width: 800px) {
			height:auto;
			background: none;
		}

	.menu {
		padding: 0;
		margin: 40px 40px 0 auto;
		display: flex;
		justify-content: space-between;
		max-width: 309px;
		@media(max-width: 800px) {
			margin: 30px auto 20px;
			max-width: 235px;
			opacity: 0.9;
		}

		li {
			list-style: none;
			display: inline-block;
			// margin: 0 14px;
			position: relative;

			a {
				color: white;
				// text-transform: capitalize;
				line-height: 1;
				display: block;
				padding: 0;
				font-family: 'mr-eaves-xl-modern', serif;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 600;
				transition: all 0.2s ease-out;
				@media(max-width: 600px) {
					padding: 0;
					font-weight: 500;
				}
			}

			&:hover > a {
				text-shadow: 0 0 20px #b41eda;
				text-decoration: none;
				cursor: pointer;
				color: white;
			}

			&.nav-current {
				@media(max-width: 600px) {
					padding: 0;
				}

				a {
					color: #2a3371;
					font-size: 17px;
				}
			}

			ul {
				visibility: hidden;
				background: @white;
				text-align: left;
				margin-bottom: 20px;
				position: absolute;
				left: 0;
				top: 120%;
				width: 200px;
				z-index: 999;
				.opacity(0);
				.transition(all 0.2s ease);

				li {
					a {
						line-height: 2.5em;
						color: @text-color;
					}
				}

				&:hover > a {
					cursor: pointer;
				}
			}

			&:hover {
				ul {
					visibility: visible;
					.opacity(1);
					top: 100%;
				}
			}
		}
	}
}
/*====================================================
	main post area
====================================================*/
.container {
	margin: 20px auto 0;
	@media(max-width: 800px) {
		margin: 0;
		padding: 0;
		width: 100% !important;

		.postlist {
			margin: 20px;
		}
	}
}

.post {
	padding: 15px;
	background: @white;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	order: 1;

	&.featured {
		order: 0;
	}

	&.page {
		.post-head {
			@media(max-width: 800px) {
				margin: 0;

				h1 {
					font-size: 3em;
					font-weight: 700;
				}
			}
		}
	}

	.featured {
		position: absolute;
		background: lighten(@theme-color, 50%);
		color: @white;
		text-align: center;
		top: -12px;
		right: -32px;
		width: 80px;
		height: 40px;
		line-height: 54px;
		.transform(rotate(45deg));
		font-size: 12px;
		z-index: 10;

		i {
			.transform(rotate(-45deg));
		}
	}

	.roundup {
		position: absolute;
		background: #81a1ab;
		color: white;
		text-align: center;
		top: -12px;
		right: -32px;
		width: 80px;
		height: 40px;
		line-height: 54px;
		transform: rotate(45deg);
		z-index: 20;
		display: none;

		i {
			.transform(rotate(-45deg));
		}
	}

	.post-head {
		padding: 20px 10px;
		line-height: 1;
		text-align: left;

		.post-title {
			text-align: left;
			width: 100%;
			margin: 0;
			line-height: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			white-space: nowrap;
			@media(max-width: 600px) {
				white-space: normal;
				text-align: center;
			}

			a {
				color: @text-color-heading;

				&:focus,
				&:hover {
					text-decoration: none;
				}
			}
		}

		.post-excerpt {
			margin: 5px auto 0;
			line-height: 1;
			font-weight: 600;
			text-align: left;
			@media(max-width: 600px) {
				font-weight: 500;
				font-size: 1.2em;
				text-align: center;
			}
		}

		.post-meta {
			// font-family: 'mr-eaves-xl-modern', serif;
			color: @text-color-light;
			margin: 15px 0 0;
			font-size: 12px;
			text-align: left;

			div {
				display: inline-block;
			}

			i {
				margin-right: 10px;
				@media(max-width: 600px) {
					display: none;
				}
			}
		}

		img {
			height: 14px;
			width: 14px;
		}

		span {
			margin: 0;
			white-space: nowrap;
		}

		.comment-count {
			display: none;
		}
	}
	@media(max-width: 600px) {
		padding: 20px 10px;
	}
}

.featured-media {
	img {
		width: 100%;
	}

	a {
		transition: opacity 0.2s ease-out;

		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
	}
}

.post-content {
	margin: 0 10px;
	overflow-x: hidden;
	clear: both;

	ul {
		margin-left: 15px;
		padding-left: 15px;
		margin-bottom: 20px;
	}

	.fluid-width-video-wrapper {
		margin: 0;
	}

	iframe {
		margin: 0;
		display: block;
		@media(max-width: 600px) {
			height: 100%;
		}
	}

	.twitter-tweet {
		margin: 20px auto;
	}

	img {
		max-width: 95%;
		border: 1px solid #eaeaea;
		margin: auto;
		display: block;
	}

	a {
		color: @secondary-color;
	}
}

.tag-list {
	color: @text-color-heading;
	font-size: 15px;
	display: inline;
	height: fit-content;
	margin: auto 0;

	i {
		color: #575863;
		margin-right: 7px;
		opacity: 0.6;
		font-size: 12px;
	}

	a:nth-of-type(1) {
		margin-left: 0;
	}

	a {
		margin-left: 5px;
	}

	& > span {
		margin-right: 20px;
	}

	.author {
		text-transform: capitalize;
	}

	.author,
	.date {
		span {
			opacity: 0.6;
			font-weight: 600;
		}
		@media(max-width: 600px) {
			display: none;
		}
	}

	a {
		color: @text-color-heading;
		font-size: 15px;
		opacity: 0.6;
		transition: 0.2s all ease-out;
		font-weight: 600;

		&:hover {
			color: @theme-color;
			opacity: 1;
		}
	}
}

.share {
	.share-icons {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		width: 145px;

		li {
			list-style: none;
			display: inline-block;
			line-height: 28px;
			border: 1px solid @border-color;
			font-size: 15px;
			padding: 0 7px;
			transition: 0.2s all ease-out;

			&:hover {
				color: @white;
				background: @theme-color;
				border: 1px solid @theme-color;

				a {
					color: @white;
				}
			}

			a {
				color: #c4c4c4;
				text-align: center;
			}
		}
	}
}

.pull-left {
	color: #575863;

	a,
	i,
	span {
		color: #575863;
		opacity: 0.6;
	}
}

.post-page {
	.post-head {
		border-bottom: 1px solid #eaeaea;
	}
	@media(max-width: 800px) {
		.featured-media {
			width: 110%;
			margin-left: -5%;
			margin-top: -7%;
		}
	}
}
/*====================================================
	pagination
====================================================*/
.pagination {
	margin: 0 0 35px;
	text-align: center;
	display: block;
	order: 20;

	a {
		text-align: center;
		display: inline-block;
		color: #FFFFFF;
		background: @theme-color;
		border-radius: 0;
		padding: 6px 13px;

		&:hover {
			background: @hover-color;
			text-decoration: none;
			color: @white;
		}
	}

	.page-number {
		background: @theme-color;
		color: @white;
		margin: 0 5px;
		display: inline-block;
		line-height: 1;
		padding: 12px 14px;
	}
}
/*====================================================
	about author and comment and next-prev link
====================================================*/
.col-md-8 {
	.about-author {
		border: 0;
		border-radius: 0;

		.meta-info {
			span {
				display: inline-block;
			}
		}

		.bio {
			margin: 0;
			float: none;
		}
	}
}

.page-about {
	.about-author {
		border: 1px solid #dcdcdc;
		border-radius: 4px !important;

		.bio {
			float: left !important;
			font-size: 14px;
		}

		i {
			color: @text-color-light !important;
		}

		span {
			color: @text-color-light;
		}
		@media(max-width: 1040px) {
			width: 100% !important;

			.meta-info {
				display: flex;
				justify-content: space-between;
				width: 100%;
				flex-wrap: wrap;
			}

			.bio {
				float: none !important;
			}
		}
	}
}

.about-author {
	background: @white;
	padding: 20px;
	margin: 10px 0;

	.avatar {
		width: 80px;
		height: 80px;
		margin-right: 15px;
		margin-bottom: 15px;
		.border-radius(50%);
		@media(max-width: 600px) {
			width: 70px;
			height: 70px;
		}
	}

	.bio {
		display: block;
		float: left;
		line-height: 1.5;
		margin-top: 10px;
		font-weight: 100;
	}

	.details {
		margin-left: 95px;
		@media(max-width: 600px) {
			margin-left: 90px;
		}
	}

	.author {
		font-size: 1.3em;
		margin-bottom: 5px;

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.meta-info {
		font-size: 12px;
		line-height: 1.5;
		font-weight: 100;
		color: @text-color-light;
		margin-bottom: 7px;

		span {
			margin-right: 30px;
			white-space: nowrap;
			display: block;

			i {
				margin-right: 7px;
			}
			@media(max-width: 600px) {
				display: block !important;
				width: 100%;
			}
		}
	}
}

.comment-wrap {
	background: @white;
	padding: 35px;
	margin-bottom: 35px;
}

.prev-next-wrap {
	text-align: center;

	a {
		margin: 20px 0 0;
	}
}
/*====================================================
	sidebar
====================================================*/
.sidebar {
	.widget {
		background: @white;
		padding: 20px 25px;
	}

	.upcoming {
		p {
			margin-bottom: 0;
		}

		ul {
			padding: 10px 0 0;
		}
	}

	.text {
		font-size: 16px;
	}

	.post-title {
		color: #627e90 !important;
		font-family: 'proxima-nova', serif;
		transition: all 0.2s ease;
		font-size: 17px !important;
		font-weight: 500 !important;

		&:hover {
			cursor: pointer;
		}
	}
}

.main-footer {
	.widget {
		padding: 0 30px;
		@media(max-width: 800px) {
			margin-bottom: 50px;

			h4 {
				font-size: 2.5em;
			}

			.recent-single-post,
			.single-author {
				width: 80%;
			}
		}
	}
}

.widget {
	margin-bottom: 20px;
	margin-top: 0;

	.title {
		margin-top: 0;
		padding-bottom: 7px;
		border-bottom: 1px solid @theme-color;
		margin-bottom: 21px;
		position: relative;

		&:after {
			content: "";
			width: 90px;
			height: 1px;
			background: @theme-color;
			position: absolute;
			left: 0;
			bottom: -1px;
		}
	}

	.google-plus {
		overflow: hidden;
	}

	.social {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;

		li {
			display: inline-block;
			text-align: center;
			border: 1px solid @border-color;
			padding: 5px 7px;

			a {
				i {
					line-height: 1;
					color: #bbbbbb;
					.transition(all 0.2s);
					height: 15px;
					width: 21px;
					font-size: 13px;
					transition: all 0.2s ease-out;

				}
			}

			&:hover {
				background: @theme-color;
				border: 1px solid @theme-color;
				cursor: pointer;

				i {
					color: @white;
				}
			}
		}
	}

	.tag-cloud {
		a {
			border: 1px solid #e6e6e6;
			padding: 3px 11px;
			color: #627e90;
			line-height: 1.5em;
			display: inline-block;
			margin: 0 10px 10px 0;
			border-radius: 2px;
			.transition(all 0.2s ease);

			&:hover {
				color: @white;
				background: @theme-color;
				border: 1px solid @theme-color;
				text-decoration: none;
			}
		}
	}

	.recent-post {
		.recent-single-post,
		.single-author {
			border-bottom: 1px dashed @border-color;
			padding-bottom: 14px;
			margin-bottom: 14px;

			.post-title,
			.single-author-name {
				color: @white;
				font-family: 'proxima-nova', serif;
				.transition(all 0.2s ease);
				font-size: 18px;
				font-weight: 100;

				&:hover {
					color: @theme-color;
					text-decoration: none;
				}
			}

			.date {
				color: @text-color-light;
				font-size: 12px;
				opacity: 0.8;

				i {
					margin-right: 5px;
				}
			}

			&:last-child {
				margin-bottom: 0;
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.newsletter {
		.input-group {
			margin-bottom: 20px;
			display: block;

			.email {
				width: 100%;
			}

			.btn {
				width: 100%;
			}
		}

		p {
			margin-bottom: 10px;
			font-size: 16px;
		}
	}

	.ad {
		text-align: center;

		img {
			max-width: 100%;
		}
	}
}
/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
	text-align: center;
	background: @white;
	padding: 25px;
	margin-bottom: 20px;

	.tag-name {
		margin-top: 0;
	}

	.post-count {
		margin-top: 7px;
		color: @text-color-light;
	}

	.avatar {
		width: 100px;
		height: 100px;
		.border-radius(50%);
	}

	.meta-info {
		color: @text-color-light;

		span {
			margin: 0 7px;

			i {
				margin-right: 7px;
			}
			@media(max-width: 600px) {
				display: block;
			}
		}
	}

	.bio {
		margin-top: 7px;
	}
}
/*====================================================
	footer
====================================================*/
.main-footer {
	background: linear-gradient(to bottom, rgba(0,255,196,0.2), rgba(41,58,63,0));
	padding: 35px 0;
	color: white;
	margin-top: 30px;
	background-color: #3c465a;
	box-shadow: inset 0 1px 6px 0 rgba(44,50,63,0.41);
	@media(max-width: 600px) {
		margin-top: 10px;
	}

	.widget {
		.title {
			color: @white;
		}

		& > div > div:last-child {
			border-bottom: 0 !important;
		}

		.tag-cloud {
			a {
				border: 0;
				border-radius: 2px;
				color: #FFFFFF;
				background: #3d888c;
				padding: 7px 15px;

				&:hover {
					border: 1px solid @white;
					background: @white;
					color: @theme-color;
				}
			}
		}

		.recent-post {
			.single-author {
				font-size: 18px;
				font-weight: 200;
				font-family: 'mr-eaves-xl-modern', serif;
				transition: all 0.2s ease;
			}

			.recent-single-post,
			.single-author {
				border-bottom: 0;

				.post-title,
				.single-author-name {
					color: @white;

					&:hover {
						color: @theme-color;
					}
				}

				.date {
					color: @white;
					opacity: 0.5;
				}
			}
		}
	}
}

.copyright {
	background: @bg-color-footer-dark;
	text-align: center;
	color: @white;
	padding-top: 28px;
	padding-bottom: 28px;
	border-top: 1px solid @text-color-heading;

	.rights {
		margin-top: 16px;
		opacity: 0.6;
		display: block;
		font-size: 12px;
	}
}

p {
	margin-bottom: 20px;
}

#back-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: fade(@secondary-color, 60%);
	color: @white;
	text-align: center;
	.border-radius(2px);
	z-index: 1;
	display: none;
	padding: 6px 12px;

	&:hover {
		background: @theme-color;
	}
}
/*====================================================
	tag and author archive
====================================================*/
.archive {
	.featured-media {
		height: 300px;
		background-size: cover;
		background-position: center;
		@media (max-width: 800px) {
			width: 110%;
			margin-left: -5%;
			margin-top: -7%;
		}
	}
}

.author-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-flow: row wrap;
	margin: 0 10px;

	.about-author {
		width: 49%;
		background-color: rgba(0, 6, 11, 0.78);
		background-blend-mode: multiply;
		color: @text-color;
		@media(max-width: 600px) {
			margin-bottom: 10px !important;
		}
	}

	.meta-info {
		color: @text-color;
	}
}

.tag-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-flow: row wrap;

	.tag-wrapper {
		background: @white;
		width: 49%;
		margin: 0 0 10px;
		border: 1px solid #dadada;
		transition: all 0.2s ease-out;
		@media(max-width: 1040px) {
			width: 100%;
		}

		&:hover {
			background-color: @theme-color;
			border: 1px solid @theme-color;

			h2,
			p,
			span {
				color: white !important;
			}
		}

		a {
			.img-wrapper {
				background-size: cover;
				background-position: center;
				text-align: center;
				width: 100%;
				height: 120px;
				position: relative;
			}

			.tag-title {
				color: @text-color;
				line-height: 1;
				font-size: 1.5em;
				padding: 0 10px;
				color: @text-color-heading;
				margin: 10px 0;

			}

			.meta-info {
				font-weight: 600;
				color: @text-color;
				font-size: 12px;
				padding: 10px;

				span {
					font-size: 1.1em;
				}

				i {
					margin-right: 7px;
				}
			}

			.description {
				margin: 7px 0;
				line-height: 1;
				padding: 0 10px;
			}

			p {
				font-size: 14px;
				color: @text-color;
			}

			&.no-image {
				.bg-wrapper {
					.overlay {
						color: @text-color;

						.tag-title {
							color: @text-color-heading;
						}
					}
				}
			}

			&:hover {
				text-decoration: none;
				background: @hover-color;

				.bg-wrapper {
					.overlay {
						background: @hover-color !important;
					}
				}
			}
		}
	}
}
/*====================================================
	media query
====================================================*/
@media (max-width:1000px) {
	.sidebar {
		display: none;
	}

	.main-navigation {
		text-align: left;
		padding: 0 15px;

		.menu {
			li {
				display: block;

				a {
					color: white;
					font-weight: 100;
					font-size: 17px;
				}

				&:hover > a {
					text-decoration: none;
				}

				ul {
					visibility: visible;
					margin: 0;
					position: relative;
					top: 0;
					width: 100%;
					.opacity(1);
				}
			}
		}
	}

	.prev-next-wrap {
		a {
			display: block;
		}
	}
}
@media (min-width: 768px) {
	.nav-toggle-button {
		display: none;
	}
}

.fluid-width-video-wrapper {
	/*padding: 0 !important;*/
	padding-top: 56% !important;
}

.page {
	margin-bottom: 0;

	iframe {
		margin: 0 auto !important;
	}

	.post-content {
		margin: 0 10px 20px;
	}
}

.page-template,
.post-template {
	&p {
		font-size: 24px;
		font-weight: 600;
	}




	.post-title {
		font-weight: 700;
	}

	.tag-list {
		margin: 3px;
	}

	.link-preview {
		border: 1px solid #dadada;
		padding: 5px;
		width: 90%;
		transition: all 0.2s ease-out;
		border-radius: 5px;
		margin: 20px auto;
		background-color: #ffffff;
		box-shadow: 0 0 10px rgba(0, 0, 0, .1);
		@media(max-width: 800px) {
			width: 100%;
		}

		.preview-image {
			display: inline-block;
			height: 200px;
			width: 100%;
			float: left;
			background-size: cover;
			background-position-x: center;
			background-position-y: center;
			border-radius: 3px 3px 1px 1px;
			@media(max-width: 600px) {
				height: 130px;
			}
		}

		i {
			margin-right: 10px;
			display: inline-block;
			font-size: 12px;
			margin-right: 10px;
			color: grey;
		}

		.url-info {
			color: @theme-color;
			margin-top: 0;
			font-size: 13px;
			display: inline-block;
			margin: 0 !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			line-height: 1;
		}

		.link-info {
			display: inline-block;
			width: 100%;
			overflow: hidden;
			padding: 10px 10px 0;

			h4 {
				margin-top: 0;
				margin-top: 0;
				font-size: 1.3em;
				font-weight: 500;
			}

			p {
				color: @text-color;
				font-weight: 100;
				line-height: 1.3;
				margin-bottom: 10px;
				font-size: 14px;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
				@media(max-width: 600px) {
					display: none;
				}
			}
		}

		&:hover {
			background-color: @theme-color;
			color: #fff;
			cursor: pointer;
			text-decoration: none;
			border: 1px solid @theme-color;

			a,
			h4,
			p,
			span {
				color: #fff;
			}
		}
	}
}

.author-template .post,
.home-template .post,
.paged .post,
.tag-template .post {
	.kg-card-markdown * {
		display: none;
	}

	.twitter-tweet {
		display: none !important;
	}

	.kg-card-markdown {
		a,
		iframe {
			display: inline !important;
		}

		p:nth-of-type(1) {
			display: block;
			margin: 0;
		}

		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1.5;
		}
	}

	&.tag-video {
		padding: 0;

		.post-head {
			display: none;
		}

		.fluid-width-video-wrapper {
			display: block !important;
		}

		.post-permalink {
			display: none;
		}

		.post-content {
			margin: 0;
		}
	}
}

.page-about {
	.col-md-6 {
		padding: 0;
	}

	.col-md-6:nth-of-type(1) {
		padding: 0 30px 0 0;
		@media(max-width: 600px) {
			padding: 0;
		}
	}
}

.active {
	display: block !important;
}

.col-sm-12 {
	@media(max-width: 1040px) {
		padding-right: 0;
		padding-left: 0;

		.menu {
			display: flex;
			justify-content: space-between;
			margin: auto;
		}

		.navbar-collapse {
			padding-right: 0;
			padding-left: 0;
			display: block;
			max-width: 375px;
			margin: 0 auto;

			li {
				display: inline-block;
				padding: 20px 0;

				a {
					line-height: 1;
					font-size: 16px;
				}
			}
		}

		.navbar-header {
			display: none;
		}
	}
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding-right: 10px;
	padding-left: 10px;
}
@media (min-width: 992px) {
	.col-md-push-4 {
		left: 0;
	}
}
@media (min-width: 992px) {
	.col-md-pull-8 {
		right: 0;
	}
}
/*====================================================
	Bootstrap override
====================================================*/
@media(max-width: 800px) {
	.post-preview {
		padding: 10px;

		&.tag-video {
			.post-content {
				margin: 0;
			}
		}
	}

	.main-header {
		@media(max-width: 800px) {
			padding: 60px 0;
		}
	}

	.main-header {
		border: 0;

		a {
			color: white;
		}
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

	.main-navigation {
		padding: 0 6%;
		margin: 0;
		border: 0;
		position: relative;

		.container {
			padding-right: 0;
			padding-left: 0;

			.row {
				margin: 0;

				.col-sm-12 {
					padding: 0;

					.navbar-collapse {
						.menu {
							padding: 0;

							li {
								a {
									font-weight: 100;
								}
							}
						}
					}
				}
			}
		}
	}

	.container {
		.postlist {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: calc(100% + 100px);
		}

		.main-content {
			padding-right: 0;
			padding-left: 0;

			.page-template,
			.post-page {
				padding: 20px 0 0;
				margin-bottom: 0;

				.post-head {
					padding: 30px 0;
					width: 90%;
    			margin: 0 auto;

					.post-title {
						font-weight: 700;
						text-align: center;
					}

					h5 {
						text-align: center;
					}

					.author,
					.date {
						margin: 10px auto 0;
						display: block;
					}
				}

				.post-meta {
					text-align: center;
				}

				.post-content {
					margin: 0 !important;
					overflow-x: hidden;
					padding: 20px 6%;
				}
			}

			.about-author {
				background: #f0f1f4;
				padding: 20px;
				margin-bottom: 0;
			}

			.prev-next-wrap {
				margin: 0;
				text-align: center;
				padding: 0 20px 24px;
				background: #f0f1f4;
			}
		}
	}

	.main-footer {
		margin: 0;

		.container {
			margin: 0;
			padding: 0;
		}
	}

	.pagination {
		margin: 20px 0;
	}


}

.page-template,
.post-template {
	.main-header {
		margin-bottom: 0;
		padding: 70px 0;

		.branding img {
			width: 300px;
		}

		.menu {
			margin: 30px 30px 0 auto;
			    max-width: 250px;

			a{
				font-size: 16px
			}
		}
	}
	@media(max-width: 800px){
		.main-header{
			padding: 1px;
			background: @theme-color;

			.branding {
				display: none;
			}

			.menu {
				margin: 20px 0 20px auto;
				max-width: 200px;
			}


		}
	}
}
@media(max-width: 800px) {
	.fluid-width-video-wrapper {
		height: 350px;
	}
}
@media(max-width:500px) {
	.fluid-width-video-wrapper {
		height: 236px;
	}
}

.repos {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	height: 500px;
	position: relative;
	overflow: hidden;

	.loader {
		width: 50%;
		border: 0 !important;
		margin: auto;
		display: block;
		position: absolute;
		z-index: 40;
		right: 0;
		left: 0;
		top: 30px;
	}

	a {
		width: 49%;
		z-index: 1;
		height: fit-content;

		&:hover {
			.repo {
				background-color: @theme-color;
				color: white;
				cursor: pointer;
				text-decoration: none;

				h3,
				p {
					color: white !important;
					text-decoration: none;
				}
			}
		}
		@media(max-width: 600px) {
			width: 100%;
		}
	}

	.repo {
		border: 1px solid #eaeaea;
		padding: 15px;
		margin: 5px 0;
		transition: all 0.3s ease-out;
		position: relative;
		overflow: hidden;
		opacity: 0;

		img {
			border: 0;
		}

		.lang {
			height: 80px;
			width: 80px;
			display: inline-block;
			position: relative;
			margin-right: 16px;
			float: left;
			display: none;

			span {
				margin: auto;
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: fit-content;
				height: fit-content;
				color: black;
			}
		}

		.details {
			display: inline-block;
			position: relative;
			width: 99%;

			h3 {
				margin: 0;
				font-size: 1.2em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 97%;
			}

			.description {
				color: @text-color;
				margin: 10px 0;
				font-size: 13px;
				line-height: 1.3;
				overflow: hidden;
			}

			.author {
				margin: 0;
			}

			img {
				height: 20px;
				width: 20px;
				border-radius: 2px;
				display: inline-block;
				margin-right: 5px;
			}

			i {
				font-size: 17px;
			}

			.author {
				font-size: 11px;
				margin: 0;
			}
		}

		.Python {
			background-color: blue;
		}

		.CSS {
			background-color: orange;
		}

		.HTML {
			background-color: red;
		}

		.Javascript {
			background-color: yellow;
		}
	}
}

.feed {
	background-color: none;
	position: relative;
	height: 500px;
	overflow: hidden;

	.loader {
		width: 50%;
		border: 0 !important;
		margin: auto;
		display: block;
		position: absolute;
		z-index: 40;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.activity {
		margin: 0;
		transition: all 0.2s ease-out;
		position: relative;
		overflow: hidden;
		text-decoration: none;
		opacity: 0;
		transition: all 0.3s ease-out;

		&:hover {
			cursor: pointer;
			text-decoration: none !important;

			.body {
				background-color: mix(@theme-color, #f9f9f9, 10%);
			}

			.intro {
				background-color: @theme-color;
				border: 1px solid #00807b;

				& * {
					text-decoration: none !important;
					color: white !important;
				}
			}
		}

		.intro {
			display: flex;
			justify-content: normal;
			padding: 10px 30px;
			background: #f3f3f3;
			border: 1px solid #eaeaea;
			transition: all 0.4s ease-in-out;

			h3 {
				color: @theme-color;
				font-weight: 700;
				display: inline;
				font-size: 3.5em;
				margin: auto 20px auto 0;
			}

			.summary {
				padding: 10px 0;

				h4 {
					font-size: 23px;
					font-weight: 600;
					display: block;
					margin: auto 0;
					height: fit-content;
					line-height: 1;
					@media(max-width: 600px) {
						font-size: 17px;
					}
				}

				span {
					display: block;
					color: @text-color;
					font-size: 14px;
					font-style: italic;
					margin: auto 20px auto 0;
					height: fit-content;
					line-height: 1;
					margin-bottom: 3px;
					@media(max-width: 600px) {
						font-size: 12px;
					}
				}
			}
			@media(max-width: 600px) {
				padding: 10px 20px;
			}
		}

		.body {
			padding: 20px 30px;
			background: #f9f9f9;
			height: 300px;
			transition: all 0.4s ease-in-out;
			transform-origin: top;
			overflow: hidden;
			@media(max-width: 600px) {
				padding: 20px;
			}

			.author {
				display: block;
				color: @text-color;
				font-size: 15px;
				width: fit-content;
				width: 100%;
				margin: 0 0 10px;

				.name {
					font-weight: 600;
				}

				.commits {
					font-size: 12px;
				}

				img {
					height: 20px;
					width: 20px;
					border-radius: 2px;
					display: inline-block;
					margin-right: 10px;
				}
				@media(max-width: 600px) {
					font-size: 14px;
				}
			}

			ul {
				list-style: none;
				font-style: italic;
				max-height: 177px;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				margin: 0 auto;
				width: auto;
				overflow: hidden;
				@media(max-width: 600px) {
					max-height: none;
				}
			}

			p {
				color: @text-color;
				font-size: 14px;
				margin: 10px 0 0;
			}

			li {
				font-size: 12px;
				color: #909090;
				width: fit-content;
				width: 50%;

				.date {
					margin-right: 10px;
					color: @text-color-heading;
					font-weight: 600;
					font-size: 16px;
				}
				@media(max-width: 800px) {
					width: 100%;
				}
			}
		}

		.time {
			position: absolute;
			right: 20px;
			margin: auto;
			top: 0;
			bottom: 0;
			height: 21px;
			color: #999;
		}
	}

	.disappear {
		height: 0 !important;
		transform: scaleY(0);
		transform-origin: top;
		padding: 0 30px !important;
	}
}
