/*====================================================
	Importing less files
====================================================*/
/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
/*====================================================
	MIXINS
====================================================*/
/*====================================================
	common styles
====================================================*/
body,
html {
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-weight: 200;
}
body {
  width: 100%;
  overflow-x: hidden;
}
article {
  font-size: 16px;
  line-height: 1.6em;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'mr-eaves-xl-modern', serif;
  font-weight: 700;
  color: #141624;
}
.h1,
h1 {
  font-size: 3em;
  font-weight: 800;
}
@media (max-width: 600px) {
  .h1,
  h1 {
    font-size: 2em;
  }
}
.h2,
h2 {
  font-size: 3em;
  font-weight: 400;
  font-family: 'mr-eaves-xl-modern';
}
@media (max-width: 600px) {
  .h2,
  h2 {
    font-size: 1.5em;
  }
}
.home-template .main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h3,
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}
.h4,
h4 {
  font-size: 1.5em;
}
.h5,
h5 {
  font-size: 1.4em;
  font-weight: 500;
  margin: 5px 0 0;
  font-family: 'mr-eaves-xl-modern', serif;
  color: #141624;
  line-height: 1;
}
@media (max-width: 600px) {
  .h5,
  h5 {
    font-size: 1.3em;
    margin-top: 5px;
  }
}
.h6,
h6 {
  font-size: 0.75em;
}
a {
  color: #00ada7;
  outline: none;
}
a:hover {
  color: #00ada7;
}
a img,
a:active,
a:focus {
  outline: none;
}
.btn {
  padding: 7px 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-default {
  border: 1px solid #00ada7;
  background: #00ada7;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #003e7c;
  background: #003e7c;
  color: #FFFFFF;
}
.btn-default:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #141624;
  background: #141624;
  color: #FFFFFF;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  padding: 7px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #00ada7;
  outline: none;
}
blockquote {
  border-left: 4px solid #00ada7;
  font-family: 'mr-eaves-xl-modern', serif;
  font-style: italic;
}
pre {
  padding: 0;
  background: none;
  border: none;
  margin: 30px 0;
}
::-moz-selection {
  color: #FFFFFF;
  background: #00ada7;
  text-shadow: none;
}
::selection {
  color: #FFFFFF;
  background: #00ada7;
  text-shadow: none;
}
.home-template .tag-roundup .featured-media {
  display: none;
  border-radius: 3px;
}
.home-template .tag-roundup .post-head {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
}
/*====================================================
	header
====================================================*/
.main-header {
  text-align: center;
  padding: 42px 0;
  background: #FFFFFF;
}
.main-header .branding {
  font-size: 3.5em;
  font-family: 'mr-eaves-xl-modern', serif;
  color: #141624;
}
.main-header .branding:hover {
  text-decoration: none;
}
.main-header .branding img {
  width: 400px;
  max-width: 80%;
}
.navbar-header {
  text-align: center;
  font-size: 20px;
  padding: 14px;
}
.navbar-header li {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
.navbar-header .nav-toggle-button:hover {
  cursor: pointer;
}
.main-navigation {
  text-align: center;
  background: #FFFFFF;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main-navigation {
    margin-bottom: 20px;
  }
}
.main-navigation .menu {
  padding: 0;
  margin: 0;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 20px;
  font-family: 'mr-eaves-xl-modern', serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 600px) {
  .main-navigation .menu li a {
    padding: 0;
  }
}
.main-navigation .menu li:hover > a {
  color: #00ada7;
  text-decoration: none;
  cursor: pointer;
}
.main-navigation .menu li.nav-current a {
  color: #00ada7;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #FFFFFF;
  text-align: left;
  padding: 7px 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-navigation .menu li ul li {
  display: block;
  margin: 0;
}
.main-navigation .menu li ul li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul:hover > a {
  color: #00ada7;
  cursor: pointer;
}
.main-navigation .menu li:hover ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
  top: 100%;
}
/*====================================================
	main post area
====================================================*/
.post {
  padding: 25px;
  background: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  order: 1;
}
.post.featured {
  order: 0;
}
.post .featured {
  position: absolute;
  background: #00ada7;
  color: #FFFFFF;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 12px;
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .btn {
  float: right;
}
.post .roundup {
  position: absolute;
  background: #c9c9c9;
  color: #ffffff;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  transform: rotate(45deg);
}
.post .roundup i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .post-head {
  text-align: center;
  margin-bottom: 20px;
}
.post .post-head .post-title {
  margin: 0;
  line-height: 0.9;
  font-weight: 700;
}
.post .post-head .post-title a {
  color: #141624;
}
.post .post-head .post-title a:focus,
.post .post-head .post-title a:hover {
  text-decoration: none;
}
@media (max-width: 600px) {
  .post .post-head .post-title {
    font-size: 2em;
  }
}
.post .post-head .post-excerpt {
  margin-top: 10px;
  font-weight: 600;
}
.post .post-head .post-meta {
  font-style: italic;
  color: #959595;
  margin: 18px 0;
  font-size: 12px;
}
.post .post-head .post-meta div {
  display: inline-block;
}
.post .post-head .post-meta .date {
  margin-left: 20px;
}
.post .post-head .post-meta .date i {
  margin-right: 5px;
}
.post .post-head .post-meta img {
  height: 14px;
  width: 14px;
}
.post .post-head .post-meta span {
  margin: 0;
  white-space: nowrap;
}
.post .post-head .post-meta .comment-count {
  display: none;
}
.post .featured-media {
  overflow: hidden;
  border-radius: 3px;
}
.post .featured-media img {
  width: 100%;
}
.post .featured-media a {
  transition: opacity 0.2s ease-out;
}
.post .featured-media a:hover {
  opacity: 0.8;
}
.post .post-content {
  margin: 30px 0;
  overflow-x: hidden;
}
.post .post-content .fluid-width-video-wrapper {
  margin: 0;
}
.post .post-content iframe {
  margin: 0;
  display: block;
}
@media (max-width: 600px) {
  .post .post-content iframe {
    height: 100%;
  }
}
.post .post-content img {
  max-width: 100%;
  margin-bottom: 14px;
}
.post .post-content a {
  color: #00b1d1;
}
.post > .post-permalink {
  text-align: left;
}
.post > .post-permalink .btn {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px 20px;
}
.post .tag-list {
  color: #141624;
  margin-top: 10px;
  font-size: 14px;
  margin-right: 5px;
}
.post .tag-list i {
  color: #141624;
  margin-right: 3px;
  opacity: 0.6;
  font-size: 12px;
}
.post .tag-list a:nth-of-type(1) {
  margin-left: 0;
}
.post .tag-list a {
  margin-left: 5px;
}
.post .tag-list > span {
  margin-right: 20px;
}
.post .tag-list .author {
  text-transform: capitalize;
}
.post .tag-list .author span,
.post .tag-list .date span {
  opacity: 0.6;
}
@media (max-width: 600px) {
  .post .tag-list .author,
  .post .tag-list .date {
    display: none;
  }
}
.post .tag-list a {
  color: #141624;
  font-size: 14px;
  opacity: 0.6;
  transition: 0.2s all ease-out;
}
@media (max-width: 600px) {
  .post .tag-list a {
    font-weight: 500;
  }
}
.post .tag-list a:hover {
  color: #00ada7;
  opacity: 1;
}
.post .share .share-icons {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 145px;
}
.post .share .share-icons li {
  list-style: none;
  display: inline-block;
  line-height: 28px;
  border: 1px solid #ebebeb;
  font-size: 15px;
  padding: 0 7px;
  transition: 0.2s all ease-out;
}
.post .share .share-icons li:hover {
  color: #FFFFFF;
  background: #00ada7;
  border: 1px solid #00ada7;
}
.post .share .share-icons li:hover a {
  color: #FFFFFF;
}
.post .share .share-icons li a {
  color: #c4c4c4;
  text-align: center;
}
/*====================================================
	pagination
====================================================*/
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block;
  order: 20;
}
.pagination a {
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  background: #00ada7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 7px;
}
.pagination a:hover {
  background: #003e7c;
  text-decoration: none;
  color: #FFFFFF;
}
.pagination .page-number {
  background: #00ada7;
  color: #FFFFFF;
  margin: 0 5px;
  display: inline-block;
  line-height: 1;
  padding: 12px 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*====================================================
	about author and comment and next-prev link
====================================================*/
.col-md-8 .about-author {
  border: 0;
  border-radius: 0;
}
.col-md-8 .about-author .meta-info span {
  display: inline-block;
}
.col-md-8 .about-author .bio {
  margin: 0;
  float: none;
}
.page-about .about-author {
  border: 1px solid #dcdcdc;
  border-radius: 4px !important;
}
.page-about .about-author .bio {
  float: left !important;
  font-size: 14px;
}
.page-about .about-author i {
  color: #959595 !important;
}
.page-about .about-author span {
  color: #959595;
}
@media (max-width: 1040px) {
  .page-about .about-author {
    width: 100% !important;
  }
  .page-about .about-author .meta-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .page-about .about-author .bio {
    float: none !important;
  }
}
.about-author {
  background: #FFFFFF;
  padding: 20px;
  margin-bottom: 25px;
}
.about-author .avatar {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .about-author .avatar {
    width: 70px;
    height: 70px;
  }
}
.about-author .bio {
  display: block;
  float: left;
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 100;
}
.about-author .details {
  margin-left: 95px;
}
@media (max-width: 600px) {
  .about-author .details {
    margin-left: 90px;
  }
}
.about-author .author {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.about-author .author a:hover {
  text-decoration: none;
}
.about-author .meta-info {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 100;
  color: #959595;
  margin-bottom: 7px;
}
.about-author .meta-info span {
  margin-right: 30px;
  white-space: nowrap;
  display: block;
}
.about-author .meta-info span i {
  margin-right: 7px;
}
.comment-wrap {
  background: #FFFFFF;
  padding: 35px;
  margin-bottom: 35px;
}
.prev-next-wrap {
  margin-bottom: 35px;
  text-align: center;
}
.prev-next-wrap a {
  margin-bottom: 7px;
}
/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #FFFFFF;
  padding: 21px 30px;
}
.sidebar .text {
  font-size: 16px;
}
.main-footer .widget {
  padding: 0 30px;
}
.widget {
  margin-bottom: 20px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #00ada7;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .google-plus {
  overflow: hidden;
}
.widget .social {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.widget .social li {
  display: inline-block;
  text-align: center;
}
.widget .social li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  color: #959595;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .social li a:hover i {
  color: #FFFFFF;
  background: #00ada7;
  border: 1px solid #00ada7;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 3px 11px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #FFFFFF;
  background: #00ada7;
  border: 1px solid #00ada7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post,
.widget .recent-post .single-author {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post .post-title,
.widget .recent-post .single-author .post-title,
.widget .recent-post .recent-single-post .single-author-name,
.widget .recent-post .single-author .single-author-name {
  color: #505050;
  font-family: 'proxima-nova', serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 600;
}
.widget .recent-post .recent-single-post .post-title:hover,
.widget .recent-post .single-author .post-title:hover,
.widget .recent-post .recent-single-post .single-author-name:hover,
.widget .recent-post .single-author .single-author-name:hover {
  color: #00ada7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date,
.widget .recent-post .single-author .date {
  font-style: italic;
  color: #959595;
  font-size: 12px;
}
.widget .recent-post .recent-single-post .date i,
.widget .recent-post .single-author .date i {
  margin-right: 5px;
}
.widget .recent-post .recent-single-post:last-child,
.widget .recent-post .single-author:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.widget .newsletter .input-group {
  margin-bottom: 20px;
  display: block;
}
.widget .newsletter .input-group .email {
  width: 100%;
}
.widget .newsletter .input-group .btn {
  width: 100%;
}
.widget .newsletter p {
  margin-bottom: 10px;
  font-size: 16px;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
.widget .flkr-widget {
  list-style: none;
  padding-left: 0;
}
.widget .flkr-widget li {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.widget .flkr-widget li a img {
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .flkr-widget li a img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=(80));
}
/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
  text-align: center;
  background: #FFFFFF;
  padding: 35px;
  margin-bottom: 25px;
}
.cover .tag-name {
  margin-top: 0;
}
.cover .post-count {
  margin-top: 7px;
  color: #959595;
  font-style: italic;
}
.cover .avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cover .meta-info {
  color: #959595;
  font-style: italic;
}
.cover .meta-info span {
  margin: 0 7px;
}
.cover .meta-info span i {
  margin-right: 7px;
}
.cover .bio {
  margin-top: 7px;
}
/*====================================================
	footer
====================================================*/
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #b4b4b4;
  margin-top: 10px;
}
.main-footer .widget .title {
  color: #FFFFFF;
  border-bottom: 1px solid #454545;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #494949;
  border-radius: 2px;
  color: #b4b4b4 !important;
}
.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #00ada7;
}
.main-footer .widget .recent-post .single-author {
  font-size: 18px;
  font-weight: 500;
  font-family: 'mr-eaves-xl-modern', serif;
  transition: all 0.2s ease;
}
.main-footer .widget .recent-post .recent-single-post,
.main-footer .widget .recent-post .single-author {
  border-bottom: 1px dashed #272727;
}
.main-footer .widget .recent-post .recent-single-post .post-title,
.main-footer .widget .recent-post .single-author .post-title,
.main-footer .widget .recent-post .recent-single-post .single-author-name,
.main-footer .widget .recent-post .single-author .single-author-name {
  color: #b4b4b4;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover,
.main-footer .widget .recent-post .single-author .post-title:hover,
.main-footer .widget .recent-post .recent-single-post .single-author-name:hover,
.main-footer .widget .recent-post .single-author .single-author-name:hover {
  color: #00ada7;
}
.main-footer .widget .recent-post .recent-single-post .date,
.main-footer .widget .recent-post .single-author .date {
  color: #505050;
}
.copyright {
  background: #111111;
  text-align: center;
  color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #141624;
}
.copyright .rights {
  margin-top: 16px;
  opacity: 0.6;
  display: block;
  font-size: 12px;
}
p {
  margin-bottom: 20px;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 173, 167, 0.6);
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  display: none;
  padding: 6px 12px;
}
#back-to-top:hover {
  background: #00ada7;
}
/*====================================================
	tag and author archive
====================================================*/
.archive .featured-media {
  height: 210px;
  background-size: cover;
  background-position: center;
}
.author-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
}
.author-container .about-author {
  width: 49%;
  background-color: rgba(0, 6, 11, 0.78);
  background-blend-mode: multiply;
  color: #505050;
}
.author-container .meta-info {
  color: #505050;
}
.tag-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-flow: row wrap;
}
.tag-container .tag-wrapper {
  background: #FFFFFF;
  width: 49%;
  margin: 0 0 10px;
}
@media (max-width: 1040px) {
  .tag-container .tag-wrapper {
    width: 100%;
  }
}
.tag-container .tag-wrapper h2 {
  font-weight: 700;
}
.tag-container .tag-wrapper a .bg-wrapper {
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%;
  min-height: 308px;
  position: relative;
}
.tag-container .tag-wrapper a .bg-wrapper .overlay {
  padding: 35px 14px;
  background: rgba(0, 0, 0, 0.7) !important;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  position: absolute;
}
.tag-container .tag-wrapper a .bg-wrapper .overlay .tag-title {
  color: #FFFFFF;
  line-height: 0.9;
  font-size: 2.5em;
  margin: 20px 0 0;
  height: 90px;
  padding: 0 20px;
}
.tag-container .tag-wrapper a .bg-wrapper .overlay .meta-info {
  position: absolute;
  bottom: 10%;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
}
.tag-container .tag-wrapper a .bg-wrapper .overlay .meta-info span {
  font-weight: 500;
  font-size: 1.1em;
}
.tag-container .tag-wrapper a .bg-wrapper .overlay .meta-info i {
  margin-right: 7px;
}
.tag-container .tag-wrapper a .bg-wrapper .overlay .description {
  margin-top: 7px;
}
.tag-container .tag-wrapper a .bg-wrapper p {
  font-size: 18px;
  font-weight: 500;
}
.tag-container .tag-wrapper a .bg-wrapper.no-image .bg-wrapper .overlay {
  color: #505050;
}
.tag-container .tag-wrapper a .bg-wrapper.no-image .bg-wrapper .overlay .tag-title {
  color: #141624;
}
.tag-container .tag-wrapper a:hover {
  text-decoration: none;
  background: #003e7c;
}
.tag-container .tag-wrapper a:hover .bg-wrapper .overlay {
  background: #003e7c !important;
}
/*====================================================
	media query
====================================================*/
@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .main-navigation {
    text-align: left;
    padding: 0 15px;
  }
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li:hover > a {
    color: #00ada7;
    text-decoration: none;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    padding: 0 0 0 20px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
  .prev-next-wrap a {
    display: block;
  }
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}
.fluid-width-video-wrapper {
  padding-top: 0 !important;
  height: 400px;
}
.page iframe {
  margin: 0 auto !important;
}
.post-templatep {
  font-size: 24px;
  font-weight: 600;
}
.post-template .tag-list {
  margin: 3px;
}
.post-template .link-preview {
  border: 1px solid #dadada;
  padding: 20px;
  width: 90%;
  transition: all 0.2s ease-out;
  min-height: 140px;
  border-radius: 3px;
  margin: 10px auto;
}
@media (max-width: 600px) {
  .post-template .link-preview {
    width: 100%;
  }
}
.post-template .link-preview .preview-image {
  display: inline-block;
  margin: 0 20px 20px 0;
  height: 100px;
  width: 100px;
  float: left;
  background-image: url("https://hackers.nyc3.digitaloceanspaces.com/linkpreview.jpg");
  background-size: cover;
  background-position-x: center;
  border-radius: 3px;
}
@media (max-width: 600px) {
  .post-template .link-preview .preview-image {
    height: 50px;
    width: 50px;
  }
}
.post-template .link-preview i {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  color: grey;
}
.post-template .link-preview .url-info {
  color: #00ada7;
  margin-top: 0;
  font-size: 12px;
  display: inline-block;
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  line-height: 1;
}
.post-template .link-preview .link-info {
  display: inline-block;
  width: 70%;
  overflow: hidden;
}
.post-template .link-preview .link-info h4 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: 600;
}
.post-template .link-preview .link-info p {
  color: #505050;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 10px;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-template .link-preview:hover {
  background-color: #00ada7;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #00ada7;
}
.post-template .link-preview:hover a,
.post-template .link-preview:hover h4,
.post-template .link-preview:hover p {
  color: #fff;
}
.page-template .post-title {
  margin-bottom: 20px !important;
}
.author-template .post .kg-card-markdown *,
.home-template .post .kg-card-markdown *,
.tag-template .post .kg-card-markdown *,
.paged .post .kg-card-markdown * {
  display: none;
}
.author-template .post .kg-card-markdown a,
.home-template .post .kg-card-markdown a,
.tag-template .post .kg-card-markdown a,
.paged .post .kg-card-markdown a,
.author-template .post .kg-card-markdown iframe,
.home-template .post .kg-card-markdown iframe,
.tag-template .post .kg-card-markdown iframe,
.paged .post .kg-card-markdown iframe,
.author-template .post .kg-card-markdown p,
.home-template .post .kg-card-markdown p,
.tag-template .post .kg-card-markdown p,
.paged .post .kg-card-markdown p {
  display: inline !important;
}
.author-template .post .kg-card-markdown p,
.home-template .post .kg-card-markdown p,
.tag-template .post .kg-card-markdown p,
.paged .post .kg-card-markdown p {
  margin-bottom: 0;
}
.author-template .post .kg-card-markdown a,
.home-template .post .kg-card-markdown a,
.tag-template .post .kg-card-markdown a,
.paged .post .kg-card-markdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline !important;
}
.author-template .post.tag-video .fluid-width-video-wrapper,
.home-template .post.tag-video .fluid-width-video-wrapper,
.tag-template .post.tag-video .fluid-width-video-wrapper,
.paged .post.tag-video .fluid-width-video-wrapper {
  display: block !important;
}
@media (max-width: 500px) {
  .author-template .post.tag-video .fluid-width-video-wrapper,
  .home-template .post.tag-video .fluid-width-video-wrapper,
  .tag-template .post.tag-video .fluid-width-video-wrapper,
  .paged .post.tag-video .fluid-width-video-wrapper {
    height: 160px;
  }
}
.author-template .post.tag-video .post-permalink,
.home-template .post.tag-video .post-permalink,
.tag-template .post.tag-video .post-permalink,
.paged .post.tag-video .post-permalink {
  display: none;
}
.author-template .post.tag-video .post-content,
.home-template .post.tag-video .post-content,
.tag-template .post.tag-video .post-content,
.paged .post.tag-video .post-content {
  margin: 0 0 5px;
}
.page-about .col-md-6 {
  padding: 0;
}
.page-about .col-md-6:nth-of-type(1) {
  padding: 0 30px 0 0;
}
@media (max-width: 600px) {
  .page-about .col-md-6:nth-of-type(1) {
    padding: 0;
  }
}
.active {
  display: block !important;
}
@media (max-width: 1040px) {
  .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-12 .menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .col-sm-12 .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    display: block;
    max-width: 375px;
    margin: 0 auto;
  }
  .col-sm-12 .navbar-collapse li {
    display: inline-block;
    padding: 20px 0;
  }
  .col-sm-12 .navbar-collapse li a {
    line-height: 1;
    font-size: 15px;
  }
  .col-sm-12 .navbar-header {
    display: none;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .col-md-push-4 {
    left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-pull-8 {
    right: 0;
  }
}
