/*====================================================
	Importing less files
====================================================*/
@import "less_parts/variables.less";
@import "less_parts/mixin.less";

@import "less_parts/author.less";
@import "less_parts/global.less";
@import "less_parts/footer.less";
@import "less_parts/menu.less";
@import "less_parts/post.less";
@import "less_parts/postfooter.less";
@import "less_parts/postpreview.less";
@import "less_parts/variables.less";

@import "less_parts/customtemplates.less";
@import "less_parts/hacks.less";
@import "less_parts/linkpreview.less";
@import "less_parts/widgets.less";
@import "less_parts/pagination.less";
@import "less_parts/page.less";
@import "less_parts/postheader.less";
@import "less_parts/postlist.less";
@import "less_parts/tags.less";
@import 'less_parts/githubcard.less';


/*====================================================
	fonts
====================================================*/
@font-face {
	font-family: 'akzidenz';
	src: url("../fonts/akzidenzgrotesk-bq-light-regular.otf") format("opentype");
}

@font-face {
	font-family: 'akzidenz-bold';
	src: url("../fonts/akzidenzgrotesk-bq-bold.otf") format("opentype");
}

@font-face {
	font-family: 'akzidenz-medium';
	src: url("../fonts/akzidenzgrotesk-bq-medium.otf") format("opentype");
}

@font-face {
	font-family: 'akzidenz-regular';
	src: url("../fonts/akzidenzgrotesk-bq-regular.otf") format("opentype");
}

/*====================================================
	about author and comment and next-prev link
====================================================*/

.page-about {
	.about-author {
		border: 1px solid #dcdcdc;
		border-radius: 4px !important;

		.bio {
			float: left !important;
			font-size: 14px;
		}

		i {
			color: @text-color-light !important;
		}

		span {
			color: @text-color-light;
		}
		@media(max-width: 1040px) {
			width: 100% !important;

			.meta-info {
				display: flex;
				justify-content: space-between;
				width: 100%;
				flex-wrap: wrap;
			}

			.bio {
				float: none !important;
			}
		}
	}
}

.prev-next-wrap {
	text-align: center;

	a {
		margin: 0;
	}
}







/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
	text-align: center;
	background: @white;
	padding: 25px;
	margin-bottom: 20px;

	.tag-name {
		margin-top: 0;
	}

	.post-count {
		margin-top: 7px;
		color: @text-color-light;
	}

	.avatar {
		width: 100px;
		height: 100px;
		.border-radius(50%);
	}

	.meta-info {
		color: @text-color-light;

		span {
			margin: 0 7px;

			i {
				margin-right: 7px;
			}
			@media(max-width: 600px) {
				display: block;
			}
		}
	}

	.bio {
		margin-top: 7px;
	}
}


.copyright {
	background: @bg-color-footer-dark;
	text-align: center;
	color: @white;
	padding-top: 28px;
	padding-bottom: 28px;
	border-top: 1px solid @text-color-heading;

	.rights {
		margin-top: 16px;
		opacity: 0.6;
		display: block;
		font-size: 12px;
	}
}

p {
	margin-bottom: 20px;
}

#back-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: fade(@secondary-color, 60%);
	color: @white;
	text-align: center;
	.border-radius(2px);
	z-index: 1;
	display: none;
	padding: 6px 12px;

	&:hover {
		background: @theme-color;
	}
}
/*====================================================
	tag and author archive
====================================================*/
.archive {
	.featured-media {
		height: 300px;
		background-size: cover;
		background-position: center;
		@media (max-width: 800px) {
			width: 110%;
			margin-left: -5%;
			margin-top: -7%;
		}
	}
}

.author-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-flow: row wrap;
	margin: 0 40px 20px;

	.about-author {
		background-color: rgba(0, 6, 11, 0.78);
		background-blend-mode: multiply;
		color: @text-color;
		@media(max-width: 600px) {
			margin-bottom: 10px !important;
		}
	}

	.meta-info {
		color: @text-color;
	}
}


/*====================================================
	media query
====================================================*/
@media (max-width:1000px) {
	.sidebar {
		display: none;
	}

	.main-navigation {
		text-align: left;
		padding: 0;


		.menu {
			li {
				display: block;

				a {
					color: white;
					font-size: 17px;
				}

				&:hover > a {
					text-decoration: none;
				}

				ul {
					visibility: visible;
					margin: 0;
					position: relative;
					top: 0;
					width: 100%;
					.opacity(1);
				}
			}
		}
	}

	.prev-next-wrap {
		a {
			display: block;
		}
	}
}
@media (min-width: 768px) {
	.nav-toggle-button {
		display: none;
	}
}

.fluid-width-video-wrapper {
	/*padding: 0 !important;*/
	padding-top: 56% !important;
}

.page {
	margin-bottom: 0;

	iframe {
		margin: 0 auto !important;
	}


	.mobile-branding {
		float: left;
		margin: 9px 5px;
		height: 40px;
		width: 40px;
		position: relative;
		top: 0;
		bottom: 0;
		left: 10px;
		z-index: 40;
		display: none;

		img {
			width: inherit;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.post-title {
		font-weight: 700;
	}

	.tag-list {
		margin: 3px;
	}


}

.post-template,
.page-template {
	.mobile-branding {
		@media(max-width: 800px) {
			display: block;
		}
	}
}
