@import url("//hello.myfonts.net/count/385505");

@font-face {font-family: 'Gilroy-SemiBold';src: url('../fonts/385505_0_0.eot');src: url('../fonts/385505_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/385505_0_0.woff2') format('woff2'),url('../fonts/385505_0_0.woff') format('woff'),url('../fonts/385505_0_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Regular';src: url('../fonts/385505_1_0.eot');src: url('../fonts/385505_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/385505_1_0.woff2') format('woff2'),url('../fonts/385505_1_0.woff') format('woff'),url('../fonts/385505_1_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Medium';src: url('../fonts/385505_2_0.eot');src: url('../fonts/385505_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/385505_2_0.woff2') format('woff2'),url('../fonts/385505_2_0.woff') format('woff'),url('../fonts/385505_2_0.ttf') format('truetype');}


#fw-tw-feed-items {
  background: none !important;
}

#fw-tw-feed-items-scroll-area {
  background:none !important;
}

.fw-tw-feed-item-description {
  font-family: 'Gilroy-Regular',sans-serif !important;
  line-height: 1.4!important;
  font-size: .8em!important;
  text-align: left!important;
  position: relative!important;
}

.fw-tw-feed-item-username {
  font-family: 'ProductSans-Medium',sans-serif !important;
}
.fw-tw-feed-item-date,
.fw-tw-links-in-tweets {
  font-family: 'Gilroy-Regular',serif !important;
}

a.fw-tw-links-in-tweets {
  font-family: 'Gilroy-SemiBold',serif !important;
}

.fw-tw-feed-item-username{
  font-weight: 600 !important;
}


.fw-tw-feed-item {
  padding:15px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  margin-bottom: 10px !important;
  border-bottom: 0 !important;
  border-radius: 2px !important;
}

#fw-tw-feed-items .fw-tw-feed-item-retweet {
    padding: 0 0 10px 0;
    font-size: 14px;
    color: #73bf41;
    font-family: 'ProductSans-Medium',sans-serif !important;
}

.fw-tw-feed-item-module {
  padding:10px !important;
  position: relative!important;
}

.fw-tw-feed-item-user-img {
  margin-right: 3px !important;
}

.fw-tw-feed-item-username {
  font-family: 'ProductSans-Medium','CompassSans-Regular'!important;
}


.fw-tw-feed-item-date {
  font-family: 'ProductSans-Regular',sans-serif !important;
}

.fw-tw-feed-item-tweet-action {
  text-align: right !important;
  margin: -27px 0 0 0 !important;
  position: absolute !important;
  right: 10px !important;
}
