
<div class="sidebar" class="{{author.slug}}">
  {{> author/widget-authorwebsite}}
	{{> author/widget-authorgithub}}
	{{!--{{> author/widget-medium}}--}}
	{{> author/widget-meetup}}
	{{> author/widget-rss}}
	{{#has slug="todd"}}
		{{> author/widget-authortwitter}}
	{{else}}
        {{> author/widget-authortwitter}}
	{{/has}}
</div>
