<!-- Start Medium Widget -->
<div class="widget" style="background:white;" id="medium" style="display:none;">
  <h4 class="title" style="margin-bottom:0;">Medium</h4>
  <div id="medium-widget"></div>
</div>
<!-- End Medium Widget -->
