<!-- Start Website Widget -->
{{#if website}}
  <div class="widget website">
    <h4 class="title">Website</h4>
    <a class="website-link" href="{{website}}">{{website}}</a>
  </div>
{{/if}}
<!-- End Website Widget -->
