<!-- Start Github Widget -->
<div class="widget author-github">
  <h4 class="title">Github</h4>
  <div id="github-card-author" data-max-repos="3" data-sort-by="stars" data-header-text="Top Repositories"></div>
</div>
<!-- End Github Widget -->
