<!-- Start Twitter Widget -->
<div class="widget twitter">
  <h4 class="title">Twitter</h4>
  <a class="twitter-timeline" href="https://twitter.com/toddrbirchard?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- End Twitter Widget -->
