.about-author {
  background: white;
  padding: 30px;
  min-height: 85px;
  margin: 0 auto 15px;
  justify-content: space-between;
  display: flex;
  max-width: 100%;
  @media(max-width: @tablet-breakpoint) {
    margin: 20px 0;
  }
  @media(max-width: @mobile-breakpoint) {
    padding: 30px;
  }

  .avatar {
    width: 95px;
    height: 95px;
    min-width: 95px;
    display: inline-block;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 2px;
    border: 1px solid rgba(150, 168, 198, 0.5);
    @media(max-width: @tablet-breakpoint) {
      margin-right: 20px;
    }
    @media(max-width: @mobile-breakpoint) {
      width: 80px;
      height: 80px;
      margin: 0 15px 15px 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .details {
    display: inline-block;
    float: left;

    span {
      display: block;
      line-height: 1em;
      margin-bottom: 8px;
      font-size: 0.9em;

      i {
        margin-right: 5px;
      }
    }
  }

  .bio {
    display: block;
    line-height: 1.5;
    margin-top: 10px;
    width: 100%;
    clear: both;
    font-size: 0.9em;
    color: #464a56;
    font-weight: 500;
  }

  .author {
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1;
    font-family: @body-font-bold;
    @media(max-width: @mobile-breakpoint) {
      font-size: 1.3em;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
    @media(max-width: @mobile-breakpoint) {}
  }

  .meta-info {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    color: @text-color-light;
    margin-bottom: 7px;

    span {
      margin-right: 10px;
      display: block;

      i {
        margin-right: 7px;
      }
      @media(max-width: @tablet-breakpoint) {
        display: block !important;
        width: 100%;
      }
    }
  }
}

.author-card-large {
  justify-content: left !important;

  .name {
    font-family: @body-font;
    color: #5D6178;
    font-size: 0.9em;
    font-weight: 600;
  }

  .meta {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    .meta-item {
      display: inline-block;
      color: #868892;
      width: fit-content;
      margin-right: 20px;
      margin-bottom: 0;
      font-weight: 100;
      @media(max-width: @tablet-breakpoint) {
        margin-right: 30px;
      }

      .copy {
        opacity: 0.8;
        display: inline-block;
        margin-bottom: 0;
      }

      i {
        display: inline-block;
      }

      a {
        color: #868892;
        font-weight: 100;

        &:hover {
          color: @hover-color;
        }
      }
    }
  }

  .bio {
    max-width: 570px;
  }
  @media(max-width: @mobile-breakpoint) {
    display: none;
  }
}

.author-card-small {
  display: none;
  overflow: hidden;
  @media(max-width: @mobile-breakpoint) {
    display: block;
    margin: 0 0 20px;
  }
}
