

.about-author {
  background: @white;
  padding: 40px 60px;
  margin: 1px 0;
  min-height: 85px;
  box-shadow: 0 0 5px rgba(80,82,204,.1)!important;
  display: flex;
  justify-content: space-between;
  @media(max-width: 600px) {
    padding: 30px;
  }

  .avatar {
    width: 105px;
    height: 105px;
    min-width: 105px;
    display: inline-block;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 2px;
    border: 1px solid #3f588080;
    @media(max-width: 600px) {
      width: 80px;
      height: 80px;
      margin: 0 15px 15px 0;
    }

    img {
      width: 100%;
    }
  }

  .details {
    display: inline-block;
    float: left;


    span {
      display: block;
      line-height: 1em;
      margin-bottom: 8px;
      font-size: 0.9em;

      i {
        margin-right: 8px;
      }
    }
  }

  .bio {
    display: block;
    line-height: 1.5;
    margin-top: 10px;
    width: 100%;
    clear: both;
    font-size: 0.9em;
    color: #464a56;
    font-weight: 500;
  }

  .author {
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1;
    font-family: 'AvenirNextLTPro-Medium', '';
    @media(max-width: 600px) {
      font-size: 1.3em;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
    @media(max-width: 600px) {}
  }

  .meta-info {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    color: @text-color-light;
    margin-bottom: 7px;

    span {
      margin-right: 10px;
      display: block;

      i {
        margin-right: 7px;
      }
      @media(max-width: 800px) {
        display: block !important;
        width: 100%;
      }
    }
  }
}

.author-card-large {
  justify-content: left !important;

  .name {
    font-family: 'AvenirNextLTPro-Medium';
    color: #5D6178;
    font-size: .9em;
    font-weight: 600;
  }

  .authormeta {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 13px 0;


    & > span {
      display: inline-block;
      color: #868892;
      width: fit-content;
      margin-right: 40px;
      margin-bottom: 0;
      font-weight: 100;

      .copy {
        opacity: .8;
        display: inline-block;
        margin-bottom: 0;
      }

      i {
        display: inline-block;
      }

      a {
        color: #868892;
        font-weight: 100;

        &:hover {
          color:@hover-color;
        }
      }
    }
  }

  .bio {
    max-width: 570px;
  }
  @media(max-width: 600px) {
    display: none;
  }
}

.author-card-small {
  display: none;
  @media(max-width: 600px) {
    display: block;
    margin: 20px;
    width: auto!important;
  }
}
