/* Global Styles */
@import 'languages/default.less';
@import 'languages/shell.less';
@import 'languages/python.less';
@import 'languages/javascript.less';
@import 'languages/sql.less';
@import 'languages/json.less';
@import 'languages/config.less';

blockquote pre {
  width: 96% !important;
  margin: auto;

  p {
    margin-bottom: 0 !important;
  }

  code {
    &::before {
      font-size: 14px !important;
    }
    background: rgba(41, 61, 76, 0.84) !important;
  }
}

.post-content {
  pre {
    white-space: pre-wrap;
    transition: all 0.5s ease-out;
    position: relative;
    overflow-y: hidden;
    padding: 0;
    margin: 30px auto;
    border-radius: 3px;
    max-width: 100%;
    @media(max-width: 600px) {
      max-width: none;
      width: auto;
      white-space: pre-line;
      max-height: 400px;
      overflow-x: visible;
    }

    code {
      overflow-y: hidden;
      transition: all 0.5s ease-out;
    }

    span {
      display: inline;
    }
  }

  pre > code {
    white-space: pre-wrap;
    padding: 0 25px 15px;
    @media(max-width: 600px) {
      overflow-y: hidden;
    }
  }

  li > code,
  p > code {
    display: inline;
    overflow-y: visible;
    width: fit-content;
    background: rgba(183, 192, 237, 0.18);
    color: #3297b5;
    padding: 4px 6px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 0.8em;
    font-family: 'AFParseGroteskMono-Light';
    white-space: nowrap;
  }

  code {
    margin: 0;
    height: 100%;
    font-size: 0.9em;
    @media(max-width: 600px) {
      font-size: 14px;
    }
  }



  code {
    padding: 4px 5px;
    margin: 0;
  }

  .fullscreenbtn {
    position: absolute;
    bottom: 13px;
    right: 23px;
    margin: auto;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    color: #6c8699;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
    z-index: 1;

    &:hover {
      opacity: 0.7;
    }

    i {
      position: relative;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 22px;
      opacity: 0.6;
    }
    @media(max-width: 600px) {
      display: block;
    }
  }

  .fullscreen {
    height: 100%;
    width: 110%;
  }


  .hljs.ini,
  .language-ini {
    &::before {
      margin-bottom: 0;
      width: 110%;
      height: auto;
      content: "ini";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .handlebars,
  .hljs.html,
  .language-css,
  .language-endpoint,
  .language-handlebars,
  .language-html,
  .language-jinja,
  .language-xml {
    background: linear-gradient(#3f396b, #27203a) !important;
    color: #d0e1f6;

    .hljs-tag {
      color: #98bfd4;
    }

    .hljs-meta {
      color: #b9d9ff;
    }

    .hljs-attr {
      color: #7ab5cf;
    }

    .hljs-string {
      color: #d2c69e;
      font-family: 'AFParseGroteskMono-Light';
    }

    .hljs-name {
      color: #96a7ff;
    }
    background: #272738;

    &::before {
      margin-bottom: 0;
      width: 110%;
      height: auto;
      color: white;
      content: "HTML";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .language-xml {
    &::before {
      content: "XML" !important;
      margin-bottom: 0;
      width: -webkit-fill-available;
      height: auto;
      margin: auto;
      color: white;
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      padding: 7px 0 5px;
      font-family: 'AFParseGroteskMono-Bold';
      font-size: 1.15em;
    }
  }

  .language-css {
    &::before {
      content: "CSS" !important;
      margin-bottom: 0;
      width: -webkit-fill-available;
      height: auto;
      margin: auto;
      color: white;
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      padding: 7px 0 5px;
      font-family: 'AFParseGroteskMono-Bold';
      font-size: 1.15em;
    }
  }

  .language-endpoint {
    display: block;
    margin: 0;
    padding: 0 25px 20px;
    overflow-x: hidden;
    background: #262633;
    color: #d3dce0;
    font-family: dm;
    font-weight: 200;
    line-height: 1.7;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    &::before {
      content: "Endpoint" !important;
      -webkit-font-smoothing: antialiased;
      display: block;
      position: relative;
      width: 104%;
      height: auto;
      margin-bottom: 0;
      margin-left: -6%;
      padding: 8px 40px;
      font-family: TTNorms-Medium;
      font-size: 1.3em;
      font-style: normal;
      font-variant: normal;
      font-weight: 600;
      text-rendering: auto;
      text-shadow: -2px 2px 1px rgba(0,9,46,.6)!important;
    }
  }
}

.language-output,
.output {
  &::before {
    width: 110%;
    margin-bottom: 0;
    height: auto;
    content: "Output" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.css,
.language-css {
  .built_in {
    color: #88C0D0;
  }

  .keyword {
    color: #D08770;
  }

  &::before {
    width: 110%;
    height: auto;
    margin-bottom: 0;
    content: "CSS" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.groovy,
.language-groovy {
  .meta:not(:first-child) {
    color: #D08770;
  }

  &::before {
    width: 110%;
    height: auto;
    content: "Groovy" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.language-yaml,
.yaml {
  .meta {
    color: #D08770;
  }

  &::before {
    width: 110%;
    height: auto;
    content: "Yaml" !important;
    margin-bottom: 0;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.language-toml,
.toml {
  .meta {
    color: #D08770;
  }

  &::before {
    width: 110%;
    height: auto;
    content: "TOML" !important;
    display: block;
    margin-bottom: 0;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.codeoverflow {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  background: linear-gradient(0, #0d111d, rgba(20, 30, 57, 0) 70.71%);
  z-index: 0;
  display: none;
  opacity: 1;
  transition: all 0.4s ease-out;
   mix-blend-mode: hard-light;
  @media(max-width: 600px) {
    display: block;
  }
}

.fullWidth {
  @media(max-width: 600px){
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
  }
}

.bottomFade {
  display: block;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: linear-gradient(0deg, #0e2542, rgba(11, 33, 58, 0));
  mix-blend-mode: hard-light;
}
