/* Global Styles */
@import 'languages/shell.less';
@import 'languages/python.less';
@import 'languages/javascript.less';
@import 'languages/sql.less';

blockquote pre {
   width: 96% !important;
   margin: 20px auto;
   margin:auto;

   p {
     margin-bottom: 0 !important;
   }

   code {
     &::before {
       font-size: 14px !important;
       }

     background: rgba(41, 61, 76, 0.84) !important;
   }
}

.post-content {
  pre {
    white-space: pre-wrap;
    transition: all 0.5s ease-out;
    position: relative;
    overflow-y: hidden;
    padding: 0;
    margin: 30px auto;
    border-radius: 5px;
    max-width: 100%;

    @media(max-width: 600px) {
      max-width: none;
      width: auto ;
      white-space: pre-line;
      max-height: 400px;
      overflow-x: visible;
    }

    code {
      overflow-y: hidden;
      transition: all 0.5s ease-out;
    }

    span {
      display: inline;
    }
  }

  pre > code {
    white-space: pre-wrap ;
    padding: 45px 25px 15px ;
    @media(max-width: 600px) {
      overflow-y: hidden ;
    }
  }

  li > code,
  p > code {
    display: inline;
    overflow-y: visible ;
    width: fit-content;
    background: rgba(183, 192, 237, 0.18);
    color: #3297b5;
    padding: 4px 6px;
    border-radius: 2px;
    font-weight: 600;
    font-size: .8em;
    font-family: 'AFParseGroteskMono-Light';
    white-space: nowrap;
  }

  code {
    margin: 0;
    height: 100%;
    font-size: .9em;
    @media(max-width: 600px) {
      font-size: 12px;
    }
  }

  .hljs {
    display: block;
    overflow-x: hidden;
    background: linear-gradient(#2d3555, #1d2036);
    overflow-wrap: break-word;
    margin: 0;
    font-weight: 200;
    line-height: 1.7;
    padding: 0 25px 20px;
    white-space: pre-wrap;
    color: #d3dce0;
    font-family: 'AFParseGroteskMono-Light';
    @media(max-width: 600px) {
      padding: 0 20px 20px;
    }

    &::before {
      -webkit-font-smoothing: antialiased;
      display: block;
      position: relative;
      width: 104%;
      height: auto;
      margin-bottom: 0;
      margin-left: -6%;
      padding: 8px 40px;
      font-family: 'AFParseGroteskMono-Bold';
      font-size: 1.15em;
      font-style: normal;
      font-variant: normal;
      font-weight: 600;
      text-rendering: auto;
      text-shadow: -2px 2px 1px rgba(0, 9, 46, 0.6) !important;
      content: "Code Snippet";
      opacity: 1;
      background: none;
      @media(max-width: 600px) {
        width: -webkit-fill-available;
        width: -moz-webkit-fill-available;
        padding: 8px 0;
        font-size: 1.4em;
        margin-bottom: 0;
      }
    }

    * {
      font-size: 14px;
      margin: 0;
      @media(max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  code {
    padding: 4px 5px;
    color: #2e9eb7;
    margin: 0;
  }

  .json,
  .language-json {
    line-height: 1.4 !important;

    .attr {
      color: #e471a6;
      font-family: 'AFParseGroteskMono-Bold';
    }

    .string {
      color: #c39dea;
    }

    &::before {
      margin-bottom: 0;
      width: 110%;
      height: auto;
      content: "JSON";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }

  .fullscreenbtn {
    position: absolute;
    bottom: 13px;
    right: 23px;
    margin: auto;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    color: #6c8699;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
    z-index: 1;

    &:hover {
      opacity: 0.7;
    }

    i {
      position: relative;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 22px;
      opacity: 0.6;
    }
    @media(max-width: 600px) {
      display: block;
    }
  }

  .fullscreen {
    height: 100%;
    width: 110%;
  }



  .hljs.vim {
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }

    .comment,
    .quote {
      color: #5c6370;
      font-style: italic;
    }

    .doctag,
    .formula,
    .keyword {
      color: #c678dd;
    }

    .deletion,
    .name,
    .section,
    .selector-tag,
    .subst {
      color: #e06c75;
    }

    .literal {
      color: #56b6c2;
    }

    .addition,
    .attribute,
    .meta-string,
    .regexp,
    .string {
      color: #98c379;
    }

    .built_in,
    .class .title {
      color: #e6c07b;
    }

    .attr,
    .number,
    .selector-attr,
    .selector-class,
    .selector-pseudo,
    .template-variable,
    .type,
    .variable {
      color: #d19a66;
    }

    .bullet,
    .link,
    .meta,
    .selector-id,
    .symbol,
    .title {
      color: #61aeee;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    .link {
      text-decoration: underline;
    }

    &::before {
      margin-bottom: 0;
      width: 110%;
      height: auto;
      content: "Vim";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .hljs.ini,
  .language-ini {
    &::before {
      margin-bottom: 0;
      width: 110%;
      height: auto;
      content: "ini";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .handlebars,
  .hljs.html,
  .language-html,
  .language-xml,
  .language-css,
  .language-endpoint,
  .language-handlebars,
  .language-jinja  {
    background: linear-gradient(#3b3851,#24202f)!important;
    color: #d0e1f6;

    .tag {
      color: #98bfd4;
    }

    .meta {
      color: #b9d9ff;
    }

    .attr {
      color: #7ab5cf;
    }

    .string {
      color: #d2c69e;
      font-family: 'AFParseGroteskMono-Light';
    }

    .name {
      color: #96a7ff;
    }
    background: #272738 ;

    &::before {
      margin-bottom: 0;
      width: 110%;
      height: auto;
      color: white;
      content: "HTML";
      display: block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
    }
  }

  .language-xml {
    &::before {
      content: "XML" !important;
    }
  }

  .language-css {
    &::before {
      content: "CSS" !important;
    }
  }

  .language-endpoint{
    display: block;
    margin: 0;
    padding: 0 25px 20px;
    overflow-x: hidden;
    background: #262633;
    color: #d3dce0;
    font-family: dm;
    font-weight: 200;
    line-height: 1.7;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    &::before {
      content: "Endpoint" !important;
      -webkit-font-smoothing: antialiased;
      display: block;
      position: relative;
      width: 104%;
      height: auto;
      margin-bottom: 0;
      margin-left: -6%;
      padding: 8px 40px;
      font-family: TTNorms-Medium;
      font-size: 1.3em;
      font-style: normal;
      font-variant: normal;
      font-weight: 600;
      text-rendering: auto;
      text-shadow: -2px 2px 1px rgba(0,9,46,.6)!important;
    }
  }


}

.hljs.bash,
.hljs.ini,
.hljs.vim,
.hljs.yaml,
.hljs.css,
.hljs.bash,
.language-ini,
.language-vim,
.language-yaml,
.language-toml,
.language-xml,
.language-css {
  display: block;
  overflow-x: auto;
  background: #2E3440 !important;

  .hljs,
  .subst {
    color: #D8DEE9;
  }

  .selector-tag {
    color: #81A1C1;
  }

  .selector-id {
    color: #8FBCBB;
    font-weight: bold;
  }

  .selector-class {
    color: #8FBCBB;
  }

  .selector-attr {
    color: #8FBCBB;
  }

  .selector-pseudo {
    color: #88C0D0;
  }

  .addition {
    background-color: rgba(163,190,140,0.5);
  }

  .deletion {
    background-color: rgba(191,97,106,0.5);
  }

  .built_in,
  .type {
    color: #8FBCBB;
  }

  .class {
    color: #8FBCBB;
  }

  .function {
    color: #88C0D0;
  }

  .function > .title {
    color: #88C0D0;
  }

  .keyword,
  .literal,
  .symbol {
    color: #81A1C1;
  }

  .number {
    color: #B48EAD;
  }

  .regexp {
    color: #EBCB8B;
  }

  .string {
    color: #A3BE8C;
    font-family: 'AFParseGroteskMono-Light';
  }

  .title {
    color: #8FBCBB;
  }

  .params {
    color: #D8DEE9;
  }

  .bullet {
    color: #81A1C1;
  }

  .code {
    color: #8FBCBB;
  }

  .emphasis {
    font-style: italic;
  }

  .formula {
    color: #8FBCBB;
  }

  .strong {
    font-weight: bold;
  }

  .link:hover {
    text-decoration: underline;
  }

  .quote {
    color: #4C566A;
  }

  .comment {
    color: #4C566A;
  }

  .doctag {
    color: #8FBCBB;
  }

  .meta,
  .meta-keyword {
    color: #5E81AC;
  }

  .meta-string {
    color: #A3BE8C;
    font-family: 'AFParseGroteskMono-Light';
  }

  .attr {
    color: #8FBCBB;
  }

  .attribute {
    color: #D8DEE9;
  }

  .builtin-name {
    color: #81A1C1;
  }

  .name {
    color: #81A1C1;
  }

  .section {
    color: #88C0D0;
  }

  .tag {
    color: #81A1C1;
  }

  .variable {
    color: #D8DEE9;
  }

  .template-variable {
    color: #D8DEE9;
  }

  .template-tag {
    color: #5E81AC;
  }
}

.bash,
.language-bash {
  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    /*content: "Bash" !important;*/
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.output,
.language-output {
  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "Output" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.css,
.language-css {
  .built_in {
    color: #88C0D0;
  }

  .keyword {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "CSS" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.groovy,
.language-groovy {
  .meta:not(:first-child) {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "Groovy" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.nginx,
.language-nginx {
  .attribute {
    color: #88C0D0;
  }

  .section {
    color: #5E81AC;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "NGINX" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}

.vim,
.language-vim {
  .built_in {
    color: #88C0D0;
    font-style: italic;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "Vim" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}



.yaml,
.language-yaml {
  .meta {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "Yaml" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}


.toml,
.language-toml {
  .meta {
    color: #D08770;
  }

  &::before {
    margin-bottom: 11px;
    margin-left: -40px;
    width: 110%;
    height: auto;
    content: "TOML" !important;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 700;
  }
}
