.post-content {
  .nextprev-container {
    position: absolute;
    bottom: -30px;
    left: -61px;
    background: white;
    width: auto;
    @media(max-width:800px) {
      bottom: -30px;
      left: -37px;
      width: 111%;
    }
    @media(max-width: 600px) {
      left: -19px;
      background: white;
      width: auto;
      max-width: 136%;
      min-width: 108%;
    }

    .nextprev {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .prev-article {
        border-right: 1px solid #ecf0f9;
        border-top: 1px solid #ecf0f9;
        visibility: hidden;
        padding: 30px 0 30px 1% !important;
        @media(max-width: 600px) {
          padding: 20px 0 20px 1% !important;
        }

        .info {
          margin-left: 30px;
          justify-content: flex-start;
        }
      }

      .next-article {
        border-left: 1px solid #ecf0f9;
        visibility: hidden;
        border-top: 1px solid #ecf0f9;
        padding: 30px 1% 30px 0 !important;
        @media(max-width: 600px) {
          padding: 20px 1% 20px 0 !important;
        }

        .info {
          margin-right: 30px;
          justify-content: flex-end;

          * {
            text-align: right;
          }
        }
      }

      .seriespagination {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 30px 0;
        min-width: 49%;
        flex-grow: 1;

        * {
          transition: all 0.3s ease-out;
        }

        &:hover {
          background: @theme-color;

          * {
            color: white !important;
            fill: white !important;
            cursor: pointer;
          }
        }

        svg {
          fill: @theme-color;
          color: #0db0e2;
          height: 28px;
          width: 28px;
          overflow: visible;

          * {
            color: #0db0e2;
            fill: #0db0e2;
          }
        }

        .info {
          width: -webkit-fill-available;
          width: -moz-fill-available;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 387px;

          * {
            width: 100%;
            margin: 0;
          }
        }

        h6 {
          line-height: 1;
          font-family: 'TTNorms-Regular';
          font-size: 1em;
          margin: 0 0 5px !important;
          color: @theme-color;
          max-width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @media(max-width: 600px) {
            white-space: wrap;
            text-overflow: normal;
            line-height: 1.25;
            font-size: 1.1em;
            font-family: 'TTNorms-Medium';
            text-overflow: unset;
            white-space: normal;
            font-weight: 100;
          }
        }

        p {
          font-size: 0.8em;
          line-height: 1.1;
          max-width: 90%;
          @media(max-width: 600px) {
            line-height: 1.1 !important;
            display: none;
          }
        }
      }
    }
  }
}
