.post-content {
  .nextprev-container {
    position: absolute;
    bottom: -30px;
    left: -61px;
    background: white;
    width: auto;

    .nextprev {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 30px;
      border-top: 1px solid #ecf0f9;

      .prev-article {
        border-right: 1px solid #ecf0f9;
        visibility: hidden;

        .info {
          margin-left: 30px;
          justify-content: flex-start;
        }
      }

      .next-article {
        border-left: 1px solid #ecf0f9;
        visibility: hidden;

        .info {
          margin-right: 30px;
          justify-content: flex-end;

          * {
            text-align: right;
          }
        }
      }

      .seriespagination {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 30px 1.7%;
        max-width: 44%;
        flex-grow: 1;

        * {
          transition: all .3s ease-out;
        }

        &:hover {
          background: @theme-color;
          * {
            color: white !important;
            fill: white !important;
            cursor: pointer;
          }
        }

        svg {
          fill: @theme-color;
          color: #0db0e2;
          height: 28px;
          width: 28px;
          overflow: visible;

          * {
            color: #0db0e2;
            fill: #0db0e2;
          }
        }

        .info {
          width: -webkit-fill-available;
          width: -moz-fill-available;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 80%;

          * {
            width: 100%;
            margin: 0;
          }
        }

        h6 {
          line-height: 1;
          font-family: 'TTNorms-Regular';
          font-size: 1em;
          margin: 0 0 5px !important;
          color: @theme-color;
          max-width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-size: 0.8em;
          line-height: 1.1;
          max-width: 90%;
        }
      }
    }
  }
}
