.post-template {
  .nextprev-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    display: none;
    margin: auto;
    border: 1px solid #ecf0f9;

    .nextprev {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 830px;
      margin: 20px auto 0;
      background: white;


      .prev-article {
        border-right: 1px solid #ecf0f9;
        border-top: 1px solid #ecf0f9;
        visibility: hidden;
        padding: 30px 0 30px 1% !important;
        @media(max-width: 600px) {
          padding: 20px 0 20px 1% !important;
        }

        .info {
          margin-left: 30px;
          justify-content: flex-start;

          @media(max-width: 600px) {
            margin-left: 20px;
          }
        }
      }

      .next-article {
        border-left: 1px solid #ecf0f9;
        visibility: hidden;
        border-top: 1px solid #ecf0f9;
        padding: 30px 1% 30px 0 !important;
        @media(max-width: 600px) {
          padding: 20px 1% 20px 0 !important;
        }

        .info {
          margin-right: 30px;
          justify-content: flex-end;

          @media(max-width: 600px) {
            margin-right: 20px;
          }

          * {
            text-align: right;
          }
        }
      }

      .seriespagination {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 30px 0;
        min-width: 49%;
        flex-grow: 1;

        * {
          transition: all 0.3s ease-out;
        }

        &:hover {
          background: @theme-color;

          * {
            color: white !important;
            fill: white !important;
            cursor: pointer;
          }
        }

        svg {
          fill: @theme-color;
          color: #0db0e2;
          height: 28px;
          width: 28px;
          overflow: visible;

          @media(max-width: 600px) {
            height: 20px;
            width: 20px;
          }

          * {
            color: #0db0e2;
            fill: #0db0e2;
          }
        }

        .info {
          width: -webkit-fill-available;
          width: -moz-fill-available;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 80%;

          @media(max-width: 600px) {
            max-width: 68%;
          }

          * {
            width: 100%;
            margin: 0;
          }
        }

        h6 {
          line-height: 1;
          font-family: 'TTNormsPro-Regular';
          font-size: 1em;
          margin: 0 0 5px !important;
          color: @theme-color;
          max-width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @media(max-width: 600px) {
            white-space: wrap;
            text-overflow: normal;
            line-height: 1.15;
            font-size: 1em;
            font-family: 'TTNormsPro-Medium';
            text-overflow: unset;
            white-space: normal;
            font-weight: 100;
          }
        }

        p {
          font-size: 0.8em;
          line-height: 1.1;
          max-width: 90%;
          @media(max-width: 600px) {
            line-height: 1.1 !important;
            display: none;
          }
        }
      }
    }
  }
}
