@import "../global/variables.less";
@import "../global/mixin.less";
/*====================================================
	post footer
====================================================*/
.post-footer {
	padding: 0;
	display: block;
	justify-content: space-between;
	align-items: center;
	height: fit-content;
	margin-top: 50px;
	width: 100%;
	max-width: 100%;
	@media(max-width: @tablet-breakpoint) {
		width: 100% !important;
		display: block;
		height: fit-content;
	}

	.tag-list {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin: 30px 0;

		a {
			background: #e7eefa;
			color: #5b6a80 !important;
			font-size: 0.8em;
			margin-right: 15px;
			line-height: 1;
			padding: 8px 10px;
			font-family: @body-font;
			border-radius: 2px;
			font-weight: 300;
			transition: all 0.3s ease-out;
			@media(max-width: @tablet-breakpoint) {
				margin-bottom: 10px;
			}

			&:hover {
				cursor: pointer;
				background: @hover-color;
				box-shadow: -1px 1px 0 #239084;
				color: white !important;

				* {
					color: white !important;
				}
			}
		}
		@media(max-width: @tablet-breakpoint) {
			width: 100%;
		}
	}

	.share {
		margin: 15px 0 10px !important;
		@media(max-width: 900px) {
			margin: 15px 0 40px !important;
		}
		@media(max-width: @mobile-breakpoint) {
			margin: 15px 0 0 !important;
		}

		.share-icons {
			display: flex;
			justify-content: space-between;
			margin: 0 !important;
			padding: 0;
			width: 100%;
			height: fit-content;
			@media(max-width:800px) {
				margin: auto;
				width: 100%;
			}

			.btn {
				list-style: none;
				display: block !important;
				border-radius: 2px;
				background: #ffffff;
				color: #dbdbdb;
				transition: 0.2s all ease-out;
				border: 1px solid #dbdbdb;
				padding: 0;
				margin: auto 0;
				min-width: 23%;
				@media(max-width: @tablet-breakpoint) {
					min-width: none !important;
					border: 1px solid #eaeaea;
					height: 30px;
				}
				@media(max-width: @mobile-breakpoint) {
					border: none;
				}

				&:before {
					display: none;
				}

				a {
					text-align: center;
					display: block;
					padding: 7px 0 7px 0 !important;
					width: -webkit-fill-available;
					width: -moz-fill-available;
				}

				&.facebook {
					&:hover {
						background-color: lighten(@facebook-color, 15%);
						box-shadow: lighten(@facebook-color, 35%) !important;
						cursor: pointer;
					}
				}

				&.twitter {
					&:hover {
						background-color: lighten(@twitter-color, 5%);
						box-shadow: lighten(@twitter-color, 35%);
						cursor: pointer;
					}
				}

				&.linkedin {
					&:hover {
						background-color: lighten(@linkedin-color, 5%);
						box-shadow: lighten(@linkedin-color, 35%);
						cursor: pointer;
					}
				}

				&.devto {
					&:hover {
						background-color: black;
						box-shadow: lighten(@linkedin-color, 35%);
						cursor: pointer;
					}
				}

				&.ycombinator {
					&:hover {
						background-color: lighten(@rss-color, 15%);
						box-shadow: lighten(@rss-color, 35%);
						cursor: pointer;
					}
				}

				a {
					width: -webkit-fill-available;
					margin: 0;
					padding: 0;
					display: block;
					@media(max-width:800px) {
						padding: 0 !important;
						height: fit-content;
					}
				}

				&:hover {
					border: none;

					i {
						color: white;
					}
				}

				i {
					margin: auto;
					color: #a3a7b2;
					font-size: 19px;
					display: block;
					width: fit-content;
					@media(max-width: @tablet-breakpoint) {
						font-size: 27px;
					}
				}
			}

			a {
				border: 0;
				padding: 5px 11px;
				color: #fff;
				line-height: 1.5em;
				display: inline-block;
				border-radius: 2px;
				.transition(all 0.2s ease);
				font-size: 0.9em;
				margin: 5px 10px 5px 0;

				&:hover {
					color: @white;
					text-decoration: none;

					i {
						-webkit-transform: scale(1.05);
						transform: scale(1.05);
					}

					span {
						color: #fff;
					}
				}
			}
		}
	}
}

section .widget.newsletter {
	display: none;
	padding: 20px;
	box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
	@media(max-width: @mobile-breakpoint) {
		display: block;
		background: white;
		width: -webkit-fill-available;
		width: -moz-fill-available;
		margin: 5px 0;

		h4 {
			margin: 0;
			font-family: 'ProductSans-Regular', sans-serif;
			font-weight: 100;
		}

		.news-description {
			margin: 5px 0 15px;
			line-height: 1.5;
			font-size: 0.8em !important;
			font-family: @body-font;
		}

		.form-group {
			width: -webkit-fill-available;
			width: -moz-fill-available;

			input {
				width: -webkit-fill-available;
				width: -moz-fill-available;
			}
		}

		.subscribe-input-class {
			padding: 15px 5%;
			width: 90%;
			font-size: 14px;
			border: 1px solid #ebebeb;
			margin-bottom: 10px;
		}

		.form-group,
		.input-group {
			margin-bottom: 0;
			display: block;

			.email {
				width: 100%;
			}

			button {
				width: -webkit-fill-available !important;
				width: -moz-available !important;
				background: @button-color;
				box-shadow: -1px 1px 0 #2b84a7, -1px 0 0 #2b84a7;
				padding: 13px 20px;
				font-size: 14px;
				color: white;
				border: 0;
				text-transform: Uppercase;
				outline: none;
				transition: all 0.3s ease-in-out;
				margin-top: 3px;

				&:hover {
					background-color: @hover-color;
					cursor: pointer;
					box-shadow: -1px 1px 0 darken(@hover-color, 15%), -1px 0 0 darken(@hover-color, 15%);
				}

				span {
					font-size: 14px;
					text-transform: capitalize;
				}
			}
		}

		p {
			margin-bottom: 10px;
			font-size: 16px;
			font-family: 'soleil',sans-serif;
		}
	}

	input[type="text"],
	input[type="email"] {
		border: 1px solid #d5dbe6 !important;
		width: -webkit-fill-available;
		width: -moz-fill-available;
		padding: 13px;
		border-radius: 3px;
		background: #fff;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
		border: 1px solid #d5dbe6;
		transition: all 0.3s ease-out;
		margin-bottom: 10px;

		&::placeholder {
			opacity: 1;
			color: #828294;
		}

		&:hover {
			background: rgba(64, 206, 199, 0.16) !important;
			border-color: #82d3d0 !important;
			cursor: text !important;

			&::placeholder {
				color: #72859d !important;
			}
		}

		&:focus {
			background: white !important;
		}
	}
}

.after-post {
	max-width: 830px !important;
	margin-top: 20px;
	@media(max-width: 900px) {
		width: 93%;
		max-width: unset;
	}

	.author-card-small {
		border-left: unset !important;
		border-bottom: unset !important;

		@media(max-width: @mobile-breakpoint) {
			min-height: 360px;
		}

		.meta-info {
			margin-bottom: 0;
		}

		.details {
			padding-bottom: 0;
		}

		.bio {
			font-size: 0.8em !important;
		}
	}
}
