

  .post-meta {
    margin: 5px 0 20px;
    color: lighten(@text-color, 10%);
    font-size: 12px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    @media(max-width: @mobile-breakpoint) {
      padding: 0;
      max-width: none;
      width: auto;
      margin: 0 0 20px;
      justify-content: space-between;
      order: 2;
      justify-content: left;
    }

    i {
      color: lighten(@text-color, 10%);
    }

    span {
      font-family: @body-font;
      font-weight: 500;
      margin: 0;
    }

    .date {
      @media(max-width: @mobile-breakpoint) {
        display: none;
      }
    }

    .tags {
      padding: 5px 10px;
      border-radius: 3px;
      color: white;
      font-size: .95em;

      &.codesnippetcorner {
        i {
          @media(max-width: @mobile-breakpoint) {
            display: none;
          }
        }
      }
    }
  }

  .author {

    span {
      text-transform: capitalize;
      color: @text-color;
    }

    a {
      * {
        &:hover {
          color: @hover-color;
        }
      }
    }
  }

  .meta-item {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    line-height: 1;
    @media(max-width: @mobile-breakpoint) {
      margin: 0 20px 0 0 !important;
    }

    * {
      font-size: .9em;
      padding: 0;
      @media(max-width: @tablet-breakpoint) {
        font-size: 0.9em;
      }
    }

    a:hover {
      * {
        color: @hover-color;
      }
    }

    span {
      font-family: @body-font;
    }

    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
      @media(max-width: @mobile-breakpoint) {
        display: flex;
      }
    }

    i {
      margin-right: 8px;
    }

    &.readtime {
      @media(max-width: @mobile-breakpoint) {
        display: none;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: @hover-color;

        & > span {
          color: @hover-color !important;
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }
