@import "../global/variables.less";
@import "../global/mixin.less";
@import "lightbox.less";

.post-template {
	/*====================================================
		main post area
	====================================================*/
	section {
		width: fit-content;
		max-width: 100%;
		@media(max-width: 800px) {
			width: 100% !important;
		}
	}

	.main-content {
		width: 100% !important;
	}

	.post-content {
		margin: 10px 60px 30px;
		overflow-x: visible;
		clear: both;
		@media(max-width: 800px) {
			margin: 10px 40px 30px;
		}
		@media(max-width: 600px) {
			margin: 5px 25px 30px;
		}

		a {
			color: @theme-color;
			font-family: 'AvenirNextLTPro-Medium';
		}

		p > a {
			letter-spacing: 0.5px;
			@media(max-width: 600px) {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 90%;
				display: inline;
			}
		}

		img {
			width: auto;
			max-height: 650px;
			border: 1px solid #eaeaea;
			margin: 0 auto;
			display: block;
			max-width: 100%;

			&:hover {
				cursor: zoom-in;
			}
		}
	}

	.container {
		padding: 0;
		max-width: 1000px !important;
		@media(max-width: 800px) {
			margin: 0 0 20px 0 !important;
			width: 100% !important;
		}

		article {
			margin: 0 auto;
			width: 100%;
			box-shadow: @shadow-color;
			@media(max-width: 800px) {
				margin: 0;
				width: auto;
			}
			@media(max-width: 600px) {
				margin-bottom: 20px;
				max-width: 100%;
				overflow: hidden;
			}
		}

		.featured-media {
			line-height: 1;
			margin: 20px 60px 0;
			@media(max-width: 800px) {
				margin: 20px 40px 0;
			}
			@media (max-width: 600px) {
				margin: 20px 20px 0;
			}

			img {
				width: 100%;
				line-height: 1;
				box-shadow: 0 0 8px rgba(93, 97, 140, 0.42);
			}
		}
	}

	.post-title {
		text-align: left;
		width: -webkit-fill-available;
		margin: 35px 60px 0;
		line-height: 1.2;
		display: block;
		font-family: 'ProductSans-Bold', 'AvenirNextLTPro-Medium' !important;
		font-size: 2.2em;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 1.1;
		text-align: left;
		margin-bottom: 5px;
		color: @h1-color;
		@media(max-width: 800px) {
			margin: 30px 40px 10px;
			font-size: 2em;
		}
		@media(max-width: 600px) {
			font-size: 1.5em;
			max-width: auto;
			margin: 25px 25px 10px;
			width: -webkit-fill-available;
			letter-spacing: 0;
			font-weight: 600;
			text-align: center;
			font-family: 'ProductSans-Medium', 'AvenirNextLTPro-Medium' !important;
		}

		a {
			color: @h1-color;
			transition: all 0.2s ease-out;
			font-family: 'ProductSans-Bold', 'AvenirNextLTPro-Medium' !important;

			&:hover {
				color: @secondary-color;
			}
		}
	}

	.excerpt {
		font-weight: 400;
		font-size: 1.3em;
		margin: 0 60px 25px;
		line-height: 1.3;
		color: @h1-color;
		font-family: 'AvenirNextLTPro-Medium';
		@media(max-width: 800px) {
			margin: 10px 40px 0;
		}
		@media(max-width: 600px) {
			font-size: 1.1em;
			max-width: 95%;
			margin: 0 25px;
			text-align: center;
		}
	}

	h2 {
		margin: 40px 0 12px;
		color: #276890;
		line-height: 1.3;
		font-family: 'ProductSans-Regular';
		font-weight: 400!important;
		font-size: 1.7em;
		width: fit-content;
		width: 100%;
		border-bottom: 1px solid #d2e5f4;
		padding-bottom: 6px;
		@media(max-width: 800px) {
			font-size: 1.9em;
			padding-bottom: 9px;
		}
		@media(max-width: 600px) {
			font-size: 1.65em;
			margin-left: calc(~"-50vw + 50%");
			margin-right: calc(~"-50vw + 50%");
			width: auto;
			line-height: 1.3;
			text-align: center;
			font-weight: 500!important;
			border: none;
			padding: 0 12px 9px;
		}
	}

	h3 {
		font-size: 1.3em;
		line-height: 1.2;
		color: #365c8e;
		font-weight: 600;
		margin-top: 50px;
		color: @header-color;
		margin-bottom: 8px;
		font-family: 'AvenirNextLTPro-Medium';
		@media(max-width: 800px) {
			font-size: 1.3em;
		}
		@media(max-width: 600px) {
			text-align: left;
			line-height: 1.4;
		}
	}

	h4 {
		margin-bottom: 0;
	}

	li,
	p {
		text-align: left;
		font-size: 1em;
		line-height: 1.8;
		color: #393a40;
		-webkit-font-smoothing: auto;
		@media(max-width: 600px) {
			font-size: 0.95em !important;
		}
	}

	.main-header,
	.main-navigation,
	.sidebar {
		display: none;
	}

	p {
		margin: 0 0 25px;
		font-size: 1em;
		@media (max-width: 800px) {
			margin: 0 0 20px;
		}
		@media (max-width: 600px) {
			text-align: left;
			line-height: 1.65 !important;
			font-style: normal;
		}
	}
}

[data-simplebar] {
	@media (max-width: 600px) {
		margin-left: calc(~"-50vw + 50%") !important;
		margin-right: calc(~"-50vw + 50%") !important;
		width: 120%;
		overflow: visible;
	}
}

.container {
	margin: 0 auto;
	padding: 0;
}

.main-content {
	width: 100% !important;
	max-width: 900px;
	padding: 0 !important;

	.post-head {
		padding: 20px 0;
		margin: 0 60px;
		@media(max-width: 900px) {
			margin: 0 60px;
		}
		@media(max-width: 800px) {
			margin: 0 35px !important;
		}
		@media(max-width: 600px) {
			padding: 15px 0 !important;
			margin: 0 25px !important;
		}

		.post-meta {
			margin: 0;
			color: #40627b;
			font-size: 12px;
			display: flex;
			width: auto;
			align-items: center;
			justify-content: space-between;
			@media(max-width: 600px) {
				padding: 0;
				max-width: none;
				width: auto;
				margin: 0 2px;
				padding-top: 0;
				justify-content: space-between;
			}

			i {
				font-weight: 400;
			}

			span {
				font-family: 'AvenirNextLTPro-Regular',sans-serif;
				font-weight: 500;
			}

			.tags {
				height: 18px !important;
				padding: 8px 10px;
				@media(max-width: 600px) {
					height: 20px !important;
					padding: 6px 8px;
				}
				@media(max-width: 500px) {
					height: 24px;

					i {
						font-weight: 500;
						font-size: 1.3em!important;
					}
				}

				i {
					font-size: 1em !important;
				}

				span {
					font-size: 1em;
					@media(max-width: 600px) {
						font-size: 0.9em;
						font-family: 'AvenirNextLTPro-Medium', sans-serif;
					}
				}

				&.codesnippetcorner {
					i {
						@media(max-width: 600px) {
							display: none;
						}
					}
				}
			}
		}

		.author {
			.avi {
				width: 26px;
				height: 26px;
				display: inline-block;
				margin-right: 10px;
			}

			span {
				text-transform: capitalize;
				color: #467192;
			}
		}

		.meta-item {
			font-size: 1.2em;
			display: flex;
			align-items: center;
			text-transform: capitalize;
			line-height: 1;
			@media(max-width: 600px) {
				margin: 0 !important;
			}

			* {
				font-size: 1.1em;
				color: #40627b;
				padding: 0;
				@media(max-width: 600px) {
					font-size: 0.95em;
				}
			}

			a:hover {
				* {
					color: @hover-color;
				}
			}

			span {
				@media(max-width: 600px) {
					font-family: 'AvenirNextLTPro-Medium', sans-serif;
				}
			}

			&.desktop {
				display: flex;
				@media(max-width: 600px) {
					display: none;
				}
			}

			&.mobile {
				display: none;
				@media(max-width: 600px) {
					display: flex;
				}
			}

			i {
				margin-right: 10px;
			}

			&.readtime {
				@media(max-width: 600px) {
					display: none;
				}
			}

			a {
				text-decoration: none;

				&:hover {
					color: @hover-color;

					& > span {
						color: @hover-color !important;
					}
				}
			}

			&:last-child {
				margin: 0;
			}
		}
	}
}

.post {
	padding: 0;
	background: @white;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;
	order: 1;

	ol,
	ul {
		margin-left: 10px;
		padding-left: 0;
		margin-bottom: 30px;
		margin-top: 20px;
		@media(max-width:600px) {
			margin: 20px 15px 25px;
			padding-left: 0;
		}

		li {
			display: block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			margin: 20px 40px 20px 25px;
			padding-left: 0;
			line-height: 1.4;
			display: block;
			@media(max-width: 600px) {
				margin: 20px 0;
			}

			&::before {
				color: darken(@theme-color, 5%);
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				padding-left: 0;
				font-family: "Font Awesome 5 Pro";
				content: "\f111";
				font-size: 9px;
				margin-right: 9px;
				font-weight: 500;
				@media(max-width: 600px) {
					margin-left: 0;
				}
			}

			ul {
				margin-left: 0;
				margin-bottom: 0;

				li {
					border-left: 1px solid rgba(77, 177, 212, 0.3);
					padding: 0 20px 20px;
					margin-left: 10px;
					margin: 0 0 0 10px;

					&:last-of-type {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	ol {
		counter-reset: my-awesome-counter;

		li {
			counter-increment: my-awesome-counter;

			&::before {
				content: counter(my-awesome-counter) ". ";
				color: darken(@theme-color, 20%);
				font-weight: bold;
				display: inline-block;
				margin-right: 8px;
			}
		}
	}
	/*   Start of Protip box */
	.protip {
		background: rgba(255, 222, 196, 0.42);
	  padding: 53px 20px 16px;
		margin-bottom: 20px;
		font-size: 0.96em;
		line-height: 2;
		overflow: hidden;
		margin: 30px auto;
		border-radius: 5px;
		max-width: 95%;
		line-height: 1.7;
		position: relative;
		color: #4c3100;
		@media(max-width: 600px) {
			padding: 0 30px 20px;
			line-height: 1.6;
    	font-size: 0.9em;
			padding: 0 20px 20px;
		}

		a {
			color: #d88945;
			font-weight: 600;
		}

		&::before {
			margin-bottom: 11px;
			font-size: 14px;
			width: 100%;
			height: auto;
			background: #ffdec4;
			content: "Protip";
			display: block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			padding: 8px 20px;
			font-weight: 700;
			top: 0;
			left: 0;
		}

		li::before {
			color: #dc9e5f;
		}

		code,
		pre > code {
			border-radius: 0.3em;
			white-space: normal;
			background: #f1dbc6;
			padding: 2px 4px;
			color: #6f4e11;
		}
	}
	/*  End of Protip box  */
	/*  Start of Blockqoute  */
	blockquote {
		border-left: 4px solid #C9DEE2;
		background: #e9f3f7;
		color: #416e7d;
		padding: 20px;
		font-family: 'AvenirNextLTPro-Regular',sans-serif;
		font-style: none;
		font-size: 1em;
		line-height: 1.6;
		overflow: hidden;
		margin: 30px auto;
		max-width: 88%;
		border-radius: 5px;

		& > p {
			margin: 0 0 20px !important;
		}

		& > p:last-child {
			margin: 0 !important;
		}

		* {
			font-family: 'AvenirNextLTPro-Regular',sans-serif;
			font-weight: 500;
			line-height: 1.6;
			font-size: 0.96em;
			font-style: normal;
		}

		code {
			font-family: 'AFParseGroteskMono-Regular;',sans-serif;
			font-style: normal !important;
			font-size: 0.9em !important;
			background: rgba(205, 227, 244, 0.8) !important;
			color: #305a68;
		}

		a {
			font-weight: 600 !important;
		}
		@media(max-width: 600px) {
			margin: 20px auto;
		}
	}
	/*     End of Blockqoute    */
	/*     Start of Figcaption    */
	figcaption {
		width: -webkit-fill-available;
		width: -moz-available;
		margin: 0 auto;
		padding: 10px;
		background-color: rgba(33,69,138,.04);
		color: #5e6167;
		font-size: 0.8em;
		text-align: center;
		white-space: normal;
		line-height: 1.5;
		@media(max-width: 600px) {
			display: block;
			width: -webkit-fill-available !important;
			height: auto;
			font-size: 14px !important;
			margin-top: 5px;
			margin-right: calc(-50vw + 50%)!important;
			margin-left: calc(-58vw + 50%)!important;
			padding: 10px 25px !important;
			line-height: 1.4 !important;
		}
	}

	.post-head {
		line-height: 1;
		text-align: left;

		img {
			height: 14px;
			width: 14px;
		}

		span {
			margin: 0;
			white-space: nowrap;

			&:last-child {
				margin: 0;
			}
		}
	}
}
/*  End of Blockqoute */
.post-template {
	hr {
		opacity: 0.3;
		margin: 30px 0;
	}

	figure {
		width: fit-content;
		max-width: 100%;
		margin: 30px auto;
		overflow: visible;
		box-shadow: 1px 0 1px rgba(154, 154, 165, 0.27);
		border: 1px solid rgba(206, 206, 206, 0.42);

		&:hover {
			cursor: zoom-in;
		}

		img {
			width: 100%;
			@media(max-width: 600px) {
				margin-bottom: -5px !important;
			}

			&:hover {
				cursor: zoom-in;
			}
		}
		@media(max-width: 600px) {
			margin-left: calc(~"-50vw + 50%") !important;
			margin-right: calc(~"-50vw + 50%") !important;
			width: 125% !important;
			max-width: none;
			margin-top: 25px;
			margin-bottom: 30px;

			img {
				margin: 0;
				display: block;
				width: 100%;
				border: 1px solid #e2e2e2;
				border-left: 0;
				border-right: 0;
				@media(max-width: 600px) {
					margin-bottom: -5px !important;
				}
			}
		}
	}

	a {
		color: @theme-color;

		&:hover {
			color: @hover-color;
		}
	}

	.lightboxOverlay {
		position: fixed !important;
	}

	.lightbox {
		top: 30% !important;
		left: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		margin: auto;
		position: fixed;
	}

	.handscroller {
		&:hover {
			cursor: grab !important;
		}
	}
}
