.post-header {
  padding: 0 0 20px;
  margin: 0;
  box-shadow: unset !important;
  @media(max-width: @mobile-breakpoint) {
    padding: 0;
  }

  .post-meta {
    margin: 0;
    color: lighten(@text-color, 10%);
    font-size: 12px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    @media(max-width: @mobile-breakpoint) {
      padding: 0;
      max-width: none;
      width: auto;
      margin: 0 0 15px;
      justify-content: space-between;
    }

    i {
      color: lighten(@text-color, 10%);
    }

    span {
      font-family: @body-font;
      font-weight: 500;
      margin: 0;
    }

    .date {
      @media(max-width: @mobile-breakpoint) {
        display: none;
      }
    }

    .tags {
      height: 30px !important;
      padding: 0;
      border-radius: 2px;
      @media(max-width: @mobile-breakpoint) {
        height: 30px !important;
      }

      i {
        font-size: 1em !important;
        @media(max-width: 500px) {
          font-weight: 500;
          font-size: 1.3em !important;
        }
      }

      span {
        font-size: 0.9em;
        font-family: @body-font-bold;
        @media(max-width: @tablet-breakpoint) {
          font-size: 0.85em;
        }
      }

      &.codesnippetcorner {
        i {
          @media(max-width: @mobile-breakpoint) {
            display: none;
          }
        }
      }
    }
  }

  .author {
    .avi {
      width: 22px;
      height: 22px;
      display: inline-block;
      margin-right: 10px;
      @media(max-width: @mobile-breakpoint) {
        display: none;
      }
    }

    span {
      text-transform: capitalize;
      color: @text-color;
    }

    a {
      * {
        &:hover {
          color: @hover-color;
        }
      }
    }
  }

  .meta-item {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    line-height: 1;
    @media(max-width: @mobile-breakpoint) {
      margin: 0 !important;
    }

    * {
      font-size: .9em;
      padding: 0;
      @media(max-width: @tablet-breakpoint) {
        font-size: 0.9em;
      }
    }

    a:hover {
      * {
        color: @hover-color;
      }
    }

    span {
      font-family: @body-font;
    }

    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
      @media(max-width: @mobile-breakpoint) {
        display: flex;
      }
    }

    i {
      margin-right: 10px;
    }

    &.readtime {
      @media(max-width: @mobile-breakpoint) {
        display: none;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: @hover-color;

        & > span {
          color: @hover-color !important;
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}
