.recent-posts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    @media(max-width: 600px) {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .single-post {
      background: white;
      overflow: hidden;
      box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
      transition: all .3s ease-out;

      @media(max-width: @mobile-breakpoint) {
        display: flex;
      }

      * {
        transition: all .3s ease-out;
      }

        &:hover {
          cursor: pointer !important;
          background: @theme-color;

          * {
            color: white !important;
          }
        }

    .featured-image {
      width: 100%;
      height: 147px;
      background-size: cover !important;
      margin-bottom: 15px;
      @media(max-width: 600px) {
        width: 100px;
        height: 100px;
        min-width: 100px;
        background-size: cover !important;
        float: left;
        margin-right: 5px;
        margin-bottom: 0;
        border-right: 1px solid #d5d5d5;
      }
    }

    .related-post-info {
      padding: 0 15px 15px;
      @media(max-width: 600px) {
        float: left;
        padding: 15px;
      }

      .related-post-title {
        font-size: 1.1em;
        font-family: 'TTNormsPro-Medium', sans-serif;
        height: 68px;
        overflow: hidden;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: -webkit-fill-available;
        margin: 0;
        color: #55575d;
      }
    }
  }
}
