@import '../global/variables.less';

/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// Material Design shadows
//

.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
}
/* -- Material Design Table style -------------- */
// Variables
// ---------------------
@table-header-font-weight: 400;
@table-header-font-color: #757575;
@table-cell-padding: 10px;
@table-bg: #fff;
@table-bg-accent: #f5f5f5;
@table-bg-hover: rgba(0,0,0,.12);
@table-bg-active: @table-bg-hover;
@table-border-color: #e0e0e0;
// Mixins
// -----------------

.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
// Tables
//
// -----------------
// Baseline styles
.tableContainer {
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #e6edf0;
  margin: 30px 0;

  * {
    &:hover {
      cursor: ew-resize !important;
    }

    &:active {
      cursor: grabbing;
    }
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: @table-bg;
  border-spacing: 0;
  border: 0 solid rgba(255, 255, 255, 0);

  &:hover {
    cursor: ew-resize !important;
  }

  > tbody,
   > tfoot,
  > thead {
    > tr {
      .transition(all .3s ease);

      &:nth-child(odd) {
        background: #f6f8fb;
      }

      > td,
      > th {
        text-align: left;
        padding: @table-cell-padding;
        vertical-align: top;
        border-top: 0;
        .transition(all .3s ease);
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
        text-overflow: ellipsis;
        border-bottom: 0;


        @media(max-width: @mobile-breakpoint) {
          border: 0;
        }
      }

      th {
        font-family: 'AvenirNextLTPro-Medium', sans-serif;
      }

      td {
        font-size: 0.78em !important;
        font-weight: 300;
      }
    }
  }

  > thead > tr > th {
    font-weight: 400;
    color: #ffffff;
    background: #3c414d;
    vertical-align: bottom;
    font-size: 0.8em;
  }

  > colgroup + thead,
   > thead:first-child,
  > caption + thead {
    > tr:first-child {
      > td,
      > th {
        border-top: 0;
      }
    }
  }

  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }
  // Nesting
  table {
    background-color: @table-bg;

    td {
      font-size: 0.9em;
    }
  }
  // Remove border
  .no-border {
    border: 0;
  }
}
// Condensed table w/ half padding
.table-condensed {
  > tbody,
   > tfoot,
  > thead {
    > tr {
      > td,
      > th {
        padding: @table-cell-padding;
      }
    }
  }
}
// Bordered version
//
// Add horizontal borders between columns.

.table-bordered {
  border: 0;

  > tbody,
   > tfoot,
  > thead {
    > tr {
      > td,
      > th {
        border: 0;
      }
    }
  }

  > thead > tr {
    > td,
    > th {
      border-bottom-width: 0;
    }
  }
}
// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-child(odd) {
    > th,
    > td {
        background: #f6f8fb;
    }
  }
}
// Hover effect
//

.table-hover {
  > tbody > tr:hover {
    > th,
    > td {
      background-color: @table-bg-hover;
    }
  }
}
// Responsive tables (vertical)
//
// Wrap your tables in `.table-responsive-vertical` and we'll make them mobile friendly
// by vertical table-cell display. Only applies <768px. Everything above that will display normally.
// For correct display you must add 'data-title' to each 'td'

.tableContainer {
  border-spacing: 0;
  @media (max-width:600px) {
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;

    table {
      width: auto;
      border-collapse: collapse;
      border-spacing: 0;
      display: table;
      position: relative;
      overflow-x: scroll;

      tbody:hover {
        cursor: grab !important;
      }

      td:empty:before {
        content: '\00a0';
      }

      td,
      th {
        margin: 0;
        vertical-align: top;
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        font-size: 0.8em;
      }

      td {
        width: -webkit-fill-available;
        width: -moz-available;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: @body-font;
      }

      thead {
        position: absolute;
        left: 0;
        width: 120px;
        height: 100%;
        box-shadow: 1px 0 4px rgba(62, 69, 86, 0.7);
        z-index: 2;
        background: #3c414d;

        th {
          display: block;
          padding: 10px !important;
          font-family: @body-font;
          letter-spacing: 0.5px;
          text-align: left;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 0.8em;
          min-height: 50px;
          margin: 5px 0;
          width: 100% !important;
          margin-right: 0 !important;
          max-width: unset !important;

          * {
            font-size: 1em;
          }
        }

        tr {
          display: block;
          border-spacing: 0;
          padding: 0;
          height: 100%;
          background: #3c414d;

          &:hover {
            background-color: inherit;
            cursor: ew-resize !important;
          }
        }
      }

      tbody {
        margin-left: 120px;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        & > tr > th {
          border-bottom: 1px solid #e0e0e0;
          border-radius: 0;
          border-spacing: 0;
          border-collapse: collapse;
        }

        tr {
          width: 115px;
          vertical-align: top;
          display: flex;
          flex-direction: column;
          overflow-wrap: normal;
          line-break: strict;
          white-space: inherit;
          padding: 0 15px;
          border-bottom: none;

          td {
            display: block;
            min-height: 1.25em;
            padding: 10px 0 !important;
            border-spacing: 0;
            border-collapse: collapse;
            overflow: hidden;
            line-break: normal;
            white-space: nowrap;
            width: -webkit-fill-available;
            text-overflow: ellipsis;
            width: -moz-available;
            min-width: -webkit-fill-available;
            border-bottom: 1px solid #ced3db;
            margin: 5px 0;

            &:last-child {
              border-bottom: 0;
            }
          }
        }

        &:last-child::after {
          content: " ";
          display: table-row;
          max-width: 300px;
          min-width: 300px;
          margin-left: -300px;
        }
      }
    }
  }
}
