#seriesposts {
  margin-bottom: 20px;
  padding: 20px 20px 1px;
  background: #dbe7ec;

  h5 {
    border-bottom: 1px solid #345e77 !important;
    padding-bottom: 10px;
  }

  ol {
    list-style-type: upper-roman !important;

    li {
      margin-bottom: 10px;

    a {
      color: #518899;
    }
  }
  }
}
