#seriesposts {
  margin: 0 0 20px;
  padding: 0;
  display: none;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0ebee;
  margin-top: -10px;
  @media(max-width: @tablet-breakpoint) {
    margin: 0 0 30px;
    padding: 20px 10px 20px;
  }
  @media(max-width: @mobile-breakpoint) {
    margin: 0 0 20px;
    padding: 0 0 20px;
  }

  h5 {
    display: none;
    font-size: 1.1em;
    color: #687f99 !important;
    font-family: @body-font-bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    margin-top: 0;
    line-height: 1;
    height: fit-content;
    @media(max-width: @tablet-breakpoint) {
      margin: 0 auto 2px;
    }
  }

  ol {
    list-style-type: upper-roman !important;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 5px;
    @media(max-width: @mobile-breakpoint) {
      margin: 0;
      max-width: unset;
    }

    li {
      margin: 18px 0;
      opacity: 0.7;
      counter-increment: li -1;
      color: #687f99;
      font-size: 0.85em;
      padding-left: 0;
      line-height: 1;
      display: flex;
      justify-content: flex-start;

      a {
        font-family: 'AvenirNextLTPro-Medium', sans-serif;
      }

      * {
        transition: all 0.2s ease-out;
      }

      &:last-child {
        margin-bottom: 0;
      }
      @media(max-width: @mobile-breakpoint) {
        line-height: 1.4;
        margin: 12px 0;
        padding-left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        * {
          color: @hover-color;
        }
      }

      &::before {
        content: "Part " counter(li, upper-roman) "." !important;
        color: #687f99;
        font-family: 'AvenirNextLTPro-Medium', sans-serif !important;
        margin-right: 8px;
        font-size: 13px;
        @media(max-width: @mobile-breakpoint) {
          min-width: 50px;
          margin-right: 2px;
          font-weight: normal;
          font-size: 0.9em;
        }
      }

      a {
        color: #687f99;
        @media(max-width: @mobile-breakpoint) {
          font-family: 'AvenirNextLTPro-Medium', sans-serif;
          font-size: 0.9em;
        }
      }
    }
  }

  .currentPost {
    opacity: 1 !important;
    margin-left: 0;
    font-family: @body-font-bold !important;
    font-size: 0.95em !important;

    &::before {
      margin-left: 0;
      font-family: @body-font-bold !important;
    }
  }
}
