@table-border-color: rgba(0,0,0,.12);
@table-striped-color: rgba(242, 242, 242, 0.5);

table, th, td {
   border: none;
}

table {
  width:100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgba(77, 87, 109, 0.25);
  overflow: hidden;

  @media(max-width: 600px) {
    width:100%;
  }

  &.left {
    tbody{
      td {
        text-align: left;
        vertical-align: top;
      }
    }
  }

  thead {
  tr {
    border-bottom: 1px solid rgba(0,0,0,.12);
    background-color: #5d6b8a !important;
    color:white;
  }

    th {
      text-align: center;
      font-family: 'Gilroy-Regular';
      min-width: 30px;
      padding: 10px;
      font-size: .9em;

      &::before{
         font-family: 'Gilroy-SemiBold' !important;
      }
    }
  }


  &.striped {
    tr {
      border-bottom: none;
    }

  tbody {
    tr:nth-child(odd) {
        background-color: @table-striped-color;
      }

    tr > td {
        border-radius: 0;
      }
    }
  }

  &.highlight > tbody > tr {
    transition: background-color .25s ease;
    &:hover {
      background-color: @table-striped-color;
    }
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f5f8ff;
}



td, th{
  padding: 15px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  text-align: center;
  font-size:.8em;
  text-align: center;
  line-height: 1.2;
}

// Responsive Table
@media (max-width:600px) {

  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    margin-left: calc(~"-50vw + 50%") !important;
    margin-right: calc(~"-50vw + 50%") !important;
    overflow-x: scroll;

    &:hover{
      cursor: grab;
    }

    td:empty:before {
      content: '\00a0';
    }

    tr {
      padding: 0 !important;
    }

    th,
    td {
      margin: 0;
      vertical-align: top;
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      font-size: .8em;
    }

    td {
      width: -webkit-fill-available;
      width: -moz-available;
    }

    thead {
      z-index: 1;
      position: absolute;
      left: 0;
      width: 120px;
      height: 100%;
      border: 0;
      border-right: 1px solid @table-border-color;

      th {
        display: block;
        font-family: 'Gilroy-Regular' !important;
        text-align: center;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: 10px 5px !important;

        &::before {
          content: "\00a0";
        }
      }

      tr {
        display: block;
        border-spacing: 0;
        padding: 0;
        height: 100%;
      }
    }
    tbody {
      margin-left: 120px;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch;


      & > tr> th {
        border-bottom: 1px solid #e0e0e0;
        border-radius: 0;
        border-spacing: 0;
        border-collapse: collapse;
      }

      tr {
        /*display: inline-block;*/
        vertical-align: top;
        display: flex;
        flex-direction: column;
        overflow-wrap: normal;
        line-break: strict;
        white-space: inherit;
        padding: 0 15px;
        border-bottom: none;
        padding: 0;

        &:last-child {
          max-width: 300px;
          min-width: 300px;
        }
      }
    }

    td {
      display: block;
      min-height: 1.25em;
      margin: 0 10px!important;
      padding: 10px 0 !important;
      border-spacing: 0;
      border-collapse: collapse;
      overflow-wrap: normal;
      line-break: normal;
      white-space: normal;
      width: -webkit-fill-available;
      width: -moz-available;
      max-width: 200px;
    }
  }
}

.dataframe thead th {
  text-align: center !important;
  font-family: 'Gilroy-SemiBold' !important;
}

.dataframe tbody tr th:only-of-type {
    vertical-align: middle;
    text-align: center;
}

.tableContainer {
  box-shadow: 0px 0px 5px #d1d4e8;
  margin: 20px auto 40px;
  position: relative;
  @media (max-width: 600px){
    margin-left: calc(~"-50vw + 50%");
    margin-right: calc(~"-50vw + 50%");
    width: auto!important;


    &:hover{
      cursor: grab;
    }
  }
}

.handscroller {
  &:hover {
    cursor: grab !important;
  }
  * {
    &:hover {
      cursor: grab !important;
    }
  }
}

.tableFade {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60px;
  top: 0;
  display: block;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0),white);
}
