<!-- Start Kanban -->
<div>
  <div id="kanban">
    <div class="column swiper-slide b">
      <div id="Backlog">
        <div class="column-head">
          <h4 class="column-title">Backlog</h4>
          <span class="count"></span>
        </div>
        <div class="cards"></div>
      </div>
    </div>
    <div class="column swiper-slide t">
      <div id="ToDo">
        <div class="column-head">
          <h4 class="column-title">To Do</h4>
          <span class="count"></span>
        </div>
        <div class="cards"></div>
      </div>
    </div>
    <div class="column swiper-slide p">
      <div id="InProgress">
        <div class="column-head">
          <h4 class="column-title">In Progress</h4>
          <span class="count"></span>
        </div>
        <div class="cards"></div>
      </div>
    </div>
    <div class="column swiper-slide d">
      <div id="Done">
        <div class="column-head">
          <h4 class="column-title">Done</h4>
          <span class="count"></span>
        </div>
        <div class="cards"></div>
      </div>
    </div>
  </div>
</div>
<!-- End Kanban -->
