<!-- Start Repos -->
<div class="repos">
</div>
<script>
  function get_repos() {
    for (var i = 0; i < docs.length; i++) {
      $('.repos').append('<a href="' + docs[i].url + '"> \n' +
        '<div class="link-preview"> \n' +
        '<i class="fab fa-github"></i> \n' +
        //'<div class="repo-image" style="background:url(https://octodex.github.com' + cat + ')"></div> \n' +
        '<div class="info"> \n' +
        '<h4>' + docs[i].name + '</h4> \n' +
        '<p>' + docs[i].description + '</p> \n' +
        '</div></div></a>');
    }
  }
</script>
<!-- End Repos -->
