@import "variables.less";
@import "mixin.less";
/*====================================================
	footer
====================================================*/
.main-footer {
	background: #111c28 !important;
	background-size: cover;
	padding: 35px 8%;
	color: #fff;
	margin-top: 30px;
	/*box-shadow: inset 0 1px 6px 0 rgba(44,50,63,0.41);*/
	.footer-title {
		color: #fff;
		font-weight: 800;
		margin: 10px 0 15px !important;
		font-size: 1.3em;
		text-shadow: -1px 1px 1px #133e6d;
		font-family: 'ProductSans-Regular';
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 1px solid rgba(226, 255, 253, 0.21);
		padding-bottom: 10px;
		@media(max-width: 800px) {
			margin: 10px 0 10px !important;
		}
	}
	@media(max-width: 1000px) {
		padding: 30px 40px;
	}
	@media(max-width: 600px) {
		margin-top: 10px;
		display: block;
		padding: 30px 20px 25px;
	}

	.footer-container {
		max-width: 1000px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		@media(max-width: 800px) {
			flex-direction: column;
		}
	}


	.widget.links {
		h3 {
			color: #fff;
			font-weight: 800;
			margin: 10px 0 0 !important;
			font-size: 1.3em;
			text-shadow: -1px 1px 1px #133e6d;
			font-family: 'ProductSans-Regular';
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 2px;
			border-bottom: 1px solid rgba(226, 255, 253, 0.21);
			padding-bottom: 10px;
			@media(max-width: 800px) {
				margin: 10px 0 10px !important;
			}
		}

		ul {
			padding-left: 0;
			border: none;

			li {
				display: block;
				width: 100%;
				text-align: left;
				transition: all 0.2s ease-out;
				border: none !important;
				padding: 8px 4px;

				i {
					margin: auto 8px !important;
					width: fit-content !important;
					font-size: 16px !important;
				}

				&:hover {
					background: #0db0e2;
				}

				a {
					color: white;
					font-family: 'TTNorms-Medium', sans-serif !important;
					border: none;
				}
			}
		}
	}
}

.widget {
	padding: 10px 0;
	width: 28%;
	margin: 0;
	@media(max-width: 800px) {
		padding: 0 20px;
		width: -webkit-fill-available;
		margin: 10px 10px 60px;
	}
	@media(max-width: 600px) {
		width: auto !important;
		padding: 0 20px !important;
	}
	@media(max-width: 800px) {
		width: 100%;
		margin: 10px 0 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
/*====================================================
			tag cloud
		====================================================*/
.widget.tags {
	min-width: 37%;
	width: 37% !important;
	@media(max-width: 800px) {
		margin-bottom: 10px;
		max-width: none;
		min-width: -webkit-fill-available !important;
		min-width: -moz-available !important;
	}
	@media(max-width: 800px) {
		margin-bottom: 10px;
		max-width: none;
		width: -webkit-fill-available !important;
		width: -moz-available !important;
	}

	.tag-cloud {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		a {
			border: 0;
			color: #fff;
			margin: 0 6px 6px 0;
			padding: 3px 10px;
			display: inline-block;
			height: fit-content;
			width: fit-content;
			flex-grow: 1;
			text-align: center;
			font-family: 'TTNorms-Regular';
			transition: all 0.2s ease-out;
			font-size: 0.85em;
			background: rgba(205, 222, 230, 0.05);
			border: 1px solid rgba(255, 255, 255, 0.1);

			&:hover {
				cursor: pointer;
				background: @hover-color;
				color: white !important;
				box-shadow: 1px 1px 1px #239084;
				border: 1px solid darken(@hover-color, 20%);
			}
		}
	}
}
/*====================================================
			contributors
		====================================================*/
.widget.contributors {
	width: 25%;
	.footer-title {
		 margin: 10px 0 5px !important;
	}
	@media(max-width: 800px) {
		margin-bottom: 10px;
		max-width: none;
		min-width: -webkit-fill-available !important;
		min-width: -moz-available !important;
	}

	.contributor-container {
		@media(max-width: 600px) {
			margin: 20px auto;
		}

		.single-author {
			display: flex;
			align-items: center;
			padding: 12px 0;
			font-size: 18px;
			font-weight: 200;
			font-family: 'TTNorms-Medium', serif;
			transition: all 0.2s ease;
			border-bottom: 1px dashed rgba(255, 255, 255, 0.1) !important;
			line-height: 1;

			a {
				color: #fff;

				&:hover {
					cursor: pointer;
					color: @hover-color;
				}
			}

			&:last-child {
				border-bottom: none !important;
			}

			.avatar-link {
				margin-right: 15px !important;

				.avi {
					height: 40px;
					width: 40px;
					border-radius: 0;
					margin: 0;
					border-bottom: 1px solid #03050a;
					border-right: 1px solid #03050a;
				}
			}

			.single-author-name {
				font-size: 0.9em !important;
				font-family: 'TTNorms-Medium', sans-serif !important;
				color: #fff;
			}

			.role {
				color: hsla(0, 0%, 100%, 0.7);
				display: block;
				font-family: 'TTNorms-Regular';
				font-size: 0.8em;
				line-height: 1.2;
				margin-top: 6px;
			}
		}
	}
}
/*====================================================
		newsletter
	====================================================*/
#newsletter-footer {
	max-width: 27%;
	padding: 13px 0;
	font-size: 16px;
	color: #fff;
	border: 0;
	transition: all 0.3s ease-out;
	position: relative;
	@media(max-width: 800px) {
		width: -webkit-fill-available;
		max-width: none;
	}
	@media(max-width: 600px) {
		margin-top: 30px !important;
	}

	.news-description {
		color: white;
		margin: 15px 0;
		text-transform: none;
		font-size: 1em;
		font-family: 'TTNorms-Regular',sans-serif;
		font-size: 0.9em;
		line-height: 1.6;
		@media(max-width: 600px) {
			margin: 15px 0;
		}
	}

	.form-group {
		padding: 0;
		position: relative;
		overflow: hidden;

		.subscribe-email,
		.subscribe-input-class {
			width: -webkit-fill-available;
			border-radius: 0;
			font-weight: 100;
			border: 1px solid #d5dbe6;
			transition: all 0.3s all;
			width: 100%;
			margin-bottom: 10px !important;
			padding: 14px 15px;
			border: 0;
			background: #fff;
			color: #fff;
			font-size: 13px;
			font-weight: 200;
			letter-spacing: 1px;

			&::after {
				content: '\f0e0';
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				display: inline-block;
				font-style: normal;
				-webkit-font-feature-settings: normal;
				font-feature-settings: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				right: 17px;
				top: 11px;
				position: absolute;
				color: #9aa1bd;
				font-size: 1.1em;
			}

			&::placeholder {
				opacity: 0.7;
			}

			&:hover {
				background: rgba(64, 206, 199, 0.16);
				border-color: #82d3d0;

				&::placeholder {
					color: #72859d;
				}
			}

			&:focus {
				background: white;
			}
		}
	}

	.btn {
		width: -webkit-fill-available!important;
		width: -moz-available!important;
		padding: 13px 20px;
		border: 0;
		outline: 0;
		background: #33587d !important;
		box-shadow: 2px 2px 0 #111213;
		color: #fff;
		font-size: 16px;
		text-transform: Uppercase;
		transition: all 0.3s ease-out;
		margin-top: 3px;

		&:hover {
			background: @hover-color !important;
			box-shadow: 2px 2px 3px 0 #239084;
		}

		span {
			font-size: 14px;
		}
	}
}
