.page-container {
	max-width: 1050px;
	margin: auto;
	max-width: 95%;
	@media(max-width: 1200px) {
		width: 100%;
	}
	@media(max-width: @tablet-breakpoint) {
		max-width: none;
	}


	&.sidebar-layout {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 316px 1fr;
		@media(max-width: 950px) {
			grid-gap: 20px;
		}
		@media(max-width: @tablet-breakpoint) {
			width: 100%;
			display: block;
		}
	}
}

section > .container {
	max-width: 1200px;
	margin: auto;
	@media(max-width: 1200px) {
		width: 95%;
		max-width: none;
	}
	@media(max-width: @tablet-breakpoint) {
		width: 100%;
	}
}

.sidebar {
	width: 100%;
	@media (max-width:800px) {
		display: none;
	}
}
