.page-container {
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 3fr;
	@media(max-width: @tablet-breakpoint) {
		grid-template-columns: 1fr;
		width: 95%;
		max-width: none;
	}
}

.about-container {
@media(max-width: @tablet-breakpoint) {
	width: 100% !important;
	}
}

.projects-container {
	max-width: 1200px;
	margin: auto;
	@media(max-width: @tablet-breakpoint) {
		grid-template-columns: 1fr;
		width: 95%;
		max-width: none;
	}
}

.sidebar {
	width: 316px !important;
}

section > .container {
	max-width: 1200px;
	margin: auto;
	@media(max-width: 1200px) {
		width: 95%;
		max-width: none;
	}
	@media(max-width: @tablet-breakpoint) {
		width: 100%;
	}
}

.sidebar {
	width: 100%;
	@media (max-width:800px) {
		display: none;
	}
}