@import "variables.less";
@import "mixin.less";
/*====================================================
	header
====================================================*/

.banner {
  position: relative;
  background: linear-gradient(350deg, #00a5f8, #3756d4);
  height: 80px;

  .logo {
    height: 40px;
    width: 230px;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    width: fit-content;
    transition: all .3s ease-out;

    &:hover{
      cursor: pointer;
      opacity: .6;
    }

    @media(max-width: 600px){
      height: 35px;
    }

    img {
      height: 40px;

      @media(max-width: 600px){
        height: 35px;
      }
    }
  }
}


header {
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(143, 142, 179, 0.2) !important;

  .search {
    height: 100%;
    width: 280px;
    border: none;
    margin-left: 20px;

    @media(max-width: 600px) {
      visibility: hidden;
    }

    i {
      color:white;
      opacity: .7;
      margin-right: 5px;
    }

      input {
        transition: all .3s ease-out;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: none;

        &::placeholder{
          color:white;
          opacity: .6;
        }

        &:focus {
          opacity: 1;
          border: 0;
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        &:hover {
          cursor: text;
          opacity: .7;
          outline: none;
        }
      }

    #my-custom-input {
      height: 100%;
      width: 200px;
      background: none;
      border: none;
      color: white;
      padding-left: 20px;
      font-size: 1em;
      font-family: TTNorms-Regular;

    }
  }

  #my-custom-results {
    font-size: 1em;
    font-family: 'TTNorms-Medium',sans-serif!important;
    font-weight: 200;
    transition: 0.3s all;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #cfd3e0;
    border-radius: 2px;
    border-top: 0;
    width: 300px;
    z-index: 200;
    position: absolute;
    box-shadow: 0 0 50px #7a84b5;

    @media(max-width: 600px) {
          visibility: hidden;
    }

    * {
      transition: 0.3s all;
    }

    li {
      width: 90%;
      padding: 15px 5%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      background: #fff;

      &:nth-child(even) {
        background: #f5f8fb;
      }

      &:hover {
        background: lighten(@theme-color, 10%);
        color: white;
        border: 0;

        a {
          color: white;
        }
      }

      img {
        height: 55px;
        width: 133px;
        overflow: hidden;
        margin-right: 15px;
      }

      div {
        width: 100%;

        a {
          display: block;
          line-height: 1.4;
          font-size: 0.9em;
          -webkit-line-clamp: 2;
          font-weight: 600;
        }

        .tag {
          display: block;
          line-height: 1.5;

          span {
            font-size: 0.7em;
            font-weight: 100;
            line-height: 1.5;
            padding: 5px 10px;
            margin-top: 4px;
            display: block;
            width: fit-content;

            i {
              margin-right: 4px;
              font-size: 0.7em;
              display: none;
            }
          }
        }
      }
    }
  }
}


@media (max-width:1000px) {
  .main-navigation {
    text-align: left;
    padding: 0;

    .menu {
      li {
        display: block;

        a {
          color: white;
        }

        &:hover {
          color: #11004e;

          a {
            text-decoration: none;
            color: #11004e;
          }

          ul {
            visibility: visible;
            margin: 0;
            position: relative;
            top: 0;
            width: 100%;
          }
        }
      }
    }
  }

  header {
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(143, 142, 179, 0.2) !important;



    @media(max-width: 600px) {
      margin-bottom: 0;
    }
  }


  .navigation {
    background: white;
    height: 50px;
    text-align: center;
    position: relative;


    .menu {
      margin: auto;
      padding: 0;
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      height: -webkit-fill-available;
      height: -moz-fill-available;
      max-width: 400px;
      height: 50px;

      @media(max-width: 600px) {
        width: 300px;
        margin: 0 auto 20px !important;
        position: absolute;
        left: 0;
        right: 0;
      }

      li {
        position: relative;
        width: 50px;
        height: 25px;
      }

      a {
        font-family: 'ProductSans-Medium';
        font-size: .9em;
        text-transform: uppercase;
        transform: scale(1);
        color: #505f77;
        font-weight: 500;
        transition: all .15s ease-out;
        left:0;
        right:0;
        top:0;
        bottom:0;

        &:hover {
          color: @theme-color;
          cursor: pointer;
          transform: scale(1.07);
        }
      }
    }
  }

  #nav-search-results {
    width: 226px;
    position: absolute;
    font-size: 1em;
    font-family: 'TTNorms-Medium',sans-serif!important;
    font-weight: 200;
    transition: 0.3s all;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #cfd3e0;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    opacity: 0;
    z-index: 10;

    * {
      transition: 0.3s all;
    }

    li {
      width: -webkit-fill-available;
      padding: 10px 10px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      background: #fff;

      a {
        font-size: .8em;
        font-family: TTNorms-Medium;
      }

      &:nth-child(even) {
        background: #f5f8fb;
      }

      &:hover {
        background: lighten(@theme-color, 10%);
        color: white;
        border: 0;

        a {
          color: white;

        }
      }

      img {
        height: 55px;
        width: 133px;
        overflow: hidden;
        margin-right: 15px;
      }

      div {
        width: 100%;

        a {
          display: block;
          line-height: 1.4;
          font-size: 0.9em;
          -webkit-line-clamp: 2;
          font-weight: 600;
        }

        .tag {
          display: block;
          line-height: 1.5;

          span {
            font-size: 0.7em;
            font-weight: 100;
            line-height: 1.5;
            padding: 5px 10px;
            margin-top: 4px;
            display: block;
            width: fit-content;

            i {
              margin-right: 4px;
              font-size: 0.7em;
              display: none;
            }
          }
        }
      }
    }
  }

  @media(max-width: 800px) {
    padding: 0 6%;
    margin: 0;
    border: 0;

    .container {
      padding-right: 0;
      padding-left: 0;

      .row {
        margin: 0;

        .col-sm-12 {
          padding: 0;

          .navbar-collapse {
            .menu {
              padding: 0;
            }
          }
        }
      }
    }
  }

  @media(max-width: 600px) {
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
  }
}


.navigation {
  background: #fff;
  height: 45px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #efefef;

  @media(max-width: 600px) {
    height: 42px;
  }

  .menu {
    margin: auto;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    max-width: 500px;
    height: 45px;

    @media(max-width: 600px) {
      margin: 0 auto 20px !important;
      position: absolute;
      left: 0;
      right: 0;
      height: 40px;
    }

    li {
      position: relative;
      width: fit-content;
      display:block;
      height: 25px;
    }

    a {
      font-family: 'ProductSans-Regular';
      font-size: .85em;
      text-transform: uppercase;
      color: #515b65;
      font-weight: 500;
      transition: all .15s ease-out;
      width: fit-content;
      display:block;
      left:0;
      right:0;
      top:0;
      bottom:0;

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        display: none;

        @media(max-width: 600px) {
          display:block;
        }
      }

      &:nth-child(1n+4) {
        @media(max-width: 600px) {
          display:none;
        }
      }

      @media(max-width: 600px) {
         font-size: 0.85em;
      }

      &:hover {
        color: @theme-color;
        cursor: pointer;
        transform: scale(1.07);
      }
    }
  }
}

#nav-search-results {
  width: 226px;
  position: absolute;
  font-size: 1em;
  font-family: 'TTNorms-Medium',sans-serif!important;
  font-weight: 200;
  transition: 0.3s all;
  outline: none;
  -webkit-appearance: none;
  border: 1px solid #cfd3e0;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  opacity: 0;
  z-index: 10;

  * {
    transition: 0.3s all;
  }

  li {
    width: -webkit-fill-available;
    padding: 10px 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    background: #fff;

    a {
      font-size: .8em;
      font-family: TTNorms-Medium;
    }

    &:nth-child(even) {
      background: #f5f8fb;
    }

    &:hover {
      background: lighten(@theme-color, 10%);
      color: white;
      border: 0;

      a {
        color: white;

      }
    }

    img {
      height: 55px;
      width: 133px;
      overflow: hidden;
      margin-right: 15px;
    }

    div {
      width: 100%;

      a {
        display: block;
        line-height: 1.4;
        font-size: 0.9em;
        -webkit-line-clamp: 2;
        font-weight: 600;
      }

      .tag {
        display: block;
        line-height: 1.5;

        span {
          font-size: 0.7em;
          font-weight: 100;
          line-height: 1.5;
          padding: 5px 10px;
          margin-top: 4px;
          display: block;
          width: fit-content;

          i {
            margin-right: 4px;
            font-size: 0.7em;
            display: none;
          }
        }
      }
    }
  }
}

.main-header {
	text-align: center;
	position: relative;
	margin-bottom: 35px;

	@media(max-width: 800px) {
		 margin-bottom: 0;
		 background-size: cover !important;
	}

	.branding {
		width: 270px;
    display: block;
    position: absolute;
    top:0;
		bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 58px;
    z-index: 9;
    transition: all .3s ease-out;

		@media(max-width: 800px) {
			width: 228px;
	 		height: 49px;
			top: 60px;
			bottom: auto;
		}

		img {
			width: 100%;

			&:hover {
				cursor: pointer;
				opacity: .8;
			}
		}
	}
}

.main-navigation {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 100;
	@media(max-width: 800px) {
		height: auto;
		background: none;
	}

	.menu {
		/*idth: 300px;*/
		width: 280px;
		float: right;
		display: flex;
		justify-content: space-between;
		padding: 30px 40px 0 0;
		margin: 0 auto;
		list-style: none;
		align-items: center;
		position: relative;
		z-index: 10;
		height: -webkit-fill-available;
		height: -moz-fill-available;

		#account {
			width:35px;
			height:35px;
			background-color: rgba(255, 255,255, 0);
			padding: 7px;
			transition: all .1s ease-out;
			position: relative;
			border-right: 1px solid rgba(255, 255,255, 0);

			&:hover {
				cursor: pointer;
				opacity: .6;
			}

			.accountback {
				opacity: 0;
				background: #e5f3f8;;
				z-index: 0;
				position: absolute;
				top: 0;
				right: 0px;
				border-radius: 10px 10px 0 0;
			}

			img {
				position: relative;
				top:0;
				z-index: 10;
				display:none !important;
				opacity: 0 !important;
				width: 0px !important;
				overflow: hidden !important;
			}

			* {
				width: 100%;
				height: 100%;
			}
		}

		@media(max-width: 800px) {
			max-width: 234px;
			left: 0;
			right: 0;
			margin: 145px auto 0;
			float: none;
			padding: 0;
			line-height: 1;
		}

		li {
			list-style: none;
			display: inline-block;
			position: relative;
			text-shadow: 0px 0px 30px black;
			line-height: 1;

			a {
				color: #fff;
		    font-family: 'ProductSans-Regular',serif;
		    text-transform: uppercase;
				font-size: .85em;
				font-weight: 600;
		    letter-spacing: .5px;
		    transition: all .1s ease-out;

				&:hover{
					cursor:pointer;
				}
				@media(max-width: 800px) {
					padding: 0;
					font-weight: 500;
					font-size: 15px;
				}
			}

			&:hover > a {
				text-decoration: none;
				cursor: pointer;
				color: @theme-color;
			}

			&.nav-current {
				@media(max-width: 600px) {
					padding: 0;
				}

				a {
					color: #40cebb;
					font-size: 17px;
				}
			}

			ul {
				visibility: hidden;
				background: @white;
				text-align: left;
				margin-bottom: 20px;
				position: absolute;
				left: 0;
				top: 120%;
				width: 200px;
				z-index: 999;
				.opacity(0);
				.transition(all 0.1s ease);

				li {
					a {
						line-height: 2.5em;
						color: @text-color;
					}
				}



				&:hover > a {
					cursor: pointer;
				}
			}

			&:hover {
				ul {
					visibility: visible;
					.opacity(1);
					top: 100%;
				}
			}
		}
	}
}

.mobile-branding {
	display: none;
	width: 40px;
	height: 40px;
	float: left;
	margin: 15px;

	&:hover {
		cursor: pointer;
		opacity: .8;
	}

	img {
		 width: 100%;
	}
}
