@import "variables.less";
@import "mixin.less";
/*====================================================
	header nav
====================================================*/
nav {
	position: relative;
	background: #ffffff;
	height: 60px;
	border-bottom: 1px solid #dbe0e5;

	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 1000px;
		margin: auto;
		align-items: center;
		height: 100%;
		@media(max-width: 1100px) {
			max-width: 93%;
		}
		@media(max-width: 800px) {
			max-width: 86%;
		}

		.logo {
			height: 30px;
			transition: all 0.2s ease-out;
			margin-right: 40px;

			img {
				height: 30px;
				width: 30px;
			}

			&:hover {
				opacity: 0.7;
				cursor: pointer;
			}
		}

		.left-desktop-nav,
		.right-desktop-nav {
			@media(max-width: @mobile-breakpoint) {
				display: none !important;
			}
		}

		.left-desktop-nav,
		.right-desktop-nav,
		.right-mobile-nav {
			display: flex;
			justify-content: left;
			align-items: center;
			@media(max-width: @mobile-breakpoint) {
				justify-content: inherit;
			}

			.donate-btn {
				font-family: 'TTNormsPro-Regular', sans-serif !important;
				font-weight: 100;
				font-size: 1em;
				-webkit-appearance: none !important;
				color: #626573;
				border: 1px solid #d3d6e1;
				background: none;
				border-radius: 3px;
				padding: 7px 12px;
				line-height: 1;
				outline: none;
				transition: @transition;

				&:hover {
					background: @theme-color;
					border: 1px solid @theme-color;
					color: white;
				}
			}

			.dropdown {
				color: #626573;
				border: none;
				padding: 0;
				height: 60px;
				margin-right: 30px;
				outline: none;
				transition: @transition;
				display: flex;
				justify-content: center;
				@media(max-width: @tablet-breakpoint) {
					  margin-right: 20px;
				}

				&>a {
					display: block;
					height: fit-content;
					margin-top: 20px;


				}

				button {
					font-family: 'TTNormsPro-Regular', sans-serif !important;
					font-weight: 100;
					font-size: 1em;
					-webkit-appearance: none !important;
					border: none;
					color: #626573;
					border: none;
					outline: none;
					transition: @transition;
					background: none;

					&:hover {
						color: @theme-color;
					}
				}

				&.pages {
					@media(max-width: @mobile-breakpoint) {
						display: none;
					}
				}



				.dropdown-content {
					display: none;
					background: white;
					box-shadow: 0 3px 3px rgba(65, 67, 144, 0.15);
					z-index: 10;
					width: 200px;
					position: absolute;
					opacity: 0;
					padding: 5px;
					top: 57px;
					transition: all 0.2s ease-out;
					transition: @transition;

					a {
						display: block;
						font-size: 0.8em;
						padding: 10px;
						text-align: left;
						line-height: 1.5;
						color: #373940;
						transition: all 0.2s ease-out;
						font-family: 'TTNormsPro-Regular', sans-serif;
						font-weight: 100;
						transition: @transition;

						&:hover {
							background: @theme-color;
							color: white;
						}
					}
				}

				&:hover {
					.dropdown-content {
						display: block;
						opacity: 1;
						@media(max-width: 600px) {
							display: none;
						}
					}
				}
			}
		}
	}

	.right-mobile-nav,
	.left-mobile-nav {
		display: none !important;
		@media(max-width: @mobile-breakpoint) {
			display: flex !important;
			justify-content: right;
			align-items: center;
		}

		.dropdown {
			margin: 0 20px 0 0;

			&:last-of-type {
				margin-right: 0;
			}
		}


	}
}
