@import "variables.less";
@import "mixin.less";

.post-preview {
	order: 2;
	height: 100%;
	margin: 0;
	background: white;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
	@media(max-width: @mobile-breakpoint) {
		padding: 0;
	}

	&:last-child,
	&:last-of-type {
		border-bottom: none;
	}

	.post-preview-body {
		width: 100%;
		@media(max-width: @mobile-breakpoint) {
			display: flex;
			flex-direction: column;
		}
	}

	.post-preview-details {
		padding: 30px;
		@media(max-width: @mobile-breakpoint) {
			padding: 20px;
		}
	}

	.post-head {
		margin: 0 0 30px;

		.post-title {
			font-size: 2em;
			Line-height: 1.1;
			font-family: @body-font;
			margin: 0;
			@media(max-width: @mobile-breakpoint) {
				font-size: 1.7em;
			}

			a {
				color: @h1-color;
				transition: @transition;

				&:hover {
					color: @hover-color;
				}
			}
		}

		.post-excerpt {
			margin: 5px auto 0;
			line-height: 1.2;
			font-family: @sub-header-font;
			transition: @transition;
			color: @h1-color;
			font-size: 1.3em;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			display: -webkit-box;
			text-overflow: ellipsis;
			overflow: hidden;
			width: -webkit-fill-available;
			@media(max-width: @mobile-breakpoint) {
				margin: 5px auto 0;
				-webkit-line-clamp: 2;
				font-size: 1.1em;
			}
		}
	}

	.post-image {
		display: block;
		margin: 0;
		max-height: 350px;
		overflow: hidden;
		@media(max-width: @mobile-breakpoint) {
			order: 0;
			width: 100%;
			height: auto;
		}

		.featured-image {
			width: 100%;
			height: auto;
			transition: @transition;
			border-radius: 2px;

			&:hover {
				opacity: 0.7;
				cursor: pointer;
			}
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: @hover-color;

			& > span {
				color: @hover-color !important;
			}
		}
	}

	.post-footer {
		display: flex;
		justify-content: left;
		align-items: center;
		margin: 0;

		.meta-item {
			margin-right: 30px;
			color: #5b6374;
			font-size: 0.9em;
			transition: @transition;

			i {
				margin-right: 5px;
			}

			a {
				color: #5b6374;
				transition: @transition;

				&:hover {
					color: @hover-color;
					cursor: pointer;
				}
			}

			&.primary-tag {
				padding: 6px 12px;
				border-radius: 10px;
				color: white;
				text-transform: uppercase;
				font-size: 0.7em;
				display: block;
				line-height: 1.2;
				text-align: center;
				width: fit-content;
				float: right;
				transition: @transition;

				&:hover {
					background: white !important;
					cursor: pointer;

					a {
						color: @theme-color;
					}
				}

				a {
					color: white;
				}
			}

			&.date {
				@media(max-width:600px) {
					display: none;
				}
			}

			&.author {
				@media(max-width:600px) {
					display: none;
				}
			}
		}
	}
}
