@import "variables.less";
@import "mixin.less";

.postlist {
  background: white;
  padding: 40px;
  border-radius: 5px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  @media(max-width: @tablet-breakpoint) {
    margin: 0 auto;
    width: -webkit-fill-available;
    width: moz-available;
    border-radius: 0;
    padding: 50px;
    grid-gap: 50px;
  }
  @media(max-width: @mobile-breakpoint) {
    padding: 30px;
    grid-gap: 30px;
  }

  .post-preview {
    margin: 0;
  }
}
