@import "variables.less";
@import "mixin.less";

.postlist {
  background: white;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #e5eff5;
  @media(max-width: @tablet-breakpoint) {
    margin: 0 auto 20px;
    width: -webkit-fill-available;
    width: moz-available;
    max-width: 84%;
  }
  @media(max-width: @mobile-breakpoint) {
    max-width: 80%;
  }

  .post-preview {
    overflow: hidden;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.home-template .postlist {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;


  .post-preview {
    margin: 0;
  }
}
