@import "variables.less";
@import "mixin.less";
@import "fonts.less";

.meta-item {
  display: flex;
  justify-items: center;
  margin: auto 0;
  align-items: center;
  font-size: 14px;

  span {
    font-family: @body-font;
  }
}

.meta-item svg {
  width: 17px;
  margin-right: 5px;
}

.tags,
.primary-tag {
  &.nodejs {
    background-color: #76b507 !important;
  }

  &.aws {
    background-color: #de8125 !important;
  }

  &.django {
    background-color: #43b78b !important;
  }

  &.nosql {
    background-color: #6eb14a !important;
  }

  &.sql {
    background-color: #6a86b8 !important;
  }

  &.restapis {
    background-color: #a93e3e !important;
  }

  &.frontend {
    background-color: #d7ac0a !important;
  }

  &.data {
    background-color: #1cccae !important;
  }

  &.roundup {
    background-color: #666fa5 !important;
  }

  &.excel {
    background-color: #5bb85b;
  }

  &.devops {
    background-color: #3d5666 !important;
  }

  &.pandas {
    background-color: #e976c4 !important;
  }

  &.googlecloud {
    background-color: #1990f5 !important;
  }

  &.datascience {
    background-color: #5ecacc !important;
  }

  &.tableau {
    background-color: #ec9605 !important;
  }

  &.python {
    background-color: #16b9e7 !important;
  }

  &.flask {
    background-color: #505d7f !important;
  }

  &.statistics {
    background-color: #34b27a !important;
  }

  &.expressjs {
    background-color: grey !important;
  }

  &.atlassian {
    background-color: #36408c !important;
  }

  &.dataengineering {
    background-color: #757e98 !important;
  }

  &.codesnippetcorner {
    background-color: #747d9a !important;
  }

  &.javascript {
    background-color: #e6bb00 !important;
  }

  &.saas {
    background-color: #3d5075 !important;
  }

  &.datavis {
    background-color: #73bfcc !important;
  }

  &.plotly {
    background-color: #155a8b;
  }

  &.postgresql {
    background-color: #425167;
  }

  &.bigdata {
    background-color: #12b3a3;
  }

  &.graphql {
    background-color: #d56fa4;
  }

  &.apache {
    background-color: #d5212a;
  }

  &.spark {
    background-color: #efb13c;
  }

  &.raspberrypi {
    background-color: #c21c4a;
  }

  &.data-warehousing {
    background-color: #9597cb;
  }

  &.mysql {
    background-color: #6160ef;
  }
}
